﻿@model Nop.Plugin.Widgets.ClientReviews.Models.PublicInfoModel
@inject IThemeContext themeContext

@{
    Layout = "";
    var currentThemeName = themeContext.WorkingThemeName;

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.ClientReviews/Scripts/owl.carousel.js");
    Html.AddCssFileParts("~/Plugins/Widgets.ClientReviews/Content/owl-carousel.css");
    Html.AddCssFileParts("~/Plugins/Widgets.ClientReviews/Themes/" + currentThemeName + "/Content/carousel-clientreviews-customstyles.css");
}


@if (Model.ClientReviews.Count() > 0)
{
    <section class="client-testimonial container-box">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <header class="main-header">
                <h2>@Html.Raw(Model.Title)</h2>
            </header>
        }

        <div class="owl-carousel owl-theme">
            @foreach (var item in Model.ClientReviews)
            {
                <div class="item">
                    <blockquote class="client-blockquotes">
                        @if (!string.IsNullOrEmpty(item.PictureUrl))
                        {
                            <div class="quotes-img">
                                <img src="@item.PictureUrl" alt="@item.Name">
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.Name))
                        {
                            <cite>
                                @Html.Raw(item.Name)
                            </cite>
                        }
                        @if (!string.IsNullOrEmpty(item.Message))
                        {
                            @Html.Raw(item.Message)
                        }

                    </blockquote>
                </div>
            }
        </div>
    </section>

    <script asp-location="Footer">
        $(document).ready(function (e) {
            /* Clients Carousel */
            var owl = $('.client-testimonial .owl-carousel');
            owl.owlCarousel({
                loop: @(Model.LoopItems.ToString().ToLower()),
                center: @(Model.PositionCenter.ToString().ToLower()),
                nav: @(Model.ArrowsNavigation.ToString().ToLower()),
                dots: @(Model.DotNavigation.ToString().ToLower()),
                autoplay: @((Model.ScrollAnimationSpeed > 0).ToString().ToLower()),
                autoplayTimeout: @(Model.ScrollAnimationSpeed),
                autoplayHoverPause: @(Model.PauseAtHover.ToString().ToLower()),
                responsive: {
                    0: {
                        items: 1,
                        margin: 0
                    },
                    480: {
                        items: 2,
                        margin: 20
                    },
                    768: {
                        items: @(Model.NumberOfVisibleItems),
                        margin: 30
                    },
                    1200: {
                        items: @(Model.NumberOfVisibleItems),
                        margin: 30
                    }
                }
            });
        });
    </script>
}
