﻿
/* AJAX LOADER & ERRORS */

.k-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.nopAjaxCartPanelAjaxBusy,
.miniProductDetailsPanelAjaxBusy {
    position: absolute;
    z-index: 1070;
    width: auto;
    height: auto;
    background: url('images/loader.gif') no-repeat fixed 50% 50%;
    opacity: 0.7;
}

.addProductVariantToCartErrors {
    color: #c00;
}
.addProductVariantToCartErrors ul {
    margin: 20px;
}
.addProductVariantToCartErrors li {
    margin: 0 0 10px 0;
}


.productQuantityTextBox {
    float: left;
    width: 20px;
    text-align: center;
    font-size: 16px;
}

.ajaxCart {
    position: absolute;
    z-index: 1070;
    padding: 1px !important;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 1px 3px #666;
}

    .ajaxCart li {
        list-style: none;
    }

.ajaxCart .k-window-titlebar.k-header {
    border-radius: 12px 12px 0 0;
    margin: 0 !important;
    padding: 10px;
    border-bottom: 1px solid #999;
    background: #bbb url('images/button1.png') top repeat-x;
}

.ajaxCart .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 0;
    z-index: 1;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a {
    margin-top: 2px;
    border-color: #999;
    border-radius: 12px;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #aaa url('images/button-close-hover.png') center no-repeat;
    box-shadow: 0 0 1px #999 inset;
    font-size: 0;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a:hover {
    border-color: #bbb;
    background: #fff url('images/button-close.png') center no-repeat;
}

.productAddedToCartWindow, .miniProductDetailsView {
    padding: 15px 10px;
	border-radius: 0 0 12px 12px;
    background: url('images/separator.png') 0 -1px repeat-x;
    color: #555;
    line-height: 18px;
}

.productAddedToCartWindowTitle {
    position: absolute;
    top: 2px;
    left: 0;
    padding: 10px 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 0 #eee;
}
.nopAjaxCartPanelAjaxBusy,
.miniProductDetailsPanelAjaxBusy {
	z-index: 3;
}


/*** QUANTITY BOX & BUY BUTTON ***/



.ajax-cart-button-wrapper {
    display: inline-block;
}
.ajax-cart-button-wrapper input[type="text"],
.ajax-cart-button-wrapper select {
    width: 45px;
    height: 50px;
    border: 3px solid #f98919;
    border-right: 0;
    border-radius: 30px 0 0 30px;
    background: #fff;
    padding: 6px;
    text-align: center;
    font-size: 16px;
}
.ajax-cart-button-wrapper select{
    vertical-align: top;
    margin-right: -5px;
}
.nopAjaxCartProductListAddToCartButton {
	height: 50px;
}
.ajax-cart-button-wrapper input[type="button"] {
	border-radius: 0 30px 30px 0;
}


/*** SINGLE PRODUCT WINDOW ***/



.productAddedToCartWindowImage {
    float: left;
    overflow: hidden;
    margin: 0 15px 15px 0;
    width: 120px;
    text-align: center;
}

.productAddedToCartWindowImage a {
    display: block;
    overflow: hidden;
    line-height: 0;
}
.productAddedToCartWindowImage img {
    max-width: 100%;
}

.productAddedToCartWindowDescription {
    float: left;
    margin-bottom: 15px;
    width: 200px;
}

.productAddedToCartWindowDescription h1 {
    margin: 0 0 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 13px;
}

.productAddedToCartWindowDescription h1 a {
    color: #333;
}
.productAddedToCartWindowDescription h1 a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowDescription strong {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
	color: #740;
}
.productAddedToCartWindowDescription span {
    display: block;
    margin-bottom: 3px;
    color: #666;
}
.productAddedToCartWindowSummary {
    clear: both;
    padding: 10px;
    text-align: center;
    border-top: 1px dashed #ccc;
}
.productAddedToCartWindowSummary a {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
	color: #000;
}
.productAddedToCartWindowSummary a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowSummary div {
    margin-top: 10px;
}

.ajaxCart .addProductToCartErrors {
    padding: 10px;
}
.productAddedToCartWindowCheckout {
    max-width: 320px;
    border: 2px solid #f98919;
    border-radius: 23px;
    background: #f98919;
    padding: 3px 24px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: lowercase;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.productAddedToCartWindowCheckout:hover {
	background: #FAA147;
}


/*** GROUPED PRODUCTS WINDOW ***/



.miniProductDetailsView:focus,
.productAddedToCartWindow:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.miniProductDetailsView {
    background: #fff;
}

.miniProductDetailsView h1 {
    margin-bottom: 10px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 0 #eee;
}

.miniProductDetailsView .product-name {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 260px;
    height: 17px;
    overflow: hidden;
}

.miniProductDetailsView .product-essential {
    margin: 0;
    overflow: hidden;
	border-bottom: 1px dashed #ccc;
	background: #fff;
	padding: 15px;
}
.miniProductDetailsView .overview {
    margin: 0;
    float: left;
    text-align: left;
    width: auto;
}
.miniProductDetailsView .product-name {
    top: 12px;
}
.miniProductDetailsView h1.product-variant-name {
	text-shadow: none;
	font-size: 13px;
}
.miniProductDetailsView .short-description {
    float: none;
    margin-bottom: 10px;
    padding-top: 0;
    border-top: none;
    width: 250px;
}
.miniProductDetailsView .gallery {
	display: block; /*Cloud Zoom css override*/
    max-width: 300px;
    font-size: 0;
    margin: 0 20px 0 0;
    width: auto !important;
    float: left;
    overflow: hidden;
}
.miniProductDetailsView .product-essential .picture {
    overflow: hidden;
    width: auto !important;
    height: auto !important;
    line-height: normal !important;
}
.miniProductDetailsView .picture img {
	position: static;
    z-index: 0 !important;
    width: 100%;
}
.miniProductDetailsView .attributes {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.miniProductDetailsView .attributes dt {
	height: 32px;
}
.miniProductDetailsView .attributes dd {
	margin: 0;
}
.miniProductDetailsView .attributes select {
	height: 32px;
	padding: 6px 10px 6px 6px;
	font-size: 13px;
}

.miniProductDetailsView .product-variant-line {
    margin: 0;
}

.miniProductDetailsView .prices {
	margin-bottom: 10px;
    float: none;
    text-align: left;
}

.miniProductDetailsView .customer-entered-price {
    margin-bottom: 10px;
}

.miniProductDetailsView .enter-price-input {
    padding: 4px;
    width: 69px;
}

.miniProductDetailsView .add-to-cart {
    margin: 0 !important;
}
.miniProductDetailsView .add-to-cart > * {
    float: left;
}
.miniProductDetailsView .min-qty-notification {
    float: none !important;
    text-align: left;
    margin: 0 0 10px !important;
}
.miniProductDetailsView .qty-input {
    margin-left: 10px;
}

.miniProductDetailsView .product-collateral {
    margin: 0;
    border-radius: 0 0 12px 12px;
}

.miniProductDetailsView .giftcard {
    padding: 10px 15px;
    background: #fff;
    margin: 0;
}
.miniProductDetailsView .giftcard > div {
    float: none;
    width: auto;
    margin: 0 0 5px;
}
    .miniProductDetailsView .giftcard > div label {
        display: block;
        margin: 0 0 5px;
    }
    .miniProductDetailsView .giftcard textarea {
        width: 400px;
    }

.miniProductDetailsView .message-error {
    display: block;
    float: right;
    clear: both;
    margin: 10px 0 0 0;
    color: #c00;
    font-weight: bold;
    font-size: 14px;
}

.miniProductDetailsView .message-error li {
    margin: 5px 0;
}
/* RELATED AND CROSS SELL */

.ajaxCart .product-grid {
	padding: 0 5px;
    width: 390px;
    margin: 10px 0 0;
    overflow: hidden;
    background: #eee;
}
.ajaxCart .product-grid .title {
	font-size: 18px;
    line-height: normal;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.ajaxCart .product-grid .item-box .product-title a {
	display: inline-block;
	line-height: normal;
	height: 24px;
}
.ajaxCart .product-grid .item-box {
    width: 100px;
    margin-bottom: 10px !important;
}
.ajaxCart .item-grid {
    padding: 0 5px;
}
.ajaxCart .item-box:before {
    padding-top: 124%;
}
.ajaxCart .item-box .product-title a {
    font-size: 16px;
}
.ajaxCart .product-grid .item-box .picture,
.ajaxCart .product-grid .item-box .picture a {
	width: 100%;
    height: 100%;
}
.ajaxCart .product-title {
	font-size: 11px;
}



.ajaxCart .item-box .details,
.ajaxCart .item-box .quick-view-button,
.ajaxCart .item-box .buttonOverlay {
    display: none !important;
}