﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

span.search-box-text {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
input.search-box-text {
	height: 100%;
}
input.instant-search-busy {
	background: #fff url('images/loader.gif') right center no-repeat !important;
}
.k-ff {
    overflow: inherit !important; /*fix for missing kendo results dropdown in Firefox*/
}

/* CATEGORY FILTER */

.search-box select {
    display: none;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
	background-color: #eee;
	padding: 10px 30px 10px 15px;
	line-height: 38px; /*full height minus padding & borders*/
}
.air-theme .search-box select {
	font-size: 14px;
}
.earth-theme .search-box select {
	font-size: 18px;
}

/* AUTOCOMPLETE */

.instantSearch {
	width: calc(100% - 60px) !important;
	height: auto !important;
	margin: 0 0 0 -1px !important;
}
.instantSearch .k-list-container {
	position: static !important;
	width: 100% !important;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	background-color: #fff;
}
.instantSearch .k-list {
    height: 100%;
}
.instantSearch .k-item:first-child:before,
.instantSearch .k-item:last-child:after {
	content: "";
	display: block;
	height: 10px;
	background-color: #fff;
	/*pseudo padding, real padding triggers internal scrolling*/
}
.instant-search-item {
	overflow: hidden;
	padding: 10px 20px;
	cursor: pointer;
}
.instant-search-item .img-block {
	position: relative;
	float: left;
	width: 90px;
	height: 90px;
	overflow: hidden;
}
.instant-search-item .img-block img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.instant-search-item .detail {
	margin: 0 0 0 110px;
	text-align: left;
	line-height: normal;
}
.instant-search-item .title {
	margin: 0 0 5px;
	text-transform: uppercase;
	color: #555;
}
.air-theme .instant-search-item .title {
	font-size: 14px;
}
.earth-theme .instant-search-item .title {
	font-size: 16px;
	font-weight: 400;
}
.air-theme .instant-search-item .sku {
    font-size: 13px;
}
.earth-theme .instant-search-item .sku {
    font-size: 15px;
}
.air-theme .instant-search-item .price {
	font-size: 16px;
	font-weight: 700;
	color: #eda187;
}
.earth-theme .instant-search-item .price {
	font-size: 16px;
	font-weight: 400;
	color: #007c5a;
}
.k-item.k-state-hover .instant-search-item,
.k-item.k-state-focused .instant-search-item  {
	background: #f6f6f6;
}



@media all and (max-width: 480px) {

.instantSearch {
	width: 100% !important;
}
.instant-search-item .img-block {
	display: none;
}
.instant-search-item .detail {
	margin: 0;
}

}

@media all and (min-width: 481px) {

span.search-box-text.narrow {
	float: right;
	width: 60%;
}
.search-box select {
	display: block;
	float: left;
	width: 40%;
}

}

@media all and (max-width: 720px) {
	
.instantSearch.resize {
	left: 0 !important;
	width: 100% !important;
}

}

@media all and (min-width: 721px) {
	
.instantSearch.resize {
	width: calc(60% - 60px) !important;
}

}

@media all and (min-width: 1025px) {

.with-caregory-search-enabled form {
	width: 900px;
}
span.search-box-text.narrow {
	width: 65%;
}
.search-box select {
	width: 35%;
}
.air-theme.variant-2 .static span.search-box-text.narrow {
	width: 75%;
}
.air-theme.variant-2 .search-box.static select {
	width: 25%;
}
.air-theme .search-box select {
	font-size: 17px;
}
.earth-theme .search-box select {
	font-size: 20px;
}

.instantSearch {
	top: 78px !important;
	width: 100% !important;
	margin: 0 !important;
}
.instantSearch.resize {
	width: 65% !important;
}
.air-theme.variant-2 .static .instantSearch {
	top: 59px !important;
	width: calc(100% - 60px) !important;
	margin: 0 0 0 -1px !important;
}
.air-theme.variant-2 .static .instantSearch.resize {
	width: calc(75% - 60px) !important;
}

}