﻿@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <header class="main-header">
            <div class="separator-double"></div>
            <h2>@T("Homepage.Products")</h2>
            <p>You can start accepting orders online</p>
        </header>
        <div class="item-grid  owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                </div>
            }
        </div>
    </div>
}