﻿

/* quick view button */

.quick-view-button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -30px;
    background: rgba(255,255,255,0.8);
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    opacity: 0;
    z-index: 2;
}
.item-box .quick-view-button a {
    display: inline-block;
    padding: 20px 10px 20px 30px;
    background: url('images/icon-qv.png') no-repeat left center;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.quick-view-button a:before {
    display: none !important;
}
.item-box:hover .quick-view-button {
	opacity: 1;
}
.product-list .quick-view-button {
	margin-top: -25px;
}
.product-list .quick-view-button a {
	padding: 15px 10px 15px 30px;
}
.quickViewData {
    display: none;
}


/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/loading-image.gif') center no-repeat;
}



/********** PRODUCT OVERVIEW *********/


.quickView,
.quickViewWindow {
    min-width: 0 !important;
    width: 750px    ;
}
.quickView {
    position: absolute;
    z-index: 1070;
    padding-top: 0 !important;
    box-shadow: 0 0 15px #000;
    background: #fff;
}

.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
}
.quickViewWindow input[type=button],
.quickViewWindow a {
    cursor: pointer;
}
.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}
.quickView .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 9999px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
    display: block;
    border: 0;
    width: 18px;
    height: 18px;
    background: url(images/close.png) no-repeat center;
}
.quickViewWindow .product-essential {
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
    overflow: visible;
}
    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
.quickViewWindow .product-name {
    margin: 0;
    padding: 0 25px 0 0;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: #000;
}
.quickViewWindow .product-content {
    overflow: hidden;
	text-align: left;
}

/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    top: 50% !important;
    left: 50% !important;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-image: url('images/ajax_loader_big.gif');
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    display: block; /*Cloud Zoom css override*/
    float: left;
    margin-bottom: 0;
    padding: 0 0 40px;
    overflow: visible;
    width: 380px;
}
.quickViewWindow .gallery .picture {
    float: none;
    margin: 0 0 2px;
    width: 380px;
    background: #fff;
    line-height: 0;
}
.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow .gallery .picture a {
    border: none;
    overflow: hidden;
	width: 380px;
	height: 380px;
}
.quickViewWindow .gallery .picture a img {
    width: 100%;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .thumbnails {
    margin: 0 0 10px;
    overflow: hidden;
}
.quickViewWindow .gallery .thumbnails a, 
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    margin: 0;
    overflow: hidden;
    width: 95px;
    height: 95px;
    background: #fff;
}
.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}
.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 0 15px;
}
.quickViewWindow .links-panel a {
    display: block;
	text-transform: uppercase;
    text-align: left;
	font-weight: bold;
	font-size: 13px;
	color: #cc8a97;
}
.quickViewWindow .overview {
    float: right;
    margin-bottom: 0;
    padding: 40px 20px;
    width: 370px;
}
.quickViewWindow #accordion > h3 {
    position: relative;
    margin: 0 0 -2px;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 0;
    background: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    color: #000;
    cursor: pointer;
}
    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 11px;
        left: inherit;
        width: 16px;
        height: 16px;
        margin: -8px 0 0;
        cursor: pointer;
    }
.quickViewWindow .overview .ui-icon-circle-arrow-s {
    background: url(images/qv-minus.png) no-repeat center;
}
.quickViewWindow .overview .ui-icon-circle-arrow-e {
    background: url(images/qv-plus.png) no-repeat center;
}
.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    padding: 10px 0;
}
.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }
.quickViewWindow .overview .left, 
.quickViewWindow .overview .right,
.quickViewWindow .variant-grid-info .compare-products {
    max-width: none;
    float: none;
	margin: 0;
    text-align: left;
}
.quickViewWindow .left > div {
    margin: 10px 0;
}
.quickViewWindow div.tier-prices {
    clear: both;
    margin: 20px 0;
}
.quickViewWindow .tier-prices .field-header {
    min-width: 0;
}
.quickViewWindow .tier-prices table td {
    font-size: 12px !important;
}

.quickViewWindow .overview .purchase-area {
	margin: 0;
	padding: 0;
	border: none;
}
.quickViewWindow .overview .prices {
	margin-top: 0;
	text-align: left;
}
.quickViewWindow .overview .prices label {
	display: none;
}
.quickViewWindow .overview .old-product-price {
	margin: 0;
}
.quickViewWindow .overview .add-to-cart {
    float: left;
	margin-right: -1px;
}
.quickViewWindow .overview .add-to-cart-button {
	width: 180px;
	min-width: 0;
}
.quickViewWindow .overview .overview-buttons {
	float: left;
	margin: 0;
	border: none;
	padding: 0;
	font-size: 0;
}
.quickViewWindow .overview .customer-entered-price {
	padding: 0;
}
.quickViewWindow .overview .short-description {
	margin: 10px 0;
	text-align: left;
}
.quickViewWindow .overview .product-specs-box {
	margin: 20px 0;
}
.quickViewWindow .overview .attribute-squares {
	text-align: left;
}
.quickViewWindow .overview .attribute-square-container {
	margin: 0;
}
.quickViewWindow .overview .attribute-square {
	width: 28px;
	height: 28px;
}
.quickViewWindow .overview .attribute-squares input {
	position: static;
}
.quickViewWindow .overview .giftcard label {
	text-align: left;
}



/* variants */


.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(2n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
}

    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .product-variant .product-price {
	margin: 0;
	text-align: center;
    color: #cc8a97;
}
.quickViewWindow .product-variant .tax-shipping-info {
	margin: 0;
}
.quickViewWindow .variant-grid-info .compare-products {
	float: right;
}



/* related/also-purchased products */

.quickViewWindow .product-grid {
    margin: -10px 0 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .title {
    display: block;
    margin: 0;
	padding: 0 15px;
    text-align: center;
	font-size: 16px;
}
.quickViewWindow .product-grid .item-grid {
    padding: 20px 15px 25px;
}
.quickViewWindow .product-grid .item-box {
    padding: 0 5px;
    width: 20%;
    margin: 0;
}
.quickViewWindow .product-grid .item-box:hover {
	box-shadow: none;
}
.quickViewWindow .product-grid .item-box .picture {
    margin-bottom: 10px;
    background: none;
}
.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    line-height: 0;
}
.quickViewWindow .product-grid .item-box .details {
	padding: 0;
}
.quickViewWindow .product-grid .item-box .product-title {
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 35px;
    font-weight: normal;
    font-size: 13px;
    color: #888;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: inline;
}
.quickViewWindow .item-box .product-rating-box, 
.quickViewWindow .item-box .description, 
.quickViewWindow .item-box .add-info {
    display: none;
}



/* gift card */

.quickViewWindow .giftcard {
    clear: both;
    margin: 20px 0;
}
.quickView .giftcard > div {
    margin: 0 0 10px;
    overflow: hidden;
}
    .quickView .giftcard > div > * {
        float: left;
    }
.quickViewWindow .giftcard label {
    display: block;
    margin: 0 0 5px;
    width: 100%;
    font-size: 12px;
}
.quickViewWindow .giftcard input[type=text],
.quickViewWindow .giftcard input[type=email],
.quickViewWindow .giftcard input[type=phone] {
    height: 32px;
    padding: 6px;
}
.quickViewWindow .giftcard input[type=text],
.quickViewWindow .giftcard textarea {
    width: 100%;
}
.quickView .giftcard textarea {
    resize: none;
}



/* attributes */

.quickViewWindow .overview .attributes {
    margin-top: 15px;
}
.quickViewWindow .overview .attributes {
    clear: both;
    border: none;
    padding: 0;
}

    .quickViewWindow .overview .attributes dl:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

.quickViewWindow .overview .attributes dt {
    float: none;
    width: 100%;
    margin: 0;
    clear: left;
    text-align: left;
}

.quickViewWindow .overview .attributes .dt {
    white-space: normal;
}

.quickViewWindow .overview .attributes dd {
    margin-bottom: 10px;
}
.quickViewWindow .overview .attributes dl > * {
        float: left;
    max-width: 100%;
}
.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    border-top: 1px dashed #999;
    overflow: hidden;
    padding: 10px 0 0;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}

@media all and (max-width: 1024px) {

    .quick-view-button {
        display: none !important;
    }

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}