﻿<div class="total-info" ng-controller="OrderTotalController as vm">

    @await Html.PartialAsync("_AjaxLoader", "order-total-content-loader")

    <table class="cart-total">
        <tbody>
            <tr class="order-subtotal">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.SubTotal"):</span>
                </td>
                <td class="cart-total-right">
                    <span><span class="product-price">{{vm.orderTotalData.subTotal}}</span></span>
                </td>
            </tr>

            <tr class="order-subtotal-discount" ng-show="vm.orderTotalData.subTotalDiscount">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.SubTotalDiscount"):</span>
                </td>
                <td class="cart-total-right">
                    <span><span class="product-price">{{vm.orderTotalData.subTotalDiscount}}</span></span>
                </td>
            </tr>

            <tr class="shipping-cost">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.Shipping"):</span>
                    <span ng-show="vm.orderTotalData.requiresShipping && vm.orderTotalData.selectedShippingMethod" class="selected-shipping-method">
                        {{vm.stringFormat('@T("ShoppingCart.Totals.Shipping.Method")', vm.orderTotalData.selectedShippingMethod) }}
                    </span>
                </td>
                <td class="cart-total-right">
                    <span>
                        <span ng-if="vm.orderTotalData.requiresShipping">
                            <span ng-if="vm.orderTotalData.shipping" class="product-price">
                                {{vm.orderTotalData.shipping}}
                            </span>
                            <span ng-if="!vm.orderTotalData.shipping">
                                @T("ShoppingCart.Totals.CalculatedDuringCheckout")
                            </span>
                        </span>
                        <span ng-if="!vm.orderTotalData.requiresShipping">
                            <span>@T("ShoppingCart.Totals.Shipping.NotRequired")</span>
                        </span>
                    </span>
                </td>
            </tr>

            <tr class="additional-fees" ng-show="vm.orderTotalData.paymentMethodAdditionalFee">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</span>
                </td>
                <td class="cart-total-right">
                    <span class="product-price">{{vm.orderTotalData.paymentMethodAdditionalFee}}</span>
                </td>
            </tr>

            <tr class="tax-rate" ng-show="vm.orderTotalData.displayTaxRates && vm.orderTotalData.taxRates.length > 0" ng-repeat="taxRate in vm.orderTotalData.taxRates">
                <td class="cart-total-left">
                    <span>
                        {{vm.stringFormat('@T("ShoppingCart.Totals.TaxRateLine")', taxRate.rate) }}
                    </span>
                </td>
                <td class="cart-total-right">
                    <span>
                        {{taxRate.value}}
                    </span>
                </td>
            </tr>

            <tr class="tax-value" ng-show="vm.orderTotalData.displayTax">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.Tax"):</span>
                </td>
                <td class="cart-total-right">
                    <span><span class="product-price">{{vm.orderTotalData.tax}}</span></span>
                </td>
            </tr>

            <tr class="discount-total" ng-show="vm.orderTotalData.orderTotalDiscount">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.OrderTotalDiscount"):</span>
                </td>
                <td class="cart-total-right">
                    <span class="product-price">{{vm.orderTotalData.orderTotalDiscount}}</span>
                </td>
            </tr>

            <tr class="giftcard-summary" ng-repeat-start="giftCard in vm.orderTotalData.giftCards">
                <td class="cart-total-left">
                    <span>
                        <label>{{vm.stringFormat('@T("ShoppingCart.Totals.GiftCardInfo")', giftCard.couponCode) }}</label>
                        <button type="button" ng-show="vm.orderTotalData.isEditable" ng-confirm-message="@T("Common.AreYouSure")" ng-confirm-click="vm.orderTotalData.giftCardId = giftCard.id">@T("Common.Remove")</button>
                    </span>
                </td>
                <td class="cart-total-right">
                    <span class="product-price">{{giftCard.amount}}</span>
                </td>
            </tr>
            <tr class="giftcard-additional" ng-repeat-end>
                <td class="cart-total-left below">
                    <span>
                	    {{vm.stringFormat('@T("ShoppingCart.Totals.GiftCardInfo.Remaining")', giftCard.remaining) }}
                    </span>
                </td>
                <td class="cart-total-right below"></td>
            </tr>

            <tr class="reward-points" ng-show="vm.orderTotalData.redeemedRewardPoints > 0">
                <td class="cart-total-left">
                    <span>
                        {{vm.stringFormat('@T("ShoppingCart.Totals.RewardPoints")', vm.orderTotalData.redeemedRewardPoints) }}
                    </span>
                </td>
                <td class="cart-total-right">
                    <span class="product-price">{{vm.orderTotalData.redeemedRewardPointsAmount}}</span>
                </td>
            </tr>

            <tr class="order-total">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.OrderTotal"):</span>
                </td>
                <td class="cart-total-right">
                    <span>
                        <span ng-if="vm.orderTotalData.orderTotal" class="product-price"><strong>{{vm.orderTotalData.orderTotal}}</strong></span>
                        <span ng-if="!vm.orderTotalData.orderTotal">@T("ShoppingCart.Totals.CalculatedDuringCheckout")</span>
                    </span>
                </td>
            </tr>

            <tr class="earn-reward-points will-earn-reward-points" ng-show="vm.orderTotalData.willEarnRewardPoints > 0">
                <td class="cart-total-left">
                    <span>@T("ShoppingCart.Totals.RewardPoints.WillEarn"):</span>
                </td>
                <td class="cart-total-right">
                    <span class="product-price">
                    	{{vm.stringFormat('@T("ShoppingCart.Totals.RewardPoints.WillEarn.Point")', vm.orderTotalData.willEarnRewardPoints) }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
