﻿@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <header class="common-header" style="background-image:url(/Themes/UniRepair/Content/images/bg-repair.jpg);">
        <div class="container-box">
            <h1>Contact UniRepair!</h1>
            <h2>What is Lorem Ipsum?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </header>
    <div class="container-box">
        <div class="contact-area">
            <div class="contact-info">
                <div class="separator-double"></div>
                <h1>@T("PageTitle.ContactUs")</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                <ul class="contacts-list">
                    <li><i class="fa fa-home"></i><address>Address Goes Here</address></li>
                    <li><i class="fa fa-headphones-alt"></i>(123) 0 123 455669</li>
                    <li><i class="far fa-envelope"></i>info@test.com</li>
                </ul>
            </div>
            <div class="page-body contact-form">
                <div class="separator-double"></div>
                <h2>Get In Touch</h2>
                @*@await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })*@
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsTop })
                @if (Model.SuccessfullySent)
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                else
                {
                    <form asp-route="ContactUs" method="post">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="fieldset">
                            <div class="form-fields">
                                <div class="inputs">
                                    <label asp-for="FullName" asp-postfix=":"></label>
                                    <input asp-for="FullName" placeholder="" class="fullname" />
                                    <nop-required />
                                    <span asp-validation-for="FullName"></span>
                                </div>
                                <div class="inputs">
                                    <label asp-for="Email" asp-postfix=":"></label>
                                    <input asp-for="Email" placeholder="" class="email" />
                                    <nop-required />
                                    <span asp-validation-for="Email"></span>
                                </div>
                                @if (Model.SubjectEnabled)
                                {
                                    <div class="inputs">
                                        <label asp-for="Subject" asp-postfix=":"></label>
                                        <input asp-for="Subject" placeholder="" class="subject" />
                                        <nop-required />
                                        <span asp-validation-for="Subject"></span>
                                    </div>
                                }
                                <div class="inputs">
                                    <label asp-for="Enquiry" asp-postfix=":"></label>
                                    <textarea asp-for="Enquiry" placeholder="" class="enquiry"></textarea>
                                    <nop-required />
                                    <span asp-validation-for="Enquiry"></span>
                                </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        <nop-captcha />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                        </div>
                    </form>
                }
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactUsBottom })
            </div>
        </div>
    </div>
    <div class="map-holder container-box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7056191.421146485!2d64.85647714775725!3d30.282502427826138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e2!4m0!4m0!5e0!3m2!1sen!2s!4v1600109699618!5m2!1sen!2s" width="100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
