﻿@model Nop.Plugin.Widgets.OwlSlider.Models.PublicInfoModel
@inject IThemeContext themeContext

@{
    Layout = "";

    var currentThemeName = themeContext.WorkingThemeName;
    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.OwlSlider/Scripts/owl.carousel.js");
    Html.AddCssFileParts("~/Plugins/Widgets.OwlSlider/Content/owl-carousel.css");
    Html.AddCssFileParts("~/Plugins/Widgets.OwlSlider/Themes/" + currentThemeName + "/Content/carousel-customstyles.css");
}

<div class="owlhomepagetop-slider home-carousel">
    <div class="owl-carousel">
        @{
            var dataSlide1 = new ViewDataDictionary(ViewData)
            {
                {"pictureUrl", Model.Picture1Url},
                {"pictureMobileUrl", Model.Picture1MobileUrl},
                { "text", Model.Text1},
                { "link", Model.Link1},
                {"alttext", Model.AltText1 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.OwlSlider/Themes/Prisma/Views/_PublicInfo.SliderLine.cshtml", dataSlide1)
        }

        @{
            var dataSlide2 = new ViewDataDictionary(ViewData)
            {
                {"pictureUrl", Model.Picture2Url},
                {"pictureMobileUrl", Model.Picture2MobileUrl},
                { "text", Model.Text2},
                { "link", Model.Link2},
                {"alttext", Model.AltText2 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.OwlSlider/Themes/Prisma/Views/_PublicInfo.SliderLine.cshtml", dataSlide2)
        }

        @{
            var dataSlide3 = new ViewDataDictionary(ViewData)
            {
                {"pictureUrl", Model.Picture3Url},
                {"pictureMobileUrl", Model.Picture3MobileUrl},
                { "text", Model.Text3},
                { "link", Model.Link3},
                {"alttext", Model.AltText3 },
                { "dataTransition", "slideInLeft"}
            };

            @await Html.PartialAsync("~/Plugins/Widgets.OwlSlider/Themes/Prisma/Views/_PublicInfo.SliderLine.cshtml", dataSlide3)
        }

        @{
            var dataSlide4 = new ViewDataDictionary(ViewData)
            {
                {"pictureUrl", Model.Picture4Url},
                {"pictureMobileUrl", Model.Picture4MobileUrl},
                { "text", Model.Text4},
                { "link", Model.Link4},
                {"alttext", Model.AltText4 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.OwlSlider/Themes/Prisma/Views/_PublicInfo.SliderLine.cshtml", dataSlide4)
        }

        @{
            var dataSlide5 = new ViewDataDictionary(ViewData)
            {
                {"pictureUrl", Model.Picture5Url},
                {"pictureMobileUrl", Model.Picture5MobileUrl},
                { "text", Model.Text5},
                { "link", Model.Link5},
                {"alttext", Model.AltText5 }
            };

            @await Html.PartialAsync("~/Plugins/Widgets.OwlSlider/Themes/Prisma/Views/_PublicInfo.SliderLine.cshtml", dataSlide5)
        }
    </div>
</div>
<script asp-location="Footer">
    $(document).ready(function (e) {
        var owl = $('.owlhomepagetop-slider .owl-carousel');
        owl.owlCarousel({
            loop: true,
            nav: true,
            dots: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1,
                    margin: 0
                },
                500: {
                    items: 1,
                    margin: 0
                },
                1023: {
                    items: 1,
                    margin: 0
                }
            }
        });
    });
</script>