.owlhomepagetop-slider .container-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider-img {
  width: 50%;
}
.slider-img img{
  width: auto;
  max-width:100%;
  margin:0 auto;
  height:auto;
  display:block;
}
.slider-header {
  z-index: 9;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1px;
  width: 45%;
  margin-right:5%;
}

.slider-header h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.slider-header p{margin-bottom:20px;}
.btn-slider {
  display: inline-block;
  vertical-align: top;
  padding: 12px 20px;
  text-transform: capitalize;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
  background-color: #307096;
  color: #fff;
  text-shadow: none;
  letter-spacing: 2px;
}
.btn-slider:hover {
    background-color: #000;
    text-decoration:none;
    color:#fff;
}

.owl-dot {
  background-color: #307096 !important;
  border-color: #307096 !important;
}
.owl-dot.active,
.owl-dot:hover {
  background-color: #000 !important;
  border-color: #000 !important;
}

.owl-dots {
  bottom: 0;
  position:relative;
}

.owl-prev,
.owl-next {
  background-color: #307096 !important;
  color: black;
  border: none;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 40px;
  height: 40px;
  border: 0;
  transition: all 0.3s ease;
  font-size: 30px;
  z-index: 9;
  border-radius: 100%;
  box-shadow: none;
  color: #fff;
}
  .owl-prev:hover,
  .owl-next:hover {
    background-color: #000 !important;
    color: #fff !important
  }
.owl-next {
    left:auto;
  right: 10px;
}
.owlhomepagetop-slider .owl-carousel .owl-prev {
  left: -50px;
}

.owlhomepagetop-slider .owl-carousel .owl-next {
  right: -50px;
  left: auto;
}

.owlhomepagetop-slider .owl-carousel:hover .owl-prev {
  left: 10px;
}

.owlhomepagetop-slider .owl-carousel:hover .owl-next {
  right: 10px;
}

.home-page-product-grid .owl-next,
.home-page-product-grid .owl-prev {
  margin: 0 15px;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
@media all and (max-width: 1023px) {
  .owlhomepagetop-slider .container-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .slider-header {
    font-size: 15px;
  }
    .slider-header h1{font-size:24px;}
  .owlhomepagetop-slider .owl-nav {
    display: none;
  }
}
@media all and (max-width: 767px) {
  .slider-header {
    font-size: 15px;
    width:100%;
    margin-right:0;
    text-align:center;
    margin-bottom:30px;
  }
  .slider-img {
    width: 100%;
  }
  .slider-header p {
    margin-bottom: 10px;
  }
  .slider-header h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .owlhomepagetop-slider .container-box {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}