﻿@** Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model InstantSearchModel
@inject IWorkContext workContext
@{
    /*
    Kendo UI specific css files.
    kendo.common.min.css - it contains common kendo styles
    kendo.default.min.css - it contains deafult kendo theme specific styles. You can use the kendo theme builder for new themes - http://demos.kendoui.com/themebuilder/index.html
    */

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Themes/" + Model.Theme + "/Content/InstantSearch.css");

    if (this.ShouldUseRtlTheme())
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Themes/" + Model.Theme + "/Content/InstantSearch.rtl.css");
    }

    /*
        We usually use AddScriptParts but in this case, we need to use AppendScriptParts and reverse the order of adding the kendo js files in order for other plugins such as HelpDesk,
        which includes kendo.web.min.js to work properly.
    */

    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.autocomplete.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.list.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.popup.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.data.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/lib/kendo/2019.2.619/kendo.core.min.js");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.InstantSearch/Scripts/InstantSearch.min.js");
}

@if (Model.TopLevelCategories.Count > 0)
{
    <select class="search-box-select" id="instant-search-categories">
        <option value='0'>@T("SevenSpikes.InstantSearch.Public.AllCategories")</option>
        @foreach(var category in Model.TopLevelCategories) 
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
}
else if (Model.Manufacturers.Count > 0)
{
    <select class="search-box-select" id="instant-search-manufacturers">
        <option value='0'>@T("SevenSpikes.InstantSearch.Public.AllManufacturer")</option>
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <option value="@manufacturer.Id">@manufacturer.Name</option>
        }
    </select>
}
else if (Model.Vendors.Count > 0)
{
    <select class="search-box-select" id="instant-search-vendors">
        <option value='0'>@T("SevenSpikes.InstantSearch.Public.AllVendor")</option>
        @foreach (var vendor in Model.Vendors)
        {
            <option value="@vendor.Id">@vendor.Name</option>
        }
    </select>
}

<input type="hidden" class="instantSearchResourceElement"
       data-highlightFirstFoundElement="@Model.HighlightFirstFoundElementToBeSelected.ToString().ToLowerInvariant()"
       data-minKeywordLength="@Model.MinKeywordLength"
       data-defaultProductSortOption="@Model.DefaultProductSortOption"
       data-instantSearchUrl="@Url.RouteUrl("InstantSearch")"
       data-searchPageUrl="@Url.RouteUrl("ProductSearch")"
       data-searchInProductDescriptions="@Model.SearchInProductDescriptions.ToString().ToLowerInvariant()"
       data-numberOfVisibleProducts="@Model.NumberOfVisibleProducts" />

@* You can change the whole html by modifying the template below without the main div element as it is used in the navigation.
    There is NO need to add anchor html elements(<a href..) as the navigation is handled automaticaly when an item is selected.
    You can use the following tokens to get the information retuned from the server:
    ${ data.ProductPageUrl } - contains the url of the product page i.e /p/7. This property is required for the navigation to work and should not be removed from the template!!!
    ${ data.ProductName } - contains the name of the product
    ${ data.DefaultPictureUrl } - contains the Url of the default product picture
    ${ data.ProductPrice } - contains the price of the product
*@
<script id="instantSearchItemTemplate" type="text/x-kendo-template" asp-location="Footer">
    <div class="instant-search-item" data-url="${ data.CustomProperties.Url }">
        <a href="${ data.CustomProperties.Url }">
            <div class="picture">
                <img src="${ data.DefaultPictureModel.ImageUrl }" alt="${ data.Name }" title="${ data.Name }" style="border: none">
            </div>
            <div class="details">
                <div class="title">${ data.Name }</div>
                # var ratingPercent = (((data.ReviewOverviewModel.RatingSum * 100)/ data.ReviewOverviewModel.TotalReviews) / 5) || 0; #
                <div class="product-reviews-overview" #if (data.ReviewOverviewModel.TotalReviews>
                    0) {# itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"#}#>
                    <div class="rating-box">
                        <div class="rating-icons">
                            <div class="rating" style="width: #= ratingPercent #%">
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.ShowSku)
                {
                    <div class="sku"># var sku = ""; if (data.CustomProperties.Sku != null) { sku = "@T("Products.Sku"): " + data.CustomProperties.Sku } # #= sku #</div>
                }
                <div class="price"># var price = ""; if (data.ProductPrice.Price) { price = data.ProductPrice.Price } # #= price #</div>
                @*<span class="remove" title="remove">&nbsp;</span>*@
            </div>
        </a>
    </div>
</script>