
.ropc .section {
    margin: 0 0 10px !important;
    padding: 0;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fff;
    overflow: hidden;
}
.ropc .section .title {
    position: relative;
    padding: 0 40px;
    margin: 0;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f6f6f6;
    text-align: center;
    cursor: pointer;
}

.ropc .section .title:after {
    content: "\77";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: auto;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 10px;
    color: #97c300;
}

.ropc .section .section-title strong {
    font-size: 18px;
    color: #000;
    font-weight: 300;
}

.ropc .section-body {
    display: none;
    padding: 30px 20px;
}

.ropc .inputs span.ng-binding {
    display: block;
    margin: 2px 0 0;
    font-size: 13px;
    color: #ff4f60;
    font-weight: 700;
}

.ropc .choose-address {
    margin: 0 auto 30px;
    max-width: 500px
}
.ropc .choose-address select {
	width: 500px;
    max-width: 100%;
}

.ropc .form-fields,
.ropc .shipping-options {
    max-width: 500px;
    margin: 0 auto;
}

.ropc .ship-to-same-address {
    margin: 30px 0 0 !important;
}

.ropc .pickup-in-store .options {
    margin: 0 0 10px;
    color: #000;
}

.ropc .ship-to-same-address input[type="checkbox"] + label,
.ropc .pickup-in-store input[type="checkbox"] + label {
    font-size: 15px;
}

.ropc .pickup-points {
    margin: 10px 0 0;
}
.ropc .pickup-points-map {
	width: 100% !important;
	height: 300px !important;
	min-width: 0;
	min-height: 0;
	margin: 20px 0 0;
}
.ropc .estimate-shipping .hint {
    margin: 0 0 30px;
    font-size: 15px;
    color: #8c8c8c;
    text-align: center;
}
.ropc .estimate-shipping .message-error {
    margin-top: 30px;
}
.ropc .inputs .message-error {
    margin-top: 2px;
}
.ropc .estimate-shipping .buttons {
    margin: 20px 0 0;
}
.ropc .estimate-shipping button {
    border: 0;
    background-color: #f1f1f1;
	padding: 0 25px;
    height: 45px;
	font-size: 14px;
    color: #8c8c8c;
    font-weight: 700;
    border-radius: 3px;
	text-transform: uppercase;
}
.ropc .estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: default;
}
.ropc .shipping-results {
    margin: 30px 0 0;
    text-align: left;
    line-height: 22px;
}

.ropc .shipping-method .method-list,
.ropc .payment-method .method-list {
	max-width: 500px;
    margin: auto;
	text-align: center;
}

.ropc .payment-method .use-reward-points {
	max-width: 800px;
    margin: 0 auto 30px;
	text-align: center;
}

.ropc .payment-method .payment-details {
    min-width: 0;
}
.ropc .payment-info {
	max-width: 800px;
    margin: 30px auto 0;
	text-align: left;
}

.ropc .payment-info select {
    padding: 0 27px 0 20px;
    background: #fff url(images/select-arrow-dark.svg) no-repeat right 10px center;
}

.ropc .payment-info .info table {
    border: none;
}

.ropc .payment-info .info {
    padding: 0;
}
.ropc .payment-info .info p {
	text-align: left;
}
.ropc .payment-description {
    margin: 3px 0 0;
}
.ropc .multiple-locations {
    padding: 30px 0 0 0;
}

.ropc .order-summary-panel .section-body {
    padding-left: 10px;
    padding-right: 10px;
}

.ropc .cart {
    margin: 0;
}
.ropc .cart tr {
	width: 100%;
	margin: 0 0 30px;
}

.ropc .cart tr:last-child {
    margin-bottom: 0;
}

.ropc .cart .sku {
	display: none;
}

.ropc .cart td.quantity > div {
    display: inline-block;
}

.ropc .cart td.quantity input {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}

.ropc .cart .remove-from-cart button {
	display: block;
	margin: auto;
	cursor: pointer;
    border: none;
    font-weight: 700;
    color: #8c8c8c;
    font-size: 13px;
    font-family: "Roboto";
    text-transform: uppercase;
    background: transparent;
}

.ropc .cart .remove-from-cart button:before {
    content: "\4d";
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
    font-size: 15px;
    color: #8c8c8c;
    font-weight: normal;
    text-transform: none;
}

.ropc .cart .subtotal .discount,
.ropc .cart .subtotal .discount-additional-info {
    margin: 5px 0 0;
    white-space: normal;
    font-style: normal
}

.ropc .attributes-panel .attribute-list {
    text-align: center;
}

.ropc .cart .attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.ropc .cart .attribute-list .hidden {
    display: none;
}

.ropc .attribute-name {
    margin: 0 0 5px;
    font-weight: bold;
}

.ropc .attribute-values {
    line-height: 24px;
    margin: 0 0 15px;
}

.ropc .coupon-box-panel,
.ropc .giftcard-box-panel {
    text-align: center;
}

.ropc .coupon-box-panel .hint,
.ropc .giftcard-box-panel .hint {
    margin: 0 0 20px;
    font-size: 15px;
    color: #8c8c8c;
}
.ropc .coupon-box-panel .coupon-code,
.ropc .giftcard-box-panel .coupon-code {
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
}
.ropc .coupon-box-panel input[type="text"],
.ropc .giftcard-box-panel input[type="text"] {
	float: left;
	width: calc(100% - 105px);
}
.ropc .coupon-box-panel .coupon-code button,
.ropc .giftcard-box-panel .coupon-code button {
    display: inline-block;
    float: left;
    border: none;
    height: 45px;
    width: 100px;
    line-height: 45px;
    padding: 0 15px;
    margin: 0 0 0 5px;
    background-color: #f1f1f1;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8c8c8c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .1s ease;
}
.ropc .coupon-box-panel .coupon-code button:hover,
.ropc .giftcard-box-panel .coupon-code button:hover {
    background-color: #eaeaea;
}
.ropc .coupon-box-panel .message,
.ropc .giftcard-box-panel .message {
    margin: 5px 0 0;
    font-size: 13px;
    font-weight: 700;
}

.ropc .coupon-box-panel .message-success,
.ropc .giftcard-box-panel .message-success {
    color: #97c300;
}

.ropc .coupon-box-panel .message-failure,
.ropc .giftcard-box-panel .message-failure {
    color: #ff4f60;
}

.ropc .coupon-box-panel .current-code {
    margin: 10px 0 0;
}
.ropc .coupon-box-panel .current-code span {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 14px;
}
.ropc .coupon-box-panel .current-code button,
.ropc .total-info .cart-total button {
	display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
	border: 0;
    background-color: #f1f1f1;
    border-radius: 3px;
	vertical-align: middle;
    font-size: 0;
}

.ropc .coupon-box-panel .current-code button:before,
.ropc .total-info .cart-total button:before {
    content: "\7a";
    display: inline-block;
    vertical-align: bottom;
    color: #8c8c8c;
    font-size: 10px;
}

.ropc .order-totals-panel {
    border-radius: 3px 3px 0 0;
    padding: 50px 20px 30px;
    background-color: #f6f6f6;
}

.ropc .total-info,
.ropc .complete-order-panel > div {
    max-width: 400px;
    margin: 0 auto;
}
.ropc .total-info .cart-total button {
    position: relative;
    margin-top: -5px;
    z-index: 1;
    background-color: #fff;
}

.ropc .complete-order-panel {
    padding: 0 20px 50px;
    background-color: #f6f6f6;
    border-radius: 0 0 3px 3px;
}

.ropc .complete-order-panel > .terms-of-service {
    margin-bottom: 30px;
}

.ropc .error-list {
    color: #ff4f60;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: center;
}

.ropc .has-error {
    border-bottom: 2px solid #ff4f60 !important
}

.ropc .complete-button button {
    border: none;
    height: 45px;
    width: 100%;
    padding: 0 25px;
    border-radius: 3px;
    background-color: #eebe00;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .2s ease;
}

.ropc .complete-button button:hover {
    background-color: #e8af00;
}

.ropc .cart-total .cart-total-row span {
    font-size: 22px;
    color: #97c300;
    font-weight: 700;
}

.ropc input::-webkit-outer-spin-button,
.ropc input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* hide the input type number arrows */
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* LOADER */

.panel-loader-effect {
    background-color: rgba(255,255,255,.6);
}

.panel-loader-effect .spinner:before,
.panel-loader-effect .spinner:after {
	content:"";
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border: 0px solid #97c300;
	border-radius: 50%;
	-webkit-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	-moz-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
}

.panel-loader-effect .spinner:after {
	animation-delay: .8s;
}

.panel-loader-effect .spinner div {
    display: none !important;
}


@media all and (min-width:481px) {

    .ropc .order-summary-panel .section-body {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media all and (min-width: 769px) {

    .panel-group-left .section-body {
        max-width: 470px;
        margin: 0 auto;
    }

    .ropc .section .title:after {
        content: none !important;
        display: none !important;
    }
    .ropc .section-body {
	    display: block !important;
    }
    .ropc .shipping-method .method-list,
    .ropc .payment-method .method-list,
    .ropc .payment-method .use-reward-points {
	    max-width: none;
    }

    .ropc .selected-checkout-attributes {
	    float: none;
	    text-align: center;
    }
    .ropc .coupon-box-panel,
    .ropc .giftcard-box-panel {
        width: 100%;
        float: none;
    }

}

@media all and (min-width: 1025px) {

    .ropc .cart .remove-from-cart button {
        font-size: 0;
    }

    .ropc .cart .remove-from-cart button:before {
        margin: 0;
        font-size: 17px;
    }

    .ropc .remove-from-cart {
        min-width: 0 !important;
        font-size: 0;
        margin: 0;
    }

    .ropc .cart .remove-from-cart button {
        border-radius: 3px;
        width: 40px;
        height: 40px;
        background-color: #f1f1f1;
        background-position: center;
        transition: all .2s ease;
    }

    .ropc .cart .remove-from-cart button:hover {
        background-color: #eaeaea;
    }

    .ropc .product-picture {
        min-width: 80px;
        padding: 20px 0;
    }
}
