﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/* COMMON STYLES */


.spc-header {
	position: relative;
}
.spc .navigation {
    display: none;
}
.spc .mobile-navigation {
    margin: 0;
    text-align: center;
}
.spc .mobile-navigation {
    margin: 0 0 20px;
}
.spc-header .title,
.spc-categories .category-title {
	margin: 10px 0;
	border: 1px solid #d5d5d5;
    border-radius: 5px;
	padding: 0 10px;
    text-align: center;
    font: bold 13px/39px Arial,Helvetica,sans-serif;
	color: #000;
}
.spc-header ul {
	margin: 0 0 -1px;
	border: 1px solid #d5d5d5;
    border-radius: 5px 5px 0 0;
	font-size: 0;
    overflow: hidden;
}
.spc-header li {
	margin: -1px 0 0;
	border-top: 1px solid #d5d5d5;
	background-color: #f6f6f6;
	padding: 10px;
    text-align: center;
	font: 13px/1.3 arial,helvetica,sans-serif;
	cursor: pointer;
    color: #555;
}
.spc-header li.active {
	background: #fff;
	color: #212121;
    cursor: default;
}

.spc-body {
	position: relative;
    min-height: 312px; /*pre-loading height, should not be taller than any of the grids in any resolution, currently matched to desktop category grid, could be fine tuned per variant*/
}
.spc-body .product-grid {
	display: none;
	margin: 0;
}
.spc-body .product-grid.active {
	display: block;
}
.spc-body .product-grid .item-grid {
    border: 1px solid #d5d5d5;
    border-width: 1px 1px 0;
    padding: 15px;
}
.spc-body .no-data {
	display: block;
	padding: 20px 25px;
}


/* LOADING OVERLAY */


.spc-body .loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: rgba(255,255,255,0.9) url('images/loader.gif') center no-repeat;
}
.spc-products .spc-body .loading-overlay {
	display: block;
}
.spc-body .loading-overlay span {
	display: none;
}


/* PRODUCTS */


.spc-products {
	margin: 0 0 10px;
    min-height: 350px;
    border-radius: 5px;
}
.spc-products .spc-body .loading-overlay {
	bottom: 20px; /*loader-overlay fix, depending on item-box bottom margin*/
}


/* CATEGORIES */


.spc-categories {
	margin: 0 0 10px;
}
.spc-categories + div {
    margin-top: 20px;
}
.spc-categories > .loading-overlay {
    background-color: #fff;
    line-height: 340px;
    text-align: center;
}

.spc-categories .category-info {
	position: relative;
	border: 1px solid #e6e6e6;
}
.spc-categories .category-details {
	padding: 10px;
}
.spc-categories .category-sublist {
	display: none;
	padding: 0 0 10px;
}
.spc-categories .category-sublist li {
	padding: 5px 0;
}
.spc-categories .category-sublist li a {
	padding: 5px 0;
}
.spc-categories .category-sublist li a:hover {
	color: #4ab2f1;
}
.spc-categories .category-picture {
	display: none;
	font-size: 0;
}

.spc-categories .category-products {
	position: relative;
}
.spc-categories .product-grid {
	display: none;
}
.spc-categories .product-grid.active {
	display: block;
}

.spc-categories .product-title {
	height: auto;
	margin: 0 0 10px;
}



@media all and (min-width: 481px) {

.spc-header ul {
    margin: 0.2em 0.2em 0;
    border: 1px solid #d5d5d5;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 4px 0 0;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
}
.spc-header li {
    display: inline-block;
    border: none;
    border-radius: 5px 5px 0 0;
    margin: 1px 0.2em 0; 
    padding: 0.5em 1em;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
}
.spc-categories .category-sublist li {
	display: inline-block;
	padding: 5px 10px;
}
.spc-body .product-grid .item-grid {
    border-top: none;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0 0 5px 5px;
}

}


@media all and (min-width: 1025px) {

.spc-header li {
	margin: 0 0 0 3px;
}

.spc .navigation {
    display: block;
}
.spc .mobile-navigation {
    display: none;
}
.spc-categories + .spc-categories {
	margin-top: 0;
}
.spc-categories .spc-header {
	margin: 0;
	overflow: hidden;
}
.spc-categories .category-title {
    max-width: 95%;
    margin: 0 auto;
}
.spc-categories .category-title a {
    display: block;
    border-radius: 5px;
    line-height: 30px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
}
.spc-categories .spc-body {
    border: 1px solid #d5d5d5;
    border-radius: 0 0 5px 5px;
    border-top: none;
    padding: 15px 0 0;
}
.spc-categories .spc-body:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .product-grid .item-grid {
    border: none
}

.spc-categories .product-grid {
	min-height: 282px; /*places loader in the middle when the grid contains less than 3 items, depending on item-box height + margins*/
}
.spc-categories .category-info {
	position: relative;
	z-index: 1;
	margin: 0;
	border: none;
}
.spc-categories .category-info:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .category-details {
	z-index: 2;
	padding: 0 0 5px;
	transition: all 0.3s ease;
}
.spc-categories .category-title {
	position: relative;
	padding: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-title:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-title a {
	
}
.spc-categories .category-sublist {
	display: none;
	width: 250px;
	background-color: rgba(255,255,255,0.9);
	padding: 15px;
	opacity: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-info:hover .category-title:after,
.spc-categories .category-info:hover .category-sublist {
	opacity: 1;
}
.spc-categories .category-sublist li {
	display: block;
	padding: 10px 20px;
}
.spc-categories .category-sublist a {
	display: inline-block;
	position: relative;
	padding: 0 !important;
}
.spc-categories .category-sublist a:before {
	content: "";
	position: absolute;
	top: 6px;
	left: -15px;
	width: 5px;
	height: 5px;
	background-color: #ddd;
}
.spc-categories .category-picture a {
	display: block;
	position: relative;
	overflow: hidden;
	padding-top: 90%;
}
.spc-categories .category-picture img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	transition: all 0,3s ease;
}
.spc-categories.portrait .category-picture img {
	width: 100%;
}
.spc-categories.landscape .category-picture img {
	height: 100%;
}
.spc-categories .category-picture a:hover img {
	opacity: 0.9;
}
.spc-categories .item-grid {
    padding: 5px !important;
}
.spc-categories .category-products {
	padding: 0 0 0 5px;
}
.spc-categories .item-box {
	width: 49.75% !important;
	height: 137px; /*match grids height with category picture, based on 4 items per grid + margins,
	always use fixed height to prevent "content shifting" bug in Firefox*/
	clear: none !important;
	margin: 0 0 0.5% !important;
}
.spc-categories .item-box:nth-child(odd) {
	margin-right: 0.5% !important;
}
.spc-categories .product-item {
	text-align: left;
}
.spc-categories .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .picture {
	float: left;
	width: 40%;
	margin: 0;
}
.spc-categories .details {
	float: right;
	width: 60%;
	padding: 0 0 0 5px;
}
.spc-categories .item-box h2.product-title {
	margin: 0 0 8px;
}
.spc-categories .product-title a {
    text-align: left;
}
.spc-categories .item-box .product-rating-box {
    display: none;
}
.spc-categories .prices {
	height: auto;
	min-height: 17px; /*cross-broser line-height fix*/
	margin: 0 0 9px;
}
.spc-categories .prices span {
	font-size: 12px;
}
.spc-categories .prices span.actual-price {
    font-size: 14px;
}
.spc-categories .tax-shipping-info {
	display: none !important;
}
.spc-categories .quick-view-button,
.spc-categories .productQuantityTextBox,
.spc-categories .productQuantityDropdown {
	display: none !important;
}
.spc-categories .ajax-cart-button-wrapper {
	width: auto !important;
}

.spc-categories .spc-body .loading-overlay {
	bottom: 0; /*depending on item-box margin*/
}

}
