﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/* COMMON STYLES */

.spc-products {
    padding-top:30px;
}
.spc-header {
  position: relative;
}
.spc .navigation {
    display: none;
}
.spc .mobile-navigation {
  margin: 0 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
}
.spc-header .title {
	margin: 0 0 30px;
	border-bottom: 1px solid #ddd;
	padding: 0 0 15px;
	font-size: 36px;
	font-weight: normal;
    color:#000;
    text-transform:capitalize;
}
.spc-header ul {
	margin: 0 0 30px;
	border: 1px solid #ddd;
	font-size: 0;
}
.spc-header li {
	margin: -1px 0 0;
	border-top: 1px solid #ddd;
	background-color: #f6f6f6;
	padding: 14px 24px;
	font-size: 16px;
	cursor: pointer;
}
.spc-header li.active {
	background-color: #307096;
	color: #fff;
}

.spc-body {
	position: relative;
    backface-visibility: hidden;
    min-height: 312px; /*pre-loading height, should not be taller than any of the grids in any resolution, currently matched to desktop category grid, could be fine tuned per variant*/
}
.spc-body .product-grid {
	display: none;
	margin: 0;
}
.spc-body .product-grid.active {
	display: block;
}
.spc-body .no-data {
	display: block;
	padding: 20px 25px;
}


/* LOADING OVERLAY */


.spc-body .loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: rgba(255,255,255,0.9) url('images/loader.gif') center no-repeat;
}
.spc-products .spc-body .loading-overlay {
	display: block;
}
.spc-body .loading-overlay span {
	display: none;
}


/* PRODUCTS */


.spc-products {
	margin: 0;
    min-height: 599px;
}
.spc-products .spc-header {
    margin-bottom: 30px;
}
.spc-products .spc-body .loading-overlay {
	bottom: 50px; /*loader-overlay fix, depending on item-box bottom margin*/
}


/* CATEGORIES */


.spc-categories {
	margin: 0;
    min-height: 428px;
}
.spc-categories + .spc-categories {
	margin-top: -50px;
}
.spc-categories > .loading-overlay {
    background-color: #fff;
    line-height: 340px;
    text-align: center;
}

.spc-categories .category-info {
	position: relative;
	margin: 0 0 33px;
	border: 1px solid #e6e6e6;
}
.spc-categories .category-title {
	padding: 15px 115px 15px 15px;
	font-size: 22px;
	font-weight: normal;
	color: #444;
}
.spc-categories .category-details {
	padding: 0;
}
.spc-categories .category-sublist {
	display: none;
	padding: 0 0 10px;
}
.spc-categories .category-sublist li {
	padding: 5px 0;
}
.spc-categories .category-sublist li a {
	padding: 5px 0;
}
.spc-categories .category-sublist li a:hover {
	color: #4ab2f1;
}
.spc-categories .category-picture {
	display: none;
	font-size: 0;
}

.spc-categories .category-products {
	position: relative;
}
.spc-categories .product-grid {
	display: none;
}
.spc-categories .product-grid.active {
	display: block;
}

.spc-categories .product-item {
	padding: 0 !important;
}
.spc-categories .product-title {
	height: auto;
	margin: 0 0 10px;
}
.spc-products .slick-slider {
  margin: 0 -1%;
  width: auto;
}
.spc-products .slick-box.item-box {
  width: auto;
  margin: 0 3%;
}
.slick-next,
.slick-prev {
  position: absolute;
  top: 35%;
  transform:translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  width: 38px;
  height: 38px;
  background-color: #307096;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index:99;
  opacity:0;
  visibility:hidden;
}
.slick-next {
  right: 0;
  background-image: url(images/jcarousel-right.png);
}
.slick-prev {
  left: 0;
  background-image: url(images/jcarousel-left.png);
}
.spc-products .slick-next {
  right: -50px;
  background-image: url(images/jcarousel-right.png);
}
.spc-products .slick-prev {
  left: -50px;
  background-image: url(images/jcarousel-left.png);
}
.spc-products .product-grid:hover .slick-next {
  right: 20px;
  opacity: 1;
  visibility: visible;
}
.spc-products .product-grid:hover .slick-prev {
  left: 20px;
  opacity: 1;
  visibility: visible;
}
.slick-dots {
    text-align:center;
}
.slick-dots {
  text-align: center;
  padding-top:10px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #307096;
  transition:all 0.3s ease;
  cursor:pointer;
}
.slick-dots li:hover,
.slick-dots li.slick-active{
  background-color: #000;
}
.slick-dots li button{
    background-color:transparent;
    border:0;
    padding:0;
    font-size:0;
    width:10px;
    height:10px;
}
.spc-categories .slick-next, .spc-categories .slick-prev {
  transform: translate(0);
  top: -37px;
  opacity: 1;
  visibility: visible;
}
.spc-categories .slick-next {
  right: 8px;
}
.spc-categories .slick-prev {
  left: auto;
  right:55px;
}
.spc-categories .item-box .buttons {
  padding: 0;
}
.spc-categories .slick-slider {
  width: auto;
  margin: 0 -1%;
}
.spc-categories .slick-box.item-box {
  width: auto !important;
  margin: 0 2% !important;
}
@media all and (min-width: 481px) {
  .spc-categories .category-sublist li {
	display: inline-block;
	padding: 5px 10px;
}

}


@media all and (min-width: 768px) {

.spc-header ul {
	border: none;
}
.spc-header li {
	display: inline-block;
	margin: 3px;
	border: 1px solid #ddd;
}

}


@media all and (min-width: 1024px) {

.spc-header li {
	margin: 0 0 0 5px;
}
.spc .navigation {
    display: block;
}
.spc .mobile-navigation {
    display: none;
}

.spc-products .spc-header .title {
	min-height: 42px; /*fix for product header without title*/
	text-align: left;
}
.spc-products .spc-header ul {
	position: absolute;
	right: -3px;
	bottom: 0;
	margin: 0;
}

.spc-categories + .spc-categories {
	margin-top: 0;
}
.spc-categories .spc-header {
	margin: 0 0 45px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.spc-categories .spc-header ul {
	float: right;
	margin: 0 0 -1px;
}
.spc-categories .spc-body:after {
	content: "";
	display: block;
	clear: both;
}

.spc-categories .product-grid {
	min-height: 350px; /*places loader in the middle when the grid contains less than 3 items, depending on item-box height + margins*/
}
.spc-categories .category-info {
	position: relative;
	z-index: 1;
	float: left;
	width: 35%;
	min-height: 312px; /*match category picture height with grid height*/
	margin: 10px 0 38px;
	border: none;
}
.spc-categories .category-info:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .category-details {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 0 0 5px;
	transition: all 0.3s ease;
}
.spc-categories .category-title {
	position: relative;
	padding: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-title:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-title a {
	display: inline-block;
	background-color: rgba(255,255,255,0.9);
	padding: 15px 25px;
}
.spc-categories .category-sublist {
	display: block;
	width: 250px;
	background-color: rgba(255,255,255,0.9);
	padding: 15px;
	opacity: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-info:hover .category-title:after,
.spc-categories .category-info:hover .category-sublist {
	opacity: 1;
}
.spc-categories .category-sublist li {
	display: block;
	padding: 10px 20px;
}
.spc-categories .category-sublist a {
	display: inline-block;
	position: relative;
	padding: 0 !important;
}
.spc-categories .category-sublist a:before {
	content: "";
	position: absolute;
	top: 6px;
	left: -15px;
	width: 5px;
	height: 5px;
	background-color: #ddd;
}

.spc-categories .category-picture {
	display: block;
	max-width: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
.spc-categories .category-picture a {
	display: block;
	position: relative;
	overflow: hidden;
	padding-top: 90%;
}
.spc-categories .category-picture img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	transition: all 0,3s ease;
}
.spc-categories.portrait .category-picture img {
	width: 100%;
}
.spc-categories.landscape .category-picture img {
	height: 100%;
}
.spc-categories .category-picture a:hover img {
	opacity: 0.9;
}

.spc-categories .category-products {
	float: right;
	width: 65%;
	padding: 0 0 0 20px;
}
.spc-categories .item-box {
	width: 49% !important;
	height: 137px; /*match grids height with category picture, based on 4 items per grid + margins,
	always use fixed height to prevent "content shifting" bug in Firefox*/
	clear: none !important;
	margin: 0 0 38px !important;
}
.spc-categories .item-box:nth-child(odd) {
	margin-right: 2% !important;
}

.spc-categories .product-item {
	text-align: left;
}
.spc-categories .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .picture {
	float: left;
	width: 45%;
	margin: 0;
}
.spc-categories .details {
	float: right;
	width: 55%;
	padding: 10px;
}
.spc-categories .product-title {
	min-height: 38px;
	max-height: 38px;
	margin: 0 0 8px;
	font-size: 16px;
}
.spc-categories .product-rating-box {
	margin: 0 0 6px;
}
.spc-categories .rating {
	width: 85px;
	background: url('images/rating1.png');
}
.spc-categories .rating div {
	background: url('images/rating2.png');
}
.spc-categories .prices {
	height: auto;
	min-height: 17px; /*cross-broser line-height fix*/
	margin: 0 0 9px;
}
.spc-categories .prices span {
	font-size: 14px;
}
.spc-categories .tax-shipping-info {
	display: none !important;
}
.spc-categories .quick-view-button,
.spc-categories .productQuantityTextBox,
.spc-categories .productQuantityDropdown {
	display: none !important;
}
.spc-categories input[type="button"] {
	width: 42px !important;
	max-width: 80px;
	height: 40px;
	background-color: #eaeaea;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0 !important;
}
.spc-categories .add-to-compare-list-button {
	background-image: url('images/compare-button.png');
}
.spc-categories .add-to-wishlist-button {
	background-image: url('images/wishlist-button.png');
}
.spc-categories input[type="button"]:hover {
	background-color: #ddd;
}
.spc-categories .product-box-add-to-cart-button {
	background-color: #307096 !important;
	background-image: url('images/cart-button.png');
}
.spc-categories .product-box-add-to-cart-button:hover {
	background-color: #000 !important;
}

.spc-categories .ajax-cart-button-wrapper {
	width: auto !important;
}

.spc-categories .spc-body .loading-overlay {
	bottom: 38px; /*depending on item-box margin*/
}

}


@media all and (min-width: 1367px) {

.spc-categories .category-info {
	width: 40%;
}
.spc-categories .category-picture a {
	padding-top: 65%;
}
.spc-categories .category-products {
	width: 60%;
}
.spc-categories .picture {
	width: 40%;
}
.spc-categories .details {
	width: 60%;
}
.spc-categories .prices {
	margin: 0 0 10px;
}

}
@media all and (max-width: 1023px) {
  .spc-categories .mobile-navigation {
    margin: 0;
    top: 12px;
    left: auto;
    right: 10px;
  }
  .spc-categories .item-box .details {
    padding: 10px;
  }
  .spc-categories .slick-prev {
    left: 8px;
    right: auto;
  }
  .spc-products .spc-header {
    margin-bottom: 20px;
  }
  .spc-header .title {
    padding: 0 107px 15px;
    margin-bottom: 20px;
  }
  .spc-categories .category-info {
    margin-bottom:47px;
  }
}
@media all and (max-width: 767px) {
  .spc-header .title {
    font-size:28px;
  }
  .spc .mobile-navigation {
    top: 5px;
  }
}
@media all and (max-width: 549px) {
  .spc-products .spc-header {
   text-align:center;
  }
  .spc-header .title {
    font-size:26px;
    padding-left:0;
    padding-right:0;
  }
  .spc .mobile-navigation {
    top: auto;
    left:auto;
    position:relative;
  }
  .spc-categories .mobile-navigation {
    top: 10px;
    position: absolute;
  }
}