﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

@media (min-width: 768px) {
    .newsletter-subscribe-popup  {
        text-align: right;
    }
}

.newsletter-subscribe-popup input[type="text"],
.newsletter-subscribe-popup .newsletter-email button {
    float: right;
}