﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/********* START BUTTON *********/

.quick-view-button {
    position: absolute;
	z-index: 2;
    background: #a7bf22;
    left: 50%;
    top: 50%;
    min-width: 110px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color: #fff;
    opacity: 0;
    transition: all .4s ease-in-out;
}


.quick-view-button a {
    display: block;
	padding: 6px 12px;
    text-align: center;
    text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: inherit;
    cursor: pointer;
}
.quickViewData {
    display: none;
}

.buttonOverlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 340px;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}

.item-box:hover .quick-view-button {
    opacity: 1;
}



/********* SCREEN OVERLAY & DATA LOADER *********/

.k-overlay {
  position: fixed;
  z-index: 1060;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  /*filter: alpha(opacity=50);*/
}
.quickView .k-loading-mask {
	position: absolute;
	top: 0;
	left: 0;
}
.quickView .k-loading-image {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: -15px;
	background: url('images/loading-image.gif') center no-repeat;
}


/********** MAIN QUICKVIEW WINDOW *********/

.quickView {
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 0 !important;
    box-shadow: 0 0 15px #000;
    background: #fff;  
    z-index: 1070;
    width: 700px !important;
}
.quickViewWindow input[type=button],
.quickViewWindow a {
    cursor: pointer;
}
/*close button start*/
.quickView .k-window-titlebar.k-header {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 0 !important;
	background: none !important;
}
.quickView .k-window-titlebar.k-header .k-window-actions {
	position: absolute;
	top: 11px;
	right: 13px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	text-indent: 9999px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid #999;
	background: #ccc url('images/button-close.png') center no-repeat;
}
.quickView .k-window-titlebar.k-header .k-window-actions a:hover {
	border-color: #aaa;
	background-color: #fff;
} /*close button end*/

.quickViewWindow .product-essential {
	float: none;
	width: auto;
	border: 0;
    margin: 0;
    overflow: visible;
}
.quickViewWindow .product-essential:after {
	content: ".";
    display: block;
    clear: both;
    height: 0;
	font-size: 0;
    line-height: 0;
	visibility: hidden;
}
.quickViewWindow .popup-header {
	border-bottom: 1px solid #ccc;
	padding: 0 40px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #ddd;
    box-shadow: 0 1px 0 #fff inset;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.65) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#a6ffffff',GradientType=0 );
    background-size: 100% 200%;
    background-color: #dedede;
}
.quickViewWindow .product-name {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-shadow: 1px 1px 0 #fcfcfc;
}

.quickView .cloudzoom-blank,
.quickView .cloudzoom-zoom-inside  {
    bottom: 0;
}

.quickView .cloudzoom-zoom-inside {
    width: 100% !important;
    height: 100% !important;
}


/********** GALLERY *********/
/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    background-image: url('images/loader.gif');
    width: 32px;
    height: 32px;
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */

.quickViewWindow .product-content {
    padding: 25px 10px 15px;
    background: url('images/separator.png') 0 -1px repeat-x;
}

.quickViewWindow .product-content:after {
    content: "";
    display: block;
    clear: both;
}

.quickViewWindow .gallery {
    display: block;
	float: left;
    width: 250px;
	margin-bottom: 0;
    overflow: visible;
}
.quickViewWindow .gallery .picture {
    position: relative;
    border: none;
    margin-bottom: 0;
    height: auto;
    width: 100%;
	box-shadow: 0 1px 3px 0 #ccc;
	background: #fff;
	line-height: 0;
	float: none;
}

.quickViewWindow .gallery .picture a {
	width: 250px;
	height: auto;
	border: none;
	overflow: hidden;
}

.quickViewWindow .related-products-grid {
    margin-bottom: 10px;
}

.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img, 
.quickViewWindow .also-purchased-products-grid .picture img {
	z-index: 0 !important;
}

.quickViewWindow .gallery .picture a img {
    display: block;
    position: static;
    margin: 0 auto;
}

.quickView .gallery .picture:before {
    display: none;
}
.quickViewWindow .gallery .picture #wrap {
    display: inline-block;
}

.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
}
.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
	float: left;
	width: 74px;
	height: 74px;
	margin: 1px 0 8px 10px;
	border: 1px solid #fff;
	box-shadow: 0 1px 3px 0 #ccc;
	overflow: hidden;
	background: #fff;
    position: relative;
}

.quickViewWindow .gallery .thumbnails a:nth-child(3n),
.quickViewWindow .gallery .thumbnails > img:nth-child(3n) {
    margin-left:0;
}

.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
} 
.quickViewWindow .gallery .thumbnails a img:hover {
	opacity: 0.7; /*cloud zoom only*/
}
.quickViewWindow .links-panel {
    margin-top: 15px;
	padding: 10px 0;
}
.quickViewWindow .links-panel a {
    display: block;
    background: url('images/bullet-right.png') left center no-repeat;
	padding-left: 15px;
    text-align: left;
    font-size: 14px;
	text-transform: uppercase;
	color: #333;
}
.quickViewWindow .links-panel a:hover {
    text-decoration: underline;
}


/********** OVERVIEW *********/



.quickViewWindow .overview {
    float: right;
    padding: 0;
	margin-bottom: 0;
    margin-top: 0;
    width: calc(100% - 265px);
    min-height: inherit;
    background: none;
}

.quickViewWindow #accordion {
    margin-bottom: 10px;
}

.quickViewWindow #accordion > h3 {
	position: relative;
    margin: 0;
	border: 1px solid #eee;
    border-top: 1px solid #fff;
	border-radius: 0;
	padding: 5px 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    box-shadow: 0 1px 0 #fff inset;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.65) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.65) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#a6ffffff',GradientType=0 );
    background-size: 100% 200%;
    background-color: #dedede;
    border-bottom: 1px solid #ccc; 
}
.quickViewWindow #accordion > h3 span {
    position: absolute;
    display: block;
    top: 50%;
    right: 11px;
    left: auto;
    width: 16px;
    height: 16px;
	margin: -8px 0 0;
    cursor: pointer;  
}

.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/minus.png) no-repeat center;
}
.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/plus.png) no-repeat center;
}

.quickViewWindow #accordion .product-details {
	position: relative;
	margin: 0;
	border-width: 1px;
	border-style: solid;
	border-color: #eee;
    border-radius: 0;
	padding: 15px 10px 10px;
    background: url(images/separator.png) 0 -1px repeat-x;
}

.quickViewWindow .overview .left {
    float: left;
	max-width: 60%;
	margin-bottom: 5px;
    text-align: left;
}
.quickViewWindow .overview .right {
    float: right;
	margin-bottom: 10px;
    text-align: right;
}
.quickViewWindow .overview .left > *,
.quickViewWindow .overview .right > * {
    margin-bottom: 5px;
	overflow: hidden;
}

.quickViewWindow  .left .stock {
margin-top: 0;
margin-bottom: 8px;
}

.quickViewWindow .overview .tier-prices {
    clear: both;
}

.quickViewWindow  .back-in-stock-subscription {
    margin: 12px 0 10px;
}
.quickViewWindow  .left .download-sample {
    margin-bottom: 8px;
}
.quickViewWindow  .email-a-friend input,
.quickViewWindow  .compare-products input {
    margin: 0;
}
.quickViewWindow  .add-to-wishlist {
    overflow: hidden;
}

.quickViewWindow .left .download-sample-button a {
    display: block;
}
.quickViewWindow .left .download-sample-button a:hover {
    background-position: bottom;
}
.quickViewWindow .add-to-wishlist-button {
    float: right;
}
.quickViewWindow .add-to-wishlist-button:active,
.quickViewWindow  .back-in-stock-subscription:active,
.quickViewWindow  .subscribe-button:active,
.quickViewWindow  .add-to-compare-list-button:active,
.quickViewWindow .left .download-sample-button a:active {
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15),0 1px 2px rgba(0,0,0,.05);
    text-shadow: 0 -1px 1px #eee;
    top:inherit;
    left:inherit;
}

.quickViewWindow .overview .attributes {
	clear: both;
    margin: 0;
	border: none;
    padding: 0;
}

.quickViewWindow .attributes select {
    min-width: 70px;
    max-width: 270px;
}

.quickViewWindow .overview .attributes dl:after {
	content: ".";
    display: block;
    clear: both;
    height: 0;
	font-size: 0;
    line-height: 0;
	visibility: hidden;
}

.quickViewWindow .overview .attributes dt {
    display: block;
    clear: left;
	width: 130px;
    margin: 0 0 7px 0;
    text-align: left;
}
.quickViewWindow .overview .attributes dd {
    margin-bottom: 10px;
}
.quickViewWindow .overview .attributes dt:last-child,
.quickViewWindow .overview .attributes dd:last-child {
    margin-bottom: 0;
}


.quickViewWindow .overview .purchase-area {
    margin-top: 10px;
	border-top: 1px dashed #999;
    padding: 10px 0;
    float: left;
    width: 100%;
}
.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}

.quickViewWindow #accordion .purchase-area > * {
    margin:0;
}
.quickViewWindow #accordion .purchase-area .prices {
    text-align: center;
    margin-bottom: 10px;
}
.quickViewWindow  #accordion .purchase-area .prices > div * {
    display: inline-block;
    line-height: 30px;
}
.quickViewWindow .product-price {
    color: #8b0;
    font: normal 24px/32px Sylfaen, sylfaen_ff, serif;
    display: inline-block;
    float: none;
}
.quickViewWindow .product-price strong{
    font: normal 24px/32px Sylfaen, "Times New Roman", Georgia, serif;
}
.quickViewWindow .old-product-price {
    color: #ccc;
    font-size: 14px;
    display: inline-block;
    float: none;
}
.quickViewWindow .old-product-price span {
    text-decoration:line-through;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart {
    text-align: center;
}
.quickViewWindow #accordion .purchase-area .add-to-cart-panel {
    min-height: 31px;
    display: inline-block;
}

.quickViewWindow #accordion .add-to-cart .add-to-cart-panel:only-child {
    margin-bottom: 0;
}

.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-label,
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-dropdown {
    height: 32px;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-label {
    margin-left: -33px;
}

.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-input,
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-dropdown {
    margin: 0 0 0 5px;
}

.quickViewWindow .short-description,
.quickViewWindow  .full-description {
    padding: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}
.quickViewWindow  .full-description {
    border: none;
    font: normal 11px Tahoma, Verdana, sans-serif;
}
.quickViewWindow .product-specs-box {
    padding-bottom: 0;
    border-bottom: 0;
}
.quickViewWindow  .product-specs-box .title {
    display: none;
}


/********** RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {  
	overflow: hidden;
    background: #f6f6f6;
    box-shadow: 0 2px 2px 0 #ccc;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0;
    height: auto;
    min-height: 137px;
    clear: both;
    border-bottom: none;
}
.quickViewWindow .product-grid .title {
	display: block;
	margin: 0;
	padding: 10px;
	text-align: center;
    font: normal 16px/18px "Times New Roman", Georgia, serif;
    color: #333;
    background: none;
}

.quickViewWindow .product-grid .title strong {
    font-weight: normal;
}

.quickViewWindow .product-grid .item-row {
    margin-bottom: 0;
}

.quickViewWindow .item-grid {
    text-align: left;
}

.quickViewWindow .product-grid .item-box,
.quickViewWindow .also-purchased-products-grid .item-box {
    width: calc(25% - 20px);
    padding: 0;
    margin: 0 10px 10px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.quickViewWindow .product-grid .item-box .picture {
    height: 85px;
    border: none;
    max-width: 100%;
}
.quickViewWindow .product-grid .item-box .picture a {
	display: block;
	margin: 0 auto;
    width: auto;
    height: auto;
	border: none;
	overflow: hidden;
	line-height: 0;
}
.quickViewWindow .product-grid .item-box .picture a img {
    position: static;
    max-width: 100%;
}

.quickViewWindow .product-grid .item-box .picture a:before {
    display: none;
}

.quickViewWindow .product-grid .item-box .product-title {
	height: 27px;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 0;
	font-size: 10px;
    line-height: 1.2;
}
.quickViewWindow .product-grid .item-box .product-title a {
	line-height: inherit;
    font-size: 12px;
    line-height: initial;
    font-weight: bold;
    display: block;
}

.quickViewWindow .product-grid .item-box .product-item {
    width: auto ;
    height: auto;
    text-align: inherit;
}

.quickViewWindow .product-grid .product-item {
    border: none;
    margin: 0;
}
.quickViewWindow .product-grid .product-item .picture {
    box-shadow: none;
    float: none;
    height: auto;
    overflow: hidden;
    background: none;
}

.quickViewWindow .product-grid .product-item .product-rating-box{
    display: none;
}
.quickViewWindow .product-grid .product-item .description {
    display: none;
}
.quickViewWindow .product-grid .product-item .product-rating-box{
    display: none;
}
.quickViewWindow .product-grid .product-item .add-info {
    display: none;
}

/********* GROUPED PRODUCTS ********/



.quickViewWindow #accordion .variants-in-grid {
	padding: 10px 6px;
}
.quickViewWindow .product-variant-list {
    margin: 0;
	overflow: hidden;
	padding: 0;
    text-align: left;
}
.quickViewWindow .product-variant-list .item-row {
	overflow: hidden;
	margin-bottom: 10px;
}
.quickViewWindow .variant-grid-info {
	border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}
.quickViewWindow .product-variant {
	display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
	margin: 0 0 0 5px;
	overflow: hidden;
    text-align: center;
}
.quickViewWindow .product-variant:nth-child(3n+1) {
	margin-left: 2px;
}
.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0 0 5px;
	border: 1px solid #ddd;
	overflow: hidden;
	line-height: normal !important;
}
.quickViewWindow .moreInfoHover {
    position: absolute;
	left: 0;
    bottom: 0;
	width: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: rgba(0,0,0,0.6);
	padding: 3px;
    text-align: center;
    font-size: 10px;
	color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    background: rgba(0,0,0,0.6);
	padding: 5px 10px;
    text-align: center;
    font-size: 11px;
	color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
	left: 136px;
}
.quickViewWindow .product-variant:hover .variant-info {
	left: 0;
}

.quickViewWindow .variant-info .variant-name {
	max-height: 28px;
    overflow: hidden;
}
.quickViewWindow .variant-info .variant-name a {
    color: #fff;
}
.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
}
.quickViewWindow .variant-info .prices > * {
	float: none;
}
.quickViewWindow .product-variant .prices label {
    display: none;
}
.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .manufacturers a:hover {
    cursor: pointer;
    text-decoration: underline
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}


/********* GIFTCARD *********/


.quickView .giftcard {
    clear: both;
    overflow: hidden;
}
.quickView .giftcard > div {
    overflow: hidden;
    margin-bottom: 10px;
}
.quickView .giftcard > div > * {
	float: left;
}
.quickView .giftcard label {
    display: inline-block;
    width: 120px;
    margin: 0 10px 0 0;
    color: #333;
    font-size: 14px;
    line-height: 28px;
}

.quickView .giftcard {
    border: none;
    border-top: 1px dotted #ccc;
    padding: 15px 0 0;
    margin-top: 15px;
}

.quickView .giftcard input[type=text],
.quickView .giftcard input[type=email],
.quickView .giftcard input[type=tel],
.quickView .giftcard textarea {
    width: calc(100% - 140px) !important;
    margin: 0;
}
.quickView .giftcard textarea {
    height: 72px;
    border: 1px solid #bbb;
    resize: none;
}


@media all and (max-width: 1024px) {

.quickViewWindow .color-squares .color {
	width: 30px;
	height: 30px;
}
.quickViewWindow .links-panel a {
	padding: 10px 0 10px 15px;
}

}

/********* START VARIANTS IN GRID ********/

.quickViewWindow .overview .variants-in-grid .product-variant-list .product-variant .price .product-price {
    color: #0f0 !important;
    font-weight: bold;
}

/********* END VARIANTS IN GRID ********/
