﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/
.newsletter-subscribe-popup .close-popup {
    left: 0;
    right: auto;
}