﻿@model MegaMenuLineModel
<li>
    <a href="@Model.MegaMenu.SeName">
        <span>@Model.MegaMenu.Name</span>
        @if (Model.MegaMenu.NumberOfProducts.HasValue)
        {
            <text> </text>@T("Categories.TotalProducts", Model.MegaMenu.NumberOfProducts.Value)
        }
    </a>

    @{
        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (Model.MegaMenu.ChildItems.Count > 0)
        {
            <div class="sublist-toggle"></div>
            <ul class="sublist @levelClass" style="display:none">
                @foreach (var childItem in Model.MegaMenu.ChildItems)
                {
                    var megaMenuLineModel = new MegaMenuLineModel
                    {
                        MegaMenu = childItem,
                        Level = Model.Level + 1,
                        ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                    };
                    @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Themes/UniRepair/Views/_MegaMenuLine.TopMenuMobile.cshtml", megaMenuLineModel)
                }
            </ul>
        }
    }
</li>