﻿@model SocialModel
<ul class="social-networks">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li class="facebook">
            <a href="@Model.FacebookLink" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li class="twitter">
            <a href="@Model.TwitterLink" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li class="youtube">
            <a href="@Model.YoutubeLink" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    }
</ul>