﻿@model HomepageNewsItemsModel
@if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage container-box">
        <div class="main-header">
            <h2>Latest</h2>
            <h3>@T("News")</h3>
        </div>
        <div class="news-items owl-carousel owl-theme">
            @foreach (var item in Model.NewsItems)
            {
                <div class="news-item">
                    <div class="news-info">
                        <time class="newsdate" datetime="2020-01-01">
                            02
                            <span>May, 20</span>
                        </time>
                        <h3><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h3>
                        <!--<span class="news-date">-@item.CreatedOn.ToString("D")</span>-->
                        <p>
                            @Html.Raw(item.Short)
                        </p>
                        <div class="buttons">
                            <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="view-all">
            <a class="btn btn-default" href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
        </div>
    </div>
}