﻿/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* GLOBAL */

.nopAjaxFilters7Spikes {
    position: relative;
}

.clearFilterOptionsAll {
    position: absolute;
    top: 17px;
    right: 25px;
    max-width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #8c8c8c;
    cursor: pointer;
    z-index: 1;
    transition: all .2s ease;
}

.clearFilterOptionsAll:hover {
    color: #97c300;
}

.filtersPanel:after {
	content: "";
	display: block;
	clear: both;
}
.filter-block {
	display: block;
	position: relative;
	float: none;
	width: auto;
}

.selected-options .filtersTitlePanel {
    display: none;
}

.filter-block .title {
	position: relative;
    padding: 0 !important;
}

.filter-block .title:before {
    display: none !important;
    content: none !important;
}

.filter-block .toggleControl {
    position: relative;
    display: block;
    padding: 14px 35px 14px 50px;
    width: 100%;
    cursor: pointer;
    text-align: left;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-block.selected-options .toggleControl {
    padding-right: 20px;
}

.filter-block .toggleControl:before {
	content: "\77";
	display: inline-block;
	position: absolute;
	left: 25px;
	top: 50%;
	-webkit-transform: translateY(-50%) rotate(0);
	-ms-transform: translateY(-50%) rotate(0);
	transform: translateY(-50%) rotate(0);
	font-size: 10px;
	color: #97c300;
	text-transform: none;
	transition: all .4s ease;
}

.filter-block .toggleControl.closed:before {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
}

.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	position: absolute;
    top: 0;
    right: 0;
    left: auto;
	font-size: 0;
    width: 48px;
    height: 48px;
    text-align: center;
	cursor: pointer;
}

.filter-block a.clearFilterOptions:before,
.filter-block a.clearPriceRangeFilter:before {
    content: "\76";
    display: block;
    text-transform: none;
    font-size: 11px;
    line-height: 50px;
    color: #8c8c8c;
    transition: all .2s ease;
}


.filter-block a.clearFilterOptions:hover:before,
.filter-block a.clearPriceRangeFilter:hover:before {
    color: #97c300;
}

.filtersGroupPanel {
	padding: 18px;
}


.filtersGroupPanel ul:after {
	content: "";
	display: block;
	clear: both;
}


/* SEARCH CRITERIA */


.selected-options-list > li {
    display: block;
    margin-bottom: 8px;
    font-size: 0;
}
.selected-options-list > li label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #8c8c8c;
    font-weight: 700;
}
.selected-options-list > li span {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    margin: 0 5px 5px 0;
    line-height: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    background-color: #97c300;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease;
}

.selected-options-list > li span:after {
    content: "\76";
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    font-size: 8px;
    color: #fff;
    font-weight: normal;
    opacity: .5;
    transition: all .2s ease;
}

.selected-options-list > li span:hover {
    background-color: #7c9a16;
}
.selected-options-list > li span:hover:after {
    opacity: 1;
}

.number-of-returned-products {
    display: block !important;
    margin-bottom: 50px;
    text-transform: none;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #aaa;
}

.nopAjaxFilters7Spikes .number-of-returned-products {
    display: none !important;
}


/* RANGE SLIDER */


.priceRangeFilterPanel7Spikes
.filtersGroupPanel,
.specificationFilterPanel7Spikes
.filtersGroupPanel {
    position: relative;
}
.priceRangeMinMaxPanel,
.specification-min-max-panel {
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
    color: #8c8c8c;
}
.priceRangeMinPanel,
.specification-min-panel {
    float: left;
}
.priceRangeMaxPanel,
.specification-max-panel {
    float: right;
}

.ui-slider {
    position: relative;
    width: auto;
    height: 10px;
    margin: 0 10px 12px;
    max-width: 257px;
    padding: 10px 0 0;
    border-bottom: 3px solid #c5c5c5;
}
.ui-slider-range {
    position: absolute;
    height: 3px;
    background-color: #97c300;
}
.ui-slider-handle {
    position: absolute;
    top: 2px;
    width: 19px;
    height: 19px;
    margin-left: -8px;
    background: #fff;
    border: 1px solid #97c300;
    border-radius: 50%;
}

.ui-slider-handle span {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -19px;
    min-width: 38px;
    height: 18px;
    padding: 0 2px;
    line-height: 18px;
    color: rgba(255,255,255,.7);
    font-size: 11px;
    text-align: center;
    background: #2c2c2c;
}
.ui-slider-handle span:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: #2c2c2c transparent transparent transparent;
}

.priceRangeCurrentPricesPanel,
.specification-current-value-panel {
    margin-top: 15px;
    overflow: hidden;
    color: #8c8c8c;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}
.currentMaxPrice, .current-max-value {
    float: right;
}
.has-specification-slider .checkbox-list {
    display: none;
}


/* CHECKBOX MODE */


.filtersGroupPanel .checkbox-list input {
    position: absolute;
    opacity: 0;
}
.filtersGroupPanel .checkbox-list label {
    display: block;
    position: relative;
    max-width: 100%;
    padding: 9px 0 9px 27px;
    text-transform: none;
    text-align: left;
    font-size: 15px;
    color: #909090;
    font-weight: 400;
    cursor: pointer;
    z-index: 2;
    transition: all .2s ease-in-out;  
}

.filtersGroupPanel .checkbox-list label:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.filtersGroupPanel .checkbox-list li.disabled label { 
    opacity: 0.4;
    cursor: default;       
}


/* COLOR SQUARES */


.colorOptions li {
    position: relative;
}
.colorOptions label:before {
    display: none !important;
}
.colorOptions .color {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    width: 19px;
    height: 19px;
    border: 1px solid #dadada;
    border-radius: 50%;
    font-size: 0;
}
.colorOptions li.checked .color.image label:after {
    background: none !important;
}
.colorOptions .checked .color {
    left: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    box-shadow: 0 0 0 2px #868686;
}


/* DROPDOWN MODE */


.filtersDropDownPanel select {
    width: 100%;
}
.filtersDropDownPanel.disabled select {
    opacity: .6;
    cursor: default;
}
.filtersDropDownPanel option[disabled] {
    color: #ccc;
}


/* AJAX LOADER */


.productPanelAjaxBusy {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.productPanelAjaxBusy:before,
.productPanelAjaxBusy:after,
.infinite-scroll-loader:before,
.infinite-scroll-loader:after {
	content:"";
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border: 0px solid #97c300;
	border-radius: 50%;
	-webkit-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	-moz-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
}

.productPanelAjaxBusy:after,
.infinite-scroll-loader:after {
    animation-delay: .8s;
}

.infinite-scroll-loader {
    display: none;
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 0;
}


/* NO RESULTS POPUP */


.k-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1080;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}
.ajaxFilters.k-window {
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 1px solid #ccc;
    padding: 0 !important;
    width: 500px !important;
    height: auto !important;
    max-width: 100%;
    background: #fff;
    z-index: 1090;
}
.ajaxFilters .k-window-titlebar {
    display: block;
    padding: 25px 0;
    margin: 0 auto !important;
    width: calc(100% - 100px);
    font-size: 22px;
    text-transform: none;
    font-weight: 700;
    color: #000;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ajaxFilters .k-window-actions {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 0;
}
.ajaxFilters .k-window-actions a {
    display: block;
}
.ajaxFilters .k-window-actions .k-icon {
    display: block;
    font-size: 0;
}

.ajaxFilters .k-window-actions .k-icon:before {
    content: "\7a";
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    opacity: .6;
    transition: opacity .1s ease;
}

.ajaxFilters .k-window-actions .k-icon:hover:before {
    opacity: 1;
}

.ajaxFilters .k-window-content {
    padding: 10px 30px 30px;
    font-size: 15px;
    color: #8c8c8c;
}


@media all and (min-width:481px) and (max-width:1024px) {
    .product-selectors.infinite-scroll-enabled .product-sorting {
        margin-left: 8px;
    }

    .product-selectors.infinite-scroll-enabled .filters-button-wrapper {
        width: calc(50% - 4px);
        display: inline-block !important;
        vertical-align: top;
    }
}

@media all and (max-width:480px) {
    .product-selectors.infinite-scroll-enabled .product-sorting {
        width: 100%;
    }
}


@media all and (max-width: 1024px) {
	.nopAjaxFilters7Spikes {
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 1070;
		width: 320px;
        max-width: 100%;
		height: 100%;
        background-color: #fff;
		overflow: hidden;
		transition: all .3s ease;
	}

	.nopAjaxFilters7Spikes.open {
		left: 0;
	}

    .nopAjaxFilters7Spikes .close-side-menu-text:before {
        content: "\e904";
        font-size: 21px;
    }
    
    .nopAjaxFilters7Spikes .filtersPanel {
        max-height: calc(100vh - 97px);
	    overflow-y: scroll;
    }

	.nopAjaxFilters7Spikes .filter-block {
		margin: 0 0 2px;
        border: none;
        border-radius: 0;
	}

    .product-selectors > div.filters-button-wrapper {
		float: none;
		display: block !important;
		margin: 0 0 8px;
		width: 100%;
	}
	.filters-button {
		position: relative;
		display: block !important;
		padding: 0 25px;
		background-color: #97c300;
		height: 50px;
		width: 100%;
		border: none;
		font-size: 15px;
		line-height: 21px;
		border-radius: 3px;
		color: #fff;
		font-weight: 700;
		text-transform: uppercase;
	}
	.filters-button:before {
		content: "\e904";
		font-family: "emporium-icons";
		display: inline-block;
		vertical-align: bottom;
		margin: 0 10px 0 -25px;
		text-transform: none;
		font-size: 22px;
		line-height: normal;
		color: #fff;
		font-weight: normal;
	}

    .clearFilterOptionsAll {
        top: 17px;
        right: 50px;
        color: #fff;
    }
	.nopAjaxFilters7Spikes .close-btn {
		display: block;
		width: 50px;
		height: 50px;
		font-size: 0;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}

	.filtersGroupPanel {
		padding: 25px 30px 23px;
	}
	.filtersDropDownPanel,
	.priceRangeFilterPanel7Spikes .filtersGroupPanel,
	.specificationFilterPanel7Spikes .filtersGroupPanel {
		padding: 30px;
	}
}

@media all and (min-width:1025px) {

    .filter-block:first-of-type .toggleControl {
        padding-right: 110px;
    }
    .filter-block.selected-options:first-of-type .toggleControl {
        padding-right: 100px;
    }

    .selected-options .clearFilterOptionsAll {
        right: 25px;
    }

    .clearFilterOptionsAll {
        right: 40px;
    }

}


@media all and (min-width: 1281px)  {
    .filtersGroupPanel {
        padding: 18px 30px;
    }
}