.container-box {
    max-width:1200px;
}
.master-wrapper-content {
    max-width:100%;
    padding-right:0;
    padding-left:0;
}
.aboutus-top {
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.about-info .main-header {
    max-width: 100%;
    text-align: left;
    width: 50%;
    font-weight: 400;
    line-height: 2;
    padding-right: 5%;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.about-info .main-header h3,
.about-info .main-header h2{
    width:100%;
}
.about-info .main-header p{
    text-align: left !important;
}
.about-info .about-img {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.about-info.choose {
    flex-direction: row-reverse;
}
.about-info.choose .main-header {
    padding-right: 0;
    padding-left: 5%;
}
.about-section {
    position: relative;
    z-index: 9;
    padding-bottom: 3rem;
}
.about-section:before {
    position: absolute;
    content: '';
    left: -9999px;
    right: -9999px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f5f6f9;
}

.about-frame {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -2%;
}
.about-col {
    width: 29.3%;
    margin: 0 2% 3rem;
    border-radius: 0;
    background-color: #fff;
    color:#000;
    font-size:15px;
    -webkit-box-shadow: 0 0 0.5rem rgba(0,0,0,0.05);
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.about-col .info-box{
    overflow:hidden;
    padding:15px;
}
.about-col p{
    text-align:left !important;
}
.about-col h4,
.about-col h3{
    font-size:20px;
    line-height:1.4;
    margin-bottom:5px;
    text-transform:uppercase;
    color:#000;
    font-weight:600;
    text-align:left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.about-col h4{
    font-size:16px;
    text-transform:none;
}
.about-info-nav {
    position: relative;
    padding: 0 0 0 24px !important;
    font-size: 14px;
}
.about-info-nav li {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom:8px;
    text-align: left !important;
}
.about-info-nav li:before {
    position: absolute;
    left: -22px;
    top: 6px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000;
}
@media all and (max-width: 1023px) {
    .about-info .main-header h2 {font-size:30px;}
    .about-info .main-header h3{font-size:20px;}
    .about-info .main-header{font-size:15px;}
    .aboutus-top {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .about-col h3 {font-size: 17px;}
    .about-col h4 {font-size: 14px;}
    .about-section {padding-bottom: 1rem;}
}
@media all and (max-width: 767px) {
    .about-info .main-header {
        width: 100%;
        padding-right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .about-info.choose .main-header {
        padding-left: 0;
    }
    .about-info .about-img {width: 100%;}
    .about-info .main-header{text-align:center;}
    .about-info .main-header p {text-align: center !important;}
    .aboutus-top {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    .about-frame {
        margin: 0;
    }
    .about-col {
        width: 100%;
        margin: 0 auto 30px;
        font-size: 14px;
        max-width:600px;
    }
}
@media all and (max-width: 479px) {
  
}