.home-slider {
    position: relative;
    z-index: 99;
}

.main-header {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    line-height:1.6;
    margin:0 auto;
    position:relative;
}
.main-header h2{
    font-size:45px;
    line-height: 1.4;
    padding-bottom:15px;
    margin-bottom:20px;
    position:relative;
}
.main-header h2:before,
.main-header h2:after{
    position:absolute;
    left:50%;
    bottom:0;
    content:'';
    width:80px;
    height:3px;
    background-color:#337ab7;
    transform:translateX(-50%);
    margin-bottom:-0.5px;
}
.main-header h2:before{
    width:200px;
    background-color:#c4ccd0;
    height:1px;
    margin-bottom:0;
}
.main-header h3{
    font-size:22px;
    line-height: 1.4;
    margin-bottom:5px;
    position:relative;
    color:#000;
}
.main-header p{margin-bottom:20px;}
.about-boats {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.about-boats.container-box {max-width:1200px;}
.about-left {
    width:55%;
    margin-right:4%;
}
.about-img{
    width:40%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.about-boats .main-header{
    padding-top:0;
    padding-bottom:0;
}
.main-header.left {text-align:left;}
.main-header.left h2:before,
.main-header.left h2:after {
    left: 0;
    transform: translateX(0);
}
.main-header.left h2:after{margin-bottom:-1.5px;}
.about-boats .main-header p {margin-bottom:35px;}
.about-nav {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    font-size:12px;
    text-transform:uppercase;
    text-align:center;
}
.about-nav li{
    padding:0 1.5% 10px;
    box-sizing:border-box;
    width:25%;
}
.about-nav li span{
    font-size:40px;
    color:#307096;
}
.client-testimonial {
  padding-bottom: 50px;
  padding-top: 30px;
}
.client-testimonial:before {
    position: absolute;
    content: '';
    left: -9999px;
    right: -9999px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f5f5f5;
}
.about-nav li strong {
    display: block;
    padding-top: 10px;
}
.client-testimonial .owl-carousel .item {
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
}
.client-testimonial .owl-carousel .owl-dots {
    padding-top: 40px;
}
.client-blockquotes {
    text-align: center;
    padding: 7% 5%;
    border: 15px solid #337ab7;
    width: 100%;
    min-height: 345px;
    background-color: #fff;
}
.client-blockquotes svg{
    font-size:50px;
    color:#337ab7;
}
.client-blockquotes p{
    margin:15px 0;
}
.client-blockquotes cite{
    font-weight:600;
    color:#337ab7;
    font-style:normal;
    letter-spacing:1px;
}
.quotes-img {
    overflow:hidden;
    margin:0 auto 20px;
    width:100px;
    height:100px;
    border-radius:100%;
}
.benfits-section {
    background-color: #f1f0e8;
    position:relative;
}
.benfits-section:before {
    background-color: #337ab7;
    position: absolute;
    left:65%;
    right:0;
    top:0;
    bottom:0;
    content:'';
    z-index:1;
}
.benfits-section .container-box{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    padding-top:80px;
    padding-bottom:80px;
}
.benfits-info {
    width:50%;
    margin-right:2%;
}
.benfits-img {
    padding: 2%;
    background-color: #fff;
    width: 48%;
}
.benfits-section .main-header{
    padding-top:0;
    padding-bottom:30px;
}
.benifits-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.benifits-nav h3{
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}
.benifits-nav li{
    width:50%;
    box-sizing:border-box;
    position:relative;
    padding:0 3% 30px 80px;
}
.benifits-nav li span{
    position:absolute;
    left:0;
    top:0;
    font-size:50px;
    color:#337ab7;
}
.video-block {
    position: relative;
    padding-bottom:30px;
}
.video-block .main-header{
  padding-top: 0;
}
.video-frame iframe {
  width: 100%;
  height: 600px;
}
.common-header {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
.common-header:before {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    content:'';
    background-color:rgba(0,0,0,0.4);
    z-index:1;
}
.common-header h1{
    line-height: 1.2;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.common-header h2{
    line-height: 1.3;
    color: #fff;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
@media all and (max-width: 1023px) {
  .video-frame iframe {
    height: 450px;
  }
    .slide-header {font-size: 16px;}
    .slide-header h1 {font-size: 34px;}
    .main-header h2 {font-size: 34px;}
    .client-blockquotes {
        font-size: 14px;
        min-height: 320px;
    }
    .client-blockquotes svg {font-size: 40px;}
    .quotes-img {
        width: 80px;
        height: 80px;
    }
    .benifits-nav{font-size:14px;}
    .benifits-nav li span {font-size: 40px;}
    .benifits-nav li {padding: 0 3% 25px 58px;}
    .benifits-nav h3 {font-size: 16px;}
    .common-header {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .common-header h1 {font-size: 40px;}
    .common-header h2 {font-size: 24px;}
    .common-header{font-size:16px;}
}
@media all and (max-width: 767px) {
    .common-header h1 {font-size: 34px;}
    .common-header h2 {font-size: 21px;}
    .common-header {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .slide-header h1 {
        font-size: 28px;
        line-height:1.2;
    }
    .slide-header {font-size: 14px;}
    .about-left {
        width: 100%;
        margin-right: 0;
        margin-bottom:20px;
    }
    .about-img {width: 100%;}
    .about-left {
        width: 100%;
        margin-right: 0;
        margin-bottom:20px;
    }
    .main-header.left {text-align: center;}
    .main-header.left h2:before,
    .main-header.left h2:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .about-boats {
        padding-top: 20px;
        padding-bottom: 35px;
    }
    .main-header h2 {font-size: 30px;}
    .client-blockquotes p {margin: 15px 0;}
    .main-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .client-testimonial {padding-bottom: 35px;}
    .benfits-section .container-box {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .benfits-info {
        width: 100%;
        margin-right: 0;
    }
    .benfits-img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .benfits-section:before {
        left: 0;
        top: 80%;
    }
    .video-section .main-header {
        width: 100%;
        margin-right: 0;
        margin-bottom:40px;
    }
    .video-section {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .video-holder {
        width: 100%;
        max-width:450px;
        margin:0 auto;
    }
}
@media all and (max-width: 479px) {
  .video-frame iframe {
    height: 380px;
  }
    .common-header {
        font-size: 14px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .common-header h1 {font-size: 30px;}
    .common-header h2 {font-size: 19px;}
    .slide-header h1 {font-size: 24px;}
    .main-header h2 {font-size: 26px;}
    .main-header {font-size: 15px;}
    .client-testimonial .owl-carousel .owl-dots {padding-top: 25px;}
    .client-testimonial {padding-bottom: 20px;}
    .benfits-section .container-box {
        padding-top: 25px;
        padding-bottom: 35px;
    }
    .benifits-nav li {
        padding: 0 0 25px 65px;
        width: 100%;
    }
    .benifits-nav h3 {font-size: 18px;}
    .benifits-nav li span {font-size: 45px;}
    .benifits-nav {font-size: 15px;}
    .benfits-section:before {top: 85%;}
}