/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel, .owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative
}
.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1;
    margin:0;
    box-sizing:border-box;
    padding:0;
}
.owl-carousel.item-grid {
    width: 100%;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	touch-action: manipulation;
	-moz-backface-visibility: hidden
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%
}
.home-banner .owl-carousel .item {
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: none
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
	display: block
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	border: 0;
	font-size: 0;
}
.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span{
	border: 0;
	font-size: 40px;
	line-height:20px;
}
.owl-dots {
	text-align:center;
	padding-top:15px;
}
.owl-dot {
	width: 15px;
	height: 15px;
	border: 2px solid #337ab7 !important;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	background-color: transparent;
}
.owl-dot.active {background-color: #337ab7;}
.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.home-slider .owl-dot{border-color:#fff !important;}
.home-slider .owl-dot.active {background-color: #fff;}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}
.owl-carousel.owl-hidden {
	opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}
.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab
}
.owl-carousel.owl-rtl {
	direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
	float: right
}
.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
	z-index: 0
}
.owl-carousel .owl-animated-out {
	z-index: 1
}
.owl-carousel .fadeOut {
	animation-name: fadeOut
}
@keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
.owl-height {
	transition: height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}
.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
	max-height: 0
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .4s ease
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}
.owl-nav {
    margin: 0;
    font-size: 0;
    text-align: center;
}
.owl-prev,
.owl-next {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #307096;
  left: 10px;
  font-weight: 700;
}
.owl-next {
	left: auto;
	right: 10px;
}
.owl-prev span,
.owl-next span {
	display: none;
}
.owl-prev:after,
.owl-next:after {
	content: "\e903";
	font-family: 'icomoon';
	position: absolute;
	font-size: 20px;
	left: 50%;
	top: 50%;
	transform: rotate(-180deg);
	color: #fff;
	margin: -16px 0 0 -9px;
    font-weight:300;
}
.owl-next:after {
	transform: rotate(0);
}
.owl-prev.disabled,
.owl-prev.disabled{
    background-color:#ddd;
    pointer-events:none;
    cursor:not-allowed;
    opacity:0.5;
}
.owl-prev:hover,
.owl-next:hover {
	color: #fff;
	background-color: #000;
}
#thumbs .owl-prev, #thumbs .owl-next {
  width: 30px;
  height: 30px;
}
#thumbs .owl-prev:after,
#thumbs .owl-next:after {
  font-size: 14px;
  margin: -12px 0 0 -7px;
}
#big .item {
    position:relative;
    height:70vh;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
}
#thumbs .item{cursor:pointer;}
@media all and (min-width: 1024px) {
  .slider-banners .owl-prev {
		left: 24%
	}
	.slider-banners .owl-next {
		right: 24%;
	}
}
@media all and (max-width: 767px) {
	.owl-prev {
		left: 10px;
	}
	.owl-next {
		right: 10px;
	}
	.owl-dot {
		width: 10px;
		height: 10px;
	}
}
@media all and (max-width: 479px) {
	
}





