.center-1 {
	margin: 0;
}
.left-side-one {
	left: 0;
	margin: 0;
	padding-top: 33px;
	position: absolute;
	width: 250px;
	bottom: 0;
	top: 0;
	background: #fff;
}
.titlebox {
	font-size: 22px;
	text-transform: uppercase;
	display: none;
}
.left-side-one a {
	display: block;
	text-align: right;
	padding: 0 10px;
	line-height: 40px;
	font-size: 15px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	transition: all 0.3s ease-in-out;
	letter-spacing: 1px;
    color:#333;
}
.left-side-one ul li:hover a, .left-side-one ul li.active a {
    color: #fff;
    background: #307096;
    text-decoration: none;
}
.left-side-one {
	left: 0;
	margin: 0;
	padding-top: 33px;
	position: absolute;
	width: 250px;
	bottom: 0;
	top: -15px;
	background: #fff;
}
.topic-policies {
    min-height: 500px;
}
.topic-policies,
.legal-policies {
    margin-left: 290px;
    padding: 20px 0;
    min-height: 450px;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.5px;
}
.topic-policies p strong {
    display: block;
    padding: 10px 0;
}
.topic-policies ol,
.legal-policies ol{padding-left:16px;}
.legal-policies .page-title {
	padding: 0 0 15px;
}
.topic-policies h1,
.legal-policies h1 {
	font-size: 20px;
	padding: 0;
	color: #000;
	position: relative;
	margin: 0;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
    letter-spacing:1px;
}
.legal-policiesh1 span {
	text-transform: none;
}
.topic-policies p,
.legal-policies p {
    line-height: 22px;
    padding: 0;
    text-align: justify;
}
.topic-policies .page-title {
    padding: 0;
    min-height:0;
    padding:0 0 15px;
}
.topic-policies h2,
.legal-policies h2,
.topic-policies h2.acc_trigger
.legal-policies h2.acc_trigger {
    font-size: 13px;
    font-weight: 500;
    line-height: 26px;
    padding: 7px 25px 7px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: url(../images/pls.jpg) no-repeat right center;
    border-bottom: 1px dotted #ddd;
}
.topic-policies h2.acc_trigger.active-header
.legal-policies h2.acc_trigger.active-header {
    background: url(../images/mns.jpg) no-repeat right center;
}
.topic-policies h2,
.legal-policies h2 {
    background: none;
    cursor: default;
}
.topic-policies strong,
.legal-policies strong {
    font-weight: 700;
}
.acc_container {
	display: none;
	padding: 10px 0 10px 0;
	line-height: 22px;
	text-align: justify;
}
.topic-policies ul,
.legal-policies ul {
    padding: 0 0 0 17px;
}
.topic-policies ul li,
.legal-policies ul li {
	list-style: outside;
	line-height: 20px;
	padding: 0 0 15px 0;
	text-align: justify;
}
.topic-policies h3,
.legal-policies h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    padding: 20px 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media all and (max-width: 767px) {
    .topic-policies h1, .legal-policies h1 {
        font-size:18px;
    }
    .titlebox {
        display: block;
    }
    .itemlist {
        display:none;
    }
    .left-side-one {
        margin: 15px 0 0;
        padding-top: 0;
        position: static;
        width: 100%;
        bottom: 0;
        background: #f8f6f4;
    }
    .topic-policies,
    .legal-policies {
	    margin-left: 0;
    }
    .left-side-one a {
	    text-align: left;
    }
}
