﻿@model Nop.Plugin.Widgets.OwlSlider.Models.PublicInfoModel

@{
    var pictureUrl = ViewData["pictureUrl"]?.ToString() ?? "";
    var pictureMobileUrl = ViewData["pictureMobileUrl"]?.ToString() ?? "";
    var link = ViewData["link"]?.ToString() ?? "";
    var dataTransition = ViewData["dataTransition"]?.ToString() ?? "";
    var text = ViewData["text"]?.ToString() ?? "";
    var alttext = ViewData["alttext"]?.ToString() ?? "";

    if (!string.IsNullOrEmpty(pictureUrl))
    {
        if(string.IsNullOrEmpty(pictureMobileUrl))
        {
            pictureMobileUrl = pictureUrl;
        }
        <div class="item">
            <picture>
                <source media="(min-width:768px)" srcset="@pictureUrl">
                <source media="(max-width:767px)" srcset="@pictureMobileUrl">
                <img src="@pictureUrl" alt="banner">
            </picture>
            <div class="slider-header">
				@if (!string.IsNullOrEmpty(alttext))
				{
					<h1>@Html.Raw(alttext)</h1>
				}
				@if (!string.IsNullOrEmpty(alttext))
				{
					<p>@Html.Raw(text)</p>
				}
                @if (!string.IsNullOrEmpty(link))
                {
                    <a href="@link" aria-label="@alttext" class="btn-slider">
                        View More
                    </a>
                }
            </div>
        </div>
    }
}