.coupon-code input {
	float: right;
}
.estimate-shipping-panel .shipping-results,
.shipping-method .method-list li,
.payment-method .method-list li,
.payment-info .info {
	text-align: right;
}
*{
	direction: rtl;
}
.checkout-page .inputs .required{
	margin: 0 6px 0 0;
}
.checkout-attributes input[type=text],
.checkout-attributes textarea{
	margin-right: auto;
	margin-left: auto;
}
.coupon-code button{
	float: right;
	margin-right: -1px;
	margin-left: 0;
}
.current-code span{
	margin: 0 0 0 5px;
}
.cart-total button,
.remove-product{
	margin-left: -7px;
	margin-right: 3px;
}

@media all and (max-width: 767px) {

.ropc .order-summary-content td {
	float: right;
}
.section .title strong:before,
.section .title strong:after{
	right: 6%;
	left: auto;
}
.section .title strong:after{
	right: auto;
	left: 6%;
}

}

@media all and (min-width: 768px) {

.checkout-page .attribute-list > li,
.checkout-page .attribute-name {
	text-align: right;
}
.attribute-values li{
	margin: 0 0 0 10px;
}
.ropc .giftcard-box-panel > div{
	border-right: none;
}


}

@media all and (min-width: 1025px) {

.terms-of-service,
.complete-button,
.addon-buttons,
.order-confirm .error-list {
	text-align: right;
}
.order-summary-content .section-body > .ng-binding,
.checkout-page .attribute-list,
.inputs label {
	text-align: right;
}
*{
	direction: rtl;
}
table.cart{
	border-right: 1px solid #ddd;
	border-left: 0;
}
.order-totals-panel{
	margin: 0 0 20px auto;
}
.cart tr > *:first-child{
	border-left: 1px solid #ddd;
	border-right: 0;
}

.ropc .addon-buttons {
    text-align: left;
}

.ropc .addon-buttons > * {
    margin: 0 5px 5px 0;
}

}