.slider-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 1200px;
    padding: 30px 15px;
    transform: translateY(-50%);
    z-index: 9999999;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    margin: 0 auto;
}
.slider-header:before {
    position: absolute;
    left: -9999px;
    right: -9999px;
    top: 0;
    bottom: 0;
    content: '';
    background-color: rgba(255,255,255,0.1);
    z-index: -1;
}
.slider-header h1 {
    color: #000;
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.slider-header p{margin-bottom:20px;}
.btn-slider {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
    color:#000;
    text-shadow:none;
    letter-spacing:2px;
}
.btn-slider:hover {
    background-color: #000;
    border-color:#000;
    text-decoration:none;
    color:#fff;
}