/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* TITLE & CONTAINERS */

.nop-jcarousel,
.home-page .nop-jcarousel {
    margin: 30px -5px;
}
.jCarouselMainWrapper:first-of-type
.nop-jcarousel {
	margin-top: 0 !important;
}
.nop-jcarousel .carousel-title {
	position: relative;
	margin: 0 0 15px;
	padding: 0 0 60px;
	text-align: center;
	font-size: 28px;
	color: #000;
}
.nop-jcarousel .carousel-title strong {
    font-weight: normal;
}
.nop-jcarousel .carousel-item {
    padding: 10px 5px;
}
.home-page-category-grid .carousel-item {
    padding-top: 65px !important;
}
.nop-jcarousel .item-box {
    width: 100% !important;
    margin: 0 !important;
}

/* NAVIGATION */

.nop-jcarousel .slick-prev,
.nop-jcarousel .slick-next {
    position: absolute;
    bottom: 5px;
	width: 72px;
	height: 36px;
	margin: -16px 0 0;
	border: 1px solid #666;
	cursor: pointer;
    font-size: 0;
}
.nop-jcarousel .slick-prev {
    left: 50%;
	margin: 0 0 0 -75px;
    background: #999 url('images/prev-horizontal.png') center no-repeat;
}
.nop-jcarousel .slick-next {
    right: 50%;
	margin: 0 -75px 0 0;
    background: #999 url('images/next-horizontal.png') center no-repeat;
}
.nop-jcarousel .slick-prev:hover,
.nop-jcarousel .slick-next:hover {
	border-color: #888;
	background-color: #bbb;
}

.nop-jcarousel .slick-disabled {
    opacity: 0.5;
    cursor: default;
}
.nop-jcarousel .slick-disabled:hover {
    background-color: #999;
    border-color: #666;
}

.nop-jcarousel .slick-dots {
    display: none !important;
}



@media all and (min-width: 481px) {

.nop-jcarousel .carousel-title {
	padding: 0;
}
.nop-jcarousel .carousel-title strong {
	display: inline-block;
	padding: 0 75px;
}
.nop-jcarousel .slick-prev,
.nop-jcarousel .slick-next {
	top: 50%;
	bottom: auto;
	width: 60px;
	margin: -18px 0 0 !important; /*important to override rtl*/
}
.nop-jcarousel .slick-prev {
	left: 5px;
}
.nop-jcarousel .slick-next {
    right: 5px;
}

}

@media all and (min-width: 769px) {

.nop-jcarousel .carousel-title {
	padding: 0 0 0 5px;
	text-align: left;
}
.center-1 .nop-jcarousel .carousel-title {
	padding: 0 0 0 10px;
}
.nop-jcarousel .carousel-title strong {
	padding: 0;
}
.nop-jcarousel .slick-prev,
.nop-jcarousel .slick-next {
	width: 32px;
	height: 32px;
	margin: -16px 0 0 !important; /*important to override rtl*/
}
.nop-jcarousel .slick-prev {
    right: 42px;
	left: auto;
}
.nop-jcarousel .slick-next {
    right: 5px;
}
.center-1 .nop-jcarousel {
    margin: 30px -10px;
}
.center-1 .nop-jcarousel .slick-prev {
    right: 47px;
}
.center-1 .nop-jcarousel .slick-next {
    right: 10px;
}
.center-1 .nop-jcarousel .carousel-item {
    padding: 10px;
}
.side-2 .nop-jcarousel .slick-prev,
.side-2 .nop-jcarousel .slick-next {
	display: none !important;
}
.side-2 .nop-jcarousel .carousel-title {
	margin-bottom: 5px;
}
.side-2 .nop-jcarousel .prices {
	margin: 0;
}
.side-2 .nop-jcarousel .buttons {
	display: none;
}

}

@media all and (min-width: 1025px) {
	
.side-2 .nop-jcarousel .details {
	display: none !important;
}

}

@media all and (min-width: 1281px) {
	
.center-2 .nop-jcarousel {
    margin: 30px -10px;
}
.center-2 .nop-jcarousel .carousel-title {
	padding: 0 0 0 10px;
}
.center-2 .nop-jcarousel .slick-prev {
    right: 47px;
}
.center-2 .nop-jcarousel .slick-next {
    right: 10px;
}
.center-2 .nop-jcarousel .carousel-item {
    padding: 10px;
}

}

@media all and (max-width: 768px) {
	
.side-2 .jCarouselMainWrapper {
	clear: both;
	padding-top: 1px; /*prevents margin collapse*/
}

}