﻿/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.filtersPanel {
	margin: 0 0 20px;
}
.filtersTitlePanel {
	display: none;
}
.clearFilterOptionsAll {
	float: right;
	cursor: pointer;
}

.filter-block .title {
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	padding: 8px 5px;
}
.filter-block .title:after {
	display: none;
}
.filter-block a.toggleControl {
	display: block;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAkBAMAAAB2w3fUAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMA6i3wySol5dA3MWZvMrEAAABOSURBVBjTYyAFsMNZ3PhYCtwMARCWJDeXAITlzM3cAGEF7t6oAGExSQvBtKQkMNARsEoowJiLheCiGxPAftwNBA5IYhAwGaaOSSSAHCsBw2ML1a1yVM0AAAAASUVORK5CYII=') left top no-repeat;
	padding-left: 22px;
	cursor: pointer;
	text-transform: none;
}
.filter-block a.toggleControl.closed {
	background-position: left -18px;
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	position: absolute;
	top: 8px;
	right: 5px;
	background-color: #ccc;
	padding: 2px 5px;
	font-size: 12px;
	color: #000;
	text-transform: lowercase;
	cursor: pointer;
}
.filter-block a.clearFilterOptions:hover,
.filter-block a.clearPriceRangeFilter:hover {
	background-color: #ddd;
}

.filtersGroupPanel {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	color: #333;
}

/* SEARCH CRITERIA */

.selected-options-list > li {
	overflow: hidden;
	padding: 10px;
}
.selected-options-list li:hover {
    background-color: transparent !important;
}
.selected-options-list > li label {
    padding: 0!important;
}
.selected-options-list > li label:before {
    display: none !important;
}
.selected-options-list > li span {
	display: inline-block;
	position: relative;
    margin: 0 10px 0 0;
    padding: 5px 15px 5px 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAPFBMVEUAAACAgID///93d3dCQkJCQkL///9zc3N8fHxISEhISEhycnJjY2NnZ2f///9OTk5KSkpISEhHR0dBQUFOPcn8AAAAD3RSTlMArje5hnUwua+HdbmhjzGPu2/zAAAAOklEQVQI1yXKSQIAEAxD0aDmocX976r4m5dFsAma30iL1FUx0iQ/owWCEVG1ztyuhZ3h/LThLnH/dwBAxQG/0lRzXwAAAABJRU5ErkJggg==') right center no-repeat;
	vertical-align: middle;
	color: #c00;
	cursor: pointer;
}
.selected-options-list > li span:hover {
    text-decoration: underline;
}

/* RANGE SLIDER */

.priceRangeFilterPanel7Spikes
.filtersGroupPanel,
.specificationFilterPanel7Spikes
.filtersGroupPanel {
	border-top: 1px solid #bbb;
	padding: 10px;
	font-size: 14px;
}
.priceRangeMinMaxPanel,
.specification-min-max-panel {
    overflow: hidden;
    margin-bottom: 15px;
}
.priceRangeMinPanel,
.specification-min-panel {
    float: left;
}
.priceRangeMaxPanel,
.specification-max-panel {
    float: right;
}

.ui-slider {
	position: relative;
	width: auto;
	height: 4px;
	margin: 0 8px 15px;
    background-color: #999;   
}
.ui-slider-range {
    background-color: #000;
    height: 4px;
    padding: 0;
    position: absolute;
}
.ui-slider-handle {
	position: absolute;
    top: -7px;
	height: 18px;
    width: 18px;
	margin-left: -9px;
	background: url('images/scale_knob.png') no-repeat !important;
}

.priceRangeCurrentPricesPanel,
.specification-current-value-panel {
	overflow: hidden;
	color: #c00;
    font-size: 15px;
}
.currentMinPrice, .current-min-value {
    float: left;
}
.currentMaxPrice, .current-max-value {
    float: right;
}

.has-specification-slider .checkbox-list {
    display: none;
}

/* CHECKBOX MODE */

.filtersGroupPanel li {
	position: relative;
	border-top: 1px solid #ddd;
}
.filtersGroupPanel li:hover {
	background-color: #f6f6f6;
}
.filtersGroupPanel li label {
    display: block;
	position: relative;
    padding: 10px 10px 10px 30px;
	cursor: pointer;
}
.filtersGroupPanel.imageOptions li label {
    padding-left: 40px;
}
.filtersGroupPanel li input[type='checkbox'] {
	position: absolute;
	top: 50%;
	left: 10px;
	margin: -6px 0 0;
	opacity: 0;
}
.filtersGroupPanel li label:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 12px;
	height: 12px;
	margin: -6px 0 0;
	border: 1px solid #666;
}
.filtersGroupPanel li.checked label {
	background-color: #f6f6f6;
	font-weight: bold;
	font-style: italic;
}
.filtersGroupPanel li.checked label:before {
	background: url(../../../images/selected.png) no-repeat center;
}
.filtersGroupPanel li.disabled {
	background-color: #fff;
}
.filtersGroupPanel li.disabled label {
	font-weight: normal;
	color: #999 !important;
	cursor: default !important;
	opacity: 0.4;
}

/* COLOR SQUARE ATTRIBUTES */

.filtersGroupPanel li .color {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 12px;
    height: 12px;
	margin-top: -6px;
	border: 1px solid #666;
    overflow: hidden;
    font-size: 0;
}
.filtersGroupPanel.imageOptions li .color {
	top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.filtersGroupPanel li .color ~ label:before {
    display: none;
}
.filtersGroupPanel li.checked .color,
.filtersGroupPanel li.checked .defaultColor {
	z-index: 1;
	background: url('../../../images/selected.png') center no-repeat;
}
.filtersGroupPanel li .defaultColor {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjAgMAAABjt1vKAAAACVBMVEX///8AAACAgIBJX6m2AAAASklEQVQY0z3GsRHDAAzDwJyqaI9wo2gzc19XwFf/wdf93EPmz9bFlc2xdXFlc2xdXNkcWxdXNsfWxZXNsXVxZXNsXVzZHFsXV/YCT/k2mauK2R0AAAAASUVORK5CYII=') no-repeat center;
    background-size: cover;
}

/* DROPDOWN MODE */

.filtersDropDownPanel {
	padding: 10px;
}
.filtersDropDownPanel select {
	width: 100%;
	height: 32px;
}
.filtersDropDownPanel.disabled select {
    opacity: .5;
    cursor: default;
}
.filtersDropDownPanel option[disabled] {
    color: #cdcdcd;
}

/* AJAX LOADER */

.productPanelAjaxBusy {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff url('images/loader.gif') no-repeat 50% 50%;
    opacity: 0.7;
}
.infinite-scroll-loader {
    display: none;
	z-index: 2;
    clear: both;
    height: 100px;
    background: #fff url('images/loader.gif') no-repeat 50% 50%;
    font-size: 0;
    opacity: 0.7;
}
.item-box.dummy-box {
    position: relative; 
}
.item-box.dummy-box:before {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;   
    height: 32px;
    width: 32px;
    background: url('images/loader.gif') no-repeat 50% 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.item-box.dummy-box .product-item {
    opacity: 0;
}

/* NO RESULTS POPUP */

.ajaxFilters.k-window {
	position: absolute;
	z-index: 10001;
	width: 400px !important;
	height: auto !important;
	max-width: 95%;
	border: 1px solid #ccc;
	box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	background-color: #fff;
	padding: 0 !important;
}
.ajaxFilters .k-window-titlebar {
	margin: 0 !important;
	border: 1px solid #fcfcfc;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	background-color: #ddd;
	padding: 10px;
	font-weight: bold;
	color: #333;
	text-shadow: 1px 1px #eee;
}
.ajaxFilters .k-window-titlebar span {
	float: left;
	line-height: 24px;
	text-transform: uppercase;
}
.ajaxFilters .k-window-actions {
	float: right;
}
.ajaxFilters .k-window-actions a {
	display: block;
}
.ajaxFilters .k-window-actions .k-icon {
	display: block;
	width: 24px;
    height: 24px;
	border: 1px solid #bbb;
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAPFBMVEUAAACAgID///93d3dCQkJCQkL///9zc3N8fHxISEhISEhycnJjY2NnZ2f///9OTk5KSkpISEhHR0dBQUFOPcn8AAAAD3RSTlMArje5hnUwua+HdbmhjzGPu2/zAAAAOklEQVQI1yXKSQIAEAxD0aDmocX976r4m5dFsAma30iL1FUx0iQ/owWCEVG1ztyuhZ3h/LThLnH/dwBAxQG/0lRzXwAAAABJRU5ErkJggg==') center no-repeat;
	font-size: 0;
}
.ajaxFilters .k-window-actions .k-icon:hover {
	opacity: 0.9;
}
.ajaxFilters .k-window-content {
	min-height: inherit !important;
	min-width: inherit !important;
	padding: 10px;
	line-height: 20px;
}
.number-of-returned-products.active {
    display: block;
    line-height: 32px;
}



@media all and (max-width: 768px) {

.filtersPanel:after {
	content: "";
	display: block;
	clear: both;
}
.filter-block a.toggleControl {
	padding: 5px 0 5px 28px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMA6i3wySol5dA3MWZvMrEAAAAoSURBVAjXYyAPBDbBWFyGCjAmtxiYqt69e/cWJDEI4ISrU3RloAwAABuTBZHZAdohAAAAAElFTkSuQmCC') 3px center no-repeat;
}
.filter-block a.toggleControl.closed {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASBAMAAACk4JNkAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMA6i3wySol5dA3MWZvMrEAAAAxSURBVAjXYyAFsMNZ3PhYCtwMARCWJDeXAITlzM3cAGEF7t6oAGExSQvBtKQkkOAMADYGBINloxXXAAAAAElFTkSuQmCC') 3px center no-repeat;
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	top: 10px;
	padding: 5px 8px;
}
.number-of-returned-products.active {
	display: none;
}
	
}