﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

@media (min-width: 768px) {
    .newsletter-subscribe-popup  {
        text-align: right;
    }
}
.newsletter-subscribe-popup .close-popup {
    left: 0;
    right: auto;
}
.newsletter-subscribe-popup input[type="email"].newsletter-subscribe-text {
    float: right;
}