.overview .add-to-cart {
    width: calc(100% - 110px);
}
.price-match-wrapper {
    display: inline-block;
    margin: 0 0 0 5px;
}

.price-match-button {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: #8c8c8c;
    font-size: 0;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    z-index: 2;
    background-color: #f1f1f1;
    transition: all .1s ease;
}
.price-match-button:before {
    content: "\58";
    display: inline-block;
    vertical-align: bottom;
    color: #8c8c8c;
    font-size: 17px;
    text-transform: none;
    font-weight: normal;
    line-height: 45px;
    z-index: 1;
}
.price-match-button:hover {
    background-color: #eaeaea;
}

.k-overlay {
	position: fixed;
	z-index: 1060;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
}
.priceMatchWindow {
	position: absolute;
	right: 0;
	left: 0 !important;
	z-index: 1070;
	width: 600px;
	max-width: 100%;
	margin: auto;
	background-color: #fff;
	padding-top: 0 !important;
}
.priceMatchWindow .k-header {
    display: block;
    padding: 25px 0;
    margin: 0 auto;
    width: calc(100% - 100px);
    font-size: 22px;
    text-transform: none;
    font-weight: 700;
    color: #000;
    text-align: center;
    overflow: hidden;
}
.priceMatchWindow .k-window-title {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.priceMatchWindow .k-window-actions {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    background: transparent;
    overflow: hidden;
}
.priceMatchWindow .k-window-actions a {
	display: block;
	width: 20px;
    height: 24px;
    font-size: 0;
    text-align: center;
    opacity: 0.5;
    transition: all .1s ease;
}
.priceMatchWindow .k-window-actions a:before {
    content: "\7a";
    text-transform: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.priceMatchWindow .k-window-actions a:hover {
    opacity: 1;
}
.priceMatchWindow .k-window-content {
	padding: 0 30px 30px;
    line-height: 1.5;
    font-size: 15px;
    color: #8c8c8c;
    font-weight: 400;
    text-align: center;
}


.price-match-form .title {
	font-size: 15px;
    text-transform: uppercase;
    color: #8c8c8c;
    font-weight: bold;
    text-align: center
}
.price-match-form .captcha-box {
	margin: 0 0 30px;
}
.price-match-form .message-error {
	margin: 0 0 20px;
}
.price-match-form .buttons {
	text-align: center;
}
.save-price-match-button {
    border: none;
    height: 45px;
    padding: 0 25px;
    border-radius: 3px;
    background-color: #eebe00;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .2s ease;
}
.save-price-match-button:hover {
	background-color: #e8af00;
}

.price-match-requests-page .page-body {
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 3px;
}
.price-match-requests-page .price-match-request {
    border-bottom: 1px solid #e7e7e7;
    padding: 30px 20px;
    margin: 0;
    text-align: center;
    overflow: hidden;
}
.price-match-requests-page .price-match-request:last-child {
    border: none;
}
.price-match-requests-page .price-match-request .title {
    margin: 0 0 10px;
}
.price-match-requests-page .price-match-request .title strong {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.price-match-requests-page .details {
    font-size: 16px;
    line-height: 1.3;
    color: #8c8c8c;
}
.price-match-requests-page .details a {
    color: #97c300;
    transition: all .1s ease;
}
.price-match-requests-page .details a:hover {
    text-decoration: underline;
}

@media all and (min-width: 1025px) {

.block-account-navigation.block .list .price-match-requests a:after {
    content: "\58";
}

}


@media all and (min-width: 1281px) {

.overview .add-to-cart {
    width: calc(100% - 40px);
}

.price-match-wrapper {
    display: block;
    width: 100%;
    margin: 3px 0 0;
}
.price-match-button {
    width: 100%;
    font-size: 13px;
}
.price-match-button:before {
    margin: 0 10px 0 0;
}
.variant-overview .price-match-button {
    margin: 5px -50px 0 0;
    width: calc(100% + 50px);
}
.priceMatchWindow .k-window-content {
    padding: 10px 55px 55px;
}
.price-match-requests-page .price-match-request {
    padding: 40px 3%;
    text-align: left;
}
.price-match-requests-page .price-match-request .title {
    text-align: left;
}

.priceMatchWindow {
	width: 800px;
}
.priceMatchWindow .inputs label {
	width: 175px;
}

}