/*
* Copyright 2017 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.gallery {
    display: none;
}
.gallery.sevenspikes-cloudzoom-gallery {
    display: block;
}
  .gallery .picture-wrapper {
    position: relative;
    float: right;
    width: 80%;
  }
.gallery .picture-wrapper > img { /* Transitional image (on thumbnail click) */
	top: 0;
    right: 0;
	left: 0;
    margin: auto;
}
.gallery .picture-wrapper .picture {
	text-align: center;
	font-size: 0;
}
.gallery .picture-wrapper .picture a {
	display: inline-block;
	max-width: 100%;
}
.gallery .picture-wrapper .picture img {
    position: static !important;
}
.gallery .picture-wrapper .picture:before {
    display: none;
}

/* Zoom Lens, Zoom Window, Zoom Caption */

.cloudzoom-lens {
	opacity: 0.7;
    cursor:crosshair;
    z-index: 9999;
}
.cloudzoom-lens:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 1;
    background-color: rgba(255,255,255,.5);
}
.cloudzoom-zoom {
	z-index: 9999;
    top: 0 !important;
    left: calc(100% + 25px) !important;
}
.cloudzoom-zoom-inside {
    top: 0 !important;
    left: 0 !important;
	right: 0;
	z-index: 9999;
	height: 100% !important;
	margin: auto;
    cursor: crosshair;
}
.cloudzoom-zoom-inside img + div { /*title-wrapper*/
	top: auto !important;
	bottom: 0 !important;
}
.cloudzoom-caption {
    display: none;
    text-align: left;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-family: sans-serif;
    font-size: 11px;
}

/* Loading Images */

.cloudzoom-blank {
	top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAQMAAAD+wSzIAAAAA3NCSVQICAjb4U/gAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDYvMzAvMTLNuPjnAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M1cbXjNgAAAAxJREFUCJlj+M+AAgE/0Af5DM23uwAAAABJRU5ErkJggg==');
}
.cloudzoom-ajax-loader {
    position: absolute;
	top: 0 !important;
	left: 0 !important;
	z-index: 2;
    width: 100%;
    height: 100%;
	background: url('images/loader.gif') center no-repeat;
}