﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
<div class="container-box">
    @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
    
    @await Component.InvokeAsync("HomepagePolls")

    @*<div class="video-block">
            <header class="main-header">
                <h2>Video Section</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </header>
            <div class="video-frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hWB2UHCT0dw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>*@

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
</div>
