.header-menu {
    position: relative;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    /*border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    max-width:1200px;*/
    padding: 0;
}

    .header-menu .top-menu {
        display: none !important;
    }

.home-page .slider-wrapper:first-child {
    margin-top: 0;
}

.mega-menu {
    width: 100%;
    font-size: 16px;
}

.mega-menu-container {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
}

.mega-menu a.logo {
    display: inline-block;
    padding: 1.5em 3em;
    width: 19%;
    float: left;
}

.mega-menu img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.mega-menu-mobile {
    display: none;
    padding: 20px;
}

    .mega-menu-mobile:after {
        content: "\f394";
        font-family: "Ionicons";
        font-size: 2.5rem;
        padding: 0;
        float: right;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

.mega-menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.mega-menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .mega-menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    clear: right;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}

    .mega-menu > ul:before,
    .mega-menu > ul:after {
        content: "";
        display: table;
    }

    .mega-menu > ul:after {
        clear: both;
    }

    .mega-menu > ul > li {
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;
        margin: 0;
        border-left: 1px solid #ddd;
    }

        .mega-menu > ul > li:first-child {
            border-left: 0;
        }

        .mega-menu > ul > li a {
            text-decoration: none;
            display: block;
            padding: 18px 10px;
            line-height: 20px;
            font-weight: 700;
        }

.mega-menu > ul > li .first-level a {
  font-weight:700;
}
.mega-menu > ul > li .second-level a {
  font-weight:100;
}
        .mega-menu > ul > li:hover > a {
            color: #c91a33;
        }

        .mega-menu > ul > li > ul {
            display: none;
            width: 100%;
            padding: 20px;
            position: absolute;
            z-index: 99;
            left: 0;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #ddd;
        }

            .mega-menu > ul > li > ul .list-holder {
                display: inline-block;
                vertical-align: top;
                max-width: 75%;
                width: 100%;
                text-align: left;
            }

                .mega-menu > ul > li > ul .list-holder.wihout-banner {
                    max-width: 100%;
                }

            .mega-menu > ul > li > ul .megamenu-image-holder {
                display: inline-block;
                vertical-align: top;
                max-width: 23%;
                margin: 0 0 0 1.5%;
            }

            .mega-menu > ul > li > ul:before,
            .mega-menu > ul > li > ul:after {
                content: "";
                display: table;
            }

            .mega-menu > ul > li > ul:after {
                clear: both;
            }

            .mega-menu > ul > li > ul li {
                margin: 0;
                list-style: none;
                width: 33%;
                background: none;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                padding: 0 1% 15px;
            }

            .mega-menu > ul > li > ul .list-holder.wihout-banner > li {
                width: 25%;
            }

            .mega-menu > ul > li > ul .list-holder.column-four > li {
                width: 25%;
            }

            .mega-menu > ul > li > ul .list-holder.column-three > li {
                width: 33%;
            }

            .mega-menu > ul > li > ul li a {
                color: #000;
                display: block;
                border: 0;
                padding: 0;
                position: relative;
            }

            .mega-menu > ul > li > ul > li a:hover {
                color: #c91a33;
            }

            .mega-menu > ul > li > ul .wihout-banner li a span {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                padding: 10px;
                display: block;
                background-color: rgba(255,255,255,0.6);
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            .mega-menu > ul > li > ul .wihout-banner li a.pic-notexist span {
                position: relative;
                text-align: left;
            }
            .mega-menu > ul > li > ul li > ul {
                display: inline-block;
                vertical-align: top;
                padding: 10px 0 0;
                margin: 0;
                list-style: none;
                box-sizing: border-box;
                max-width: 100%;
            }

                .mega-menu > ul > li > ul li > ul:before,
                .mega-menu > ul > li > ul li > ul:after {
                    content: "";
                    display: table;
                }

                .mega-menu > ul > li > ul li > ul:after {
                    clear: both;
                }

                .mega-menu > ul > li > ul li > ul > li {
                    float: left;
                    width: 100%;
                    padding: 0;
                    margin: 0 0 3px;
                    font-size: .8em;
                    text-transform: capitalize;
                }

            .mega-menu > ul > li > ul li ul li a {
                max-width: 100%;
            }

.mega-menu ul li ul li:first-child a,
.mega-menu ul li ul li.first-level a {
    font-size: 18px;
}

.mega-menu ul li ul li ul li.second-level {
    padding-top: 5px;
}

    .mega-menu ul li ul li ul li.second-level a {
        font-size: 14px;
    }

.mega-menu > ul > li > ul li > ul > li > ul {
    padding: 0;
}

.mega-menu > ul > li > ul.smallbox,
.mega-menu > ul > li > ul.normal-sub {
    width: 200px;
    left: auto;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
}

    .mega-menu > ul > li > ul.smallbox li,
    .mega-menu > ul > li > ul.normal-sub li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
    }

        .mega-menu > ul > li > ul.smallbox li a,
        .mega-menu > ul > li > ul.normal-sub li a {
            border: 0;
            padding: 15px;
            max-width: 100%;
            border-bottom: 1px solid #ddd;
            text-align: left;
            display: block;
            font-size: 14px;
        }

.mega-menu.mobile-mega-menu {
    display: none;
}

.mega-menu > ul > .wihout-banner > li > ul li > ul {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    max-width: 58%;
}

.mega-menu > ul > li > ul .wihout-banner li > ul li a span {
    position: static;
    text-align: left;
    padding: 0;
    display: block;
    background-color: transparent;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.mega-menu > ul > li > ul.smallbox,
.mega-menu > ul > li > ul.normal-sub {
    width: 200px;
    left: auto;
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

    .mega-menu > ul > li > ul.smallbox li > ul.smallbox {
        left: 100%;
        position: absolute;
        width: 200px;
        background: #fff;
        top: 0;
        max-width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        padding: 0;
        display: none;
    }

    .mega-menu > ul > li > ul.smallbox li:hover > ul.smallbox {
        display: block;
    }
/* 末末末末末末末末末末末末末末末末末末末末末末末末末
Mobile style's
末末末末末末末末末末末末末末末末末末末末末末末末末 */
@media only screen and (max-width: 1000px) {
    .header-menu {
        position: static;
    }

    .mega-menu {
        display: none;
    }

        .mega-menu.mobile-mega-menu {
            display: block;
        }

    .mega-menu-container {
        width: 100%;
    }

        .mega-menu-container .menu {
            display: inline-block;
        }

    .mega-menu-mobile {
        width: 35px;
        height: 35px;
        margin: 0;
        font-size: 0;
        position: absolute;
        padding: 0;
        top: 55px;
        left: 10px;
        opacity: 1 !important;
        transition: all 0.3s ease;
        display: block;
        background: #3d800f url('menu-icon.png') center no-repeat;
    }

    .sticky-header .mega-menu-mobile {
        top: 34px;
    }

    .mega-menu-mobile:after,
    .mega-menu-dropdown-icon:before {
        display: none;
    }

    .mega-menu > ul > li > ul li > ul,
    .mega-menu > ul > li > ul li a {
        display: block;
        max-width: 100%;
    }

    .mega-menu > ul {
        display: none;
        width: 100%;
    }

        .mega-menu > ul > li {
            width: 100%;
            float: none;
            display: block;
            position: relative;
            text-align: left;
            padding: 0;
            border: 0;
        }

            .mega-menu > ul > li a {
                display: block;
                min-height: 55px;
                padding: 18px;
                font-size: 15px;
                color: #555;
                font-weight: 400;
                text-align: left;
                border: 0;
                border-bottom: 1px solid #ddd;
            }

            .mega-menu > ul > li > ul.normal-sub li:last-child a {
                border-bottom: 1px solid #ddd;
            }

            .mega-menu > ul > li > ul {
                position: relative;
                padding: 0;
                background: #fff;
                border: 0;
            }

                .mega-menu > ul > li > ul li a {
                    padding: 18px 50px 18px 28px;
                    border-bottom: 1px solid #ddd;
                }

                .mega-menu > ul > li > ul li > ul {
                    padding: 0;
                }

                .mega-menu > ul > li > ul.normal-sub {
                    width: 100%;
                    border: 0;
                }

                    .mega-menu > ul > li > ul.normal-sub li {
                        margin: 0;
                    }

                .mega-menu > ul > li > ul > li {
                    float: none;
                    width: 100%;
                    margin: 0;
                    position: relative;
                    padding: 0;
                }

    .sublist .sublist li {
        background-color: transparent;
        margin-bottom: 0;
    }

    .mega-menu > ul > li > ul > li:first-child {
        margin: 0;
    }

    .mega-menu > ul > li > ul > li > ul {
        position: relative;
    }

        .mega-menu > ul > li > ul > li > ul > li {
            float: none;
        }

    .mega-menu > ul.mobilemenu {
        display: block !important;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1000;
        bottom: 0;
        transition: all 0.3s linear;
        background-color: #fff !important;
        margin: 0;
        border-right: 1px solid #ddd;
        width: 300px;
        overflow: auto;
    }

    .show-on-mobile .mega-menu > ul.mobilemenu {
        left: 0;
    }

    .empaty-div {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.7);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    .show-on-mobile .empaty-div {
        opacity: 1;
        visibility: visible;
    }

    .show-on-mobile .mega-menu-mobile {
        left: 300px;
        top: -64px;
        z-index: 99999;
        background-image: url(cancel.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px auto;
    }

    .show-on-mobile .top-nav-container {
        z-index: 99;
    }

    .mega-menu > ul > li > ul.normal-sub li a {
        padding: 18px 30px;
    }

    .show-on-mobile .header-menu {
        z-index: 9999;
    }

    .sublist-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 55px;
        height: 55px;
        border-left: 0;
        background: none;
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }

        .sublist-toggle:before {
            position: absolute;
            top: 50%;
            left: 50%;
            background: url(toggle-black.png) no-repeat -19px -17px;
            width: 16px;
            height: 8px;
            content: '';
            transform: translate(-50%, -50%);
        }

        .sublist-toggle.closed:before {
            background-position: -19px 0;
        }

    .mega-menu > ul > li > ul li a,
    .mega-menu ul li ul li:first-child a, .mega-menu ul li ul li.first-level a {
        font-size: 14px;
    }

    .mega-menu > ul > li > ul li ul.sublist li a,
    .mega-menu ul li ul li ul.sublist li a:first-child a, .mega-menu ul li ul li ul.sublist li a.first-level a {
        font-size: 13px;
        padding-left: 45px;
    }
}

@media (max-width: 767px) {
    .show-on-mobile .mega-menu-mobile {
        top: -57px;
    }
}

@media (max-width: 849px) {
    .mega-menu-mobile {
        top: 95px;
    }

    .sticky-header .mega-menu-mobile {
        top: 80px;
    }
}

@media only screen and (max-width: 375px) {
    .mega-menu-mobile {
        top: 75px;
    }

    .sticky-header .mega-menu-mobile {
        top: 75px;
    }
}
