﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* SPC NAVIGATION */

.spc .navigation {
    display: none;
}
.spc .mobile-navigation {
    margin: -10px 0 25px;
	text-align: center;
}
.spc .mobile-navigation select {
    min-width: 150px;
}

/* COMMON STYLES */

.spc-header {
	position: relative;
}
.spc-header .title {
	margin: 0 0 30px;
    text-align: center;
	font-size: 22px;
    line-height: 24px;
	font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    letter-spacing: 3.2px;
	color: #000;
}
.spc-header ul {
	margin: 0 0 30px;
	font-size: 0;
}
.spc-header li {
	margin: 10px auto;
	cursor: pointer;
}
.spc-header li.active span {
	background-color: #eee;
}
.spc-header li span {
    display: block;
    border: 2px solid #eee;
	background-color: #f9f9f9;
	padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #cc8a97;
}

.spc-body {
	position: relative;
    min-height: 350px; /*pre-loading height, should not be taller than any of the grids in any resolution, currently matched to desktop category grid, could be fine tuned per variant*/
}
.spc-body .product-grid {
	display: none;
	margin: 0;
}
.spc-body .product-grid.active {
	display: block;
}
.spc-body .no-data {
	display: block;
	padding: 20px 25px;
}


/* LOADING OVERLAY */


.spc-body .loading-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background: rgba(255,255,255,0.9) url('images/loader.gif') center no-repeat;
}
.spc-products .spc-body .loading-overlay {
	display: block;
}
.spc-body .loading-overlay span {
	display: none;
}


/* PRODUCTS */

.spc-products {
	margin: 0 0 50px;
    min-height: 599px;
}
.spc-products .spc-body .loading-overlay {
	bottom: 35px; /*loader-overlay fix, depending on item-box bottom margin*/
}

.spc-products .product-rating-box {
    display: none;
} 


/* CATEGORIES */


.spc-categories {
	margin: 0 0 100px;
    min-height: 428px;
}
.spc-categories + .spc-categories {
	margin-top: -50px;
}
.spc-categories > .loading-overlay {
    background-color: #fff;
    line-height: 340px;
    text-align: center;
}

.spc-categories .category-info {
	position: relative;
}
.spc-categories .category-title {
	margin: 0 0 15px;
	padding: 15px 30px;
	font-size: 22px;
    line-height: 24px;
	font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.2px;
	color: #000;
}
.spc-categories .category-details {
    text-align: center;
}
.spc-categories .category-sublist {
	display: none;
	padding: 0 0 10px;
}
.spc-categories .category-sublist li {
	padding: 5px 0;
}
.spc-categories .category-sublist li a {
	padding: 5px 0;
}
.spc-categories .category-sublist li a:hover {
	color: #cc8a97;
}
.spc-categories .category-picture {
	display: none;
	font-size: 0;
}

.spc-categories .category-products {
	position: relative;
}
.spc-categories .product-grid {
	display: none;
}
.spc-categories .product-grid.active {
	display: block;
}

.spc-categories .product-item {
	padding: 0 !important;
}
.spc-categories .product-title {
	height: auto;
	margin: 0 0 10px;
}
.spc-categories .item-box .countdownTimer {
    display: none;
}



@media all and (min-width: 481px) {

.spc-header ul {
    margin-bottom: 0;
    text-align: center;
} 
.spc-header li {
    display: inline-block;
    width: 50%;
    margin: -2px -1px 0;
}
.spc-categories .category-sublist li {
	display: inline-block;
	padding: 5px 10px;
}

}

@media all and (min-width: 769px) {

.spc-header ul {
	border: none;
}
.spc-header li {
    width: auto;
}

}

@media all and (min-width: 1025px) {

.spc .navigation {
    display: block;
}
.spc .mobile-navigation {
    display: none;
}

.spc-categories + .spc-categories {
	margin-top: 0;
}
.spc-categories .spc-header {
	margin: 0;
	overflow: hidden;
}
.spc-categories .spc-header ul {
    text-align: right;
}
.spc-header li {
    margin: 0 -1px -2px;
}
.spc-body {
    border: 2px solid #eee;
    padding: 0;
}
.spc-categories .spc-body:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .product-grid {
	min-height: 370px; /*places loader in the middle when the grid contains less than 3 items, depending on item-box height + margins*/
}
.spc .product-grid {
    padding: 10px;
}
.spc .product-grid .item-box {
    margin: 0;
}
.spc .product-grid .item-box:hover {
    box-shadow: none;
}
.spc-categories .category-info {
	position: relative;
	z-index: 1;
	float: left;
	width: 35%;
	min-height: 312px; /*match category picture height with grid height*/
	margin: 0 0 38px;
	border: none;
}
.spc-categories .category-info:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .category-details {
	position: absolute;
	top: 0;
    right: 0;
	left: 0;
	z-index: 2;
	padding: 0 0 5px;
    text-align: left;
    -webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.spc-categories .category-title {
	padding: 0;
	transition: all 0.3s ease;
}
/*.spc-categories .category-title a:after {
	background-color: #cc8a97;
    display: block;
    height: 3px;
    margin: 10px auto 0 0;
    width: 30px;
}
.spc-categories .category-info:hover .category-title a:after {
    content: '';
}*/
.spc-categories .category-title a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
	display: inline-block;
	background-color: rgba(255,255,255,0.8);
	padding: 15px 25px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.spc-categories .category-info:hover .category-title a {
    color: #cc8a97;
}
.spc-categories .category-sublist {
    display: block;
	position: absolute;
    top: 60px;
    right: 0;
    left: 0;
	background-color: rgba(255,255,255,0.8);
	padding: 0 10px 10px;
	opacity: 0;
	transition: all 0.3s ease;
}
.spc-categories .category-info:hover .category-title:after,
.spc-categories .category-info:hover .category-sublist {
	opacity: 1;
}
.spc-categories .category-sublist li {
	display: block;
	padding: 10px 15px;
}
.spc-categories .category-sublist li:first-of-type {
    padding-top: 0;
}
.spc-categories .category-sublist a {
	display: inline-block;
	position: relative;
	padding: 0 !important;
    font-size: 15px;
}
.spc-categories .category-picture {
	display: block;
	max-width: none;
	height: 100%;
	margin: 0;
	overflow: hidden;
}
.spc-categories .category-picture a {
	display: block;
	position: relative;
	overflow: hidden;
	padding-top: 74%;
}
.spc-categories .category-picture img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	transition: all 0,3s ease;
}
.spc-categories.portrait .category-picture img {
	width: 100%;
}
.spc-categories.landscape .category-picture img {
	height: 100%;
}
.spc-categories .category-picture a:hover img {
	opacity: 0.9;
}
.spc-categories .category-products {
	float: right;
	width: 65%;
	padding: 0 0 0 20px;
}
.spc-categories .item-box {
	width: 49% !important;
	height: 170px; /*match grids height with category picture, based on 4 items per grid + margins,
	always use fixed height to prevent "content shifting" bug in Firefox*/
	clear: none !important;
	margin: 0 0 15px !important;
}
.spc-categories .item-box:nth-child(odd) {
	margin-right: 2% !important;
}
.spc-categories .product-item {
	text-align: left;
}
.spc-categories .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.spc-categories .picture {
	float: left;
	width: 45%;
	margin: 0;
}
.spc-categories .details {
	float: right;
	width: 53%;
}
.spc-categories .product-title {
	max-height: 40px;
	margin: 0 0 5px;
	font-size: 15px;
}
.spc-categories .product-rating-box {
	margin: 0 0 6px;
}
.spc-categories .description {
    display: none;
}
.spc-categories .prices {
	max-height: 40px;
	min-height: 17px; /*cross-broser line-height fix*/
	margin: 0 0 9px;
}
.spc-categories .prices span {
	font-size: 13px;
}
.spc-categories .prices span.actual-price {
    font-size: 15px;
}
.spc-categories .tax-shipping-info {
	display: none !important;
}
.spc-categories .quick-view-button,
.spc-categories .productQuantityTextBox,
.spc-categories .productQuantityDropdown {
	display: none !important;
}
.spc-categories .buttons input[type="button"] {
	width: 40px !important;
	height: 40px;
    background-position: center;
	background-repeat: no-repeat;
	font-size: 0 !important;
}
.spc-categories .add-to-compare-list-button {
	/*background-image: url('images/compare-button.png');*/
}
.spc-categories .add-to-wishlist-button {
	/*background-image: url('images/wishlist-button.png');*/
}
.spc-categories input[type="button"]:hover {
	
}
.spc-categories .product-box-add-to-cart-button {
    background-image: url(images/buttons.png) !important;
    background-position: -55px center !important;
}
.spc-categories .product-box-add-to-cart-button:hover {
	
}
.spc-categories .ajax-cart-button-wrapper {
	width: auto !important;
}
.spc-categories .spc-body .loading-overlay {
	bottom: 0; /*depending on item-box margin*/
}

/* category page */
.category-page .spc-categories .product-title {
    height: 25px;
}

}