
.price-match-button {
    background-image: url('images/price-match-button.rtl.png') !important;
    background-position: right center;
}
.priceMatchWindow .k-window-actions {
    left: 10px;
    right: auto;
}

@media all and (min-width: 721px) {

    .price-match-form .inputs.half-width {
        float: right;
    }
    .price-match-form .inputs.half-width:nth-child(odd) {
        margin-right: 0;
    }
    .price-match-form .inputs.half-width:nth-child(even) {
        margin-right: 2%;
        margin-left: 0;
    }
}