﻿


/********** START BUTTON *********/

.quick-view-button {
    position: absolute;
    opacity: 0;
    transition: all .4s ease-in-out;
    z-index: 2;
}

.item-box:hover .quick-view-button {
    opacity: 1;
}

.quick-view-button a {
    display: block;
    padding: 4px 10px;
    border: 1px solid #dbd5d0;
    outline: 4px solid #c3b9b1;
    width: 140px;
    background: #c3b9b1;
    text-transform: uppercase;
    font-family: 'open sans';
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0 1px 1px #847C75;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.quick-view-button a:hover {
    border-color:#fff;
    text-shadow:none; 
}

.product-grid .quick-view-button {
    top: 55px;
    left: 50%;
    margin-left:-70px;
    z-index:15;
}
.product-list .quick-view-button {
    opacity:1;
    position:relative;
    display: inline-block;
}

.quickViewData {
    display: none;
}
.item-box .buttons .add-to-wishlist-button{
    display:none;
}


/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/loading-image.gif') center no-repeat;
}

.quickViewWindow input {
    margin:0;
}
.quickViewWindow ul{
    list-style:none;
}



/********** MAIN QUICKVIEW WINDOW *********/



.quickView {
    position: absolute;
    padding-top: 0 !important;
    background: #fff;
    z-index: 1070;
    box-shadow: 0 0 15px #000;
}

.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
    width: 700px;
}

    .quickViewWindow input[type=button],
    .quickViewWindow a {
        cursor: pointer;
    }

.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}

.quickView .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 29px;
    height: 29px;
    overflow: hidden;
    text-indent: 9999px;
}

.quickView .k-window-titlebar.k-header .k-window-actions a {
    position: absolute;
    left: 0px;
    display: block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background: url(images/cross.png) transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
}

    .quickView .k-window-titlebar.k-header .k-window-actions:hover a {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        border: 2px solid #fff;
        background: url(images/cross.png) transparent;
        background-repeat: no-repeat;
        background-position: center;
    }



.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
}
    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

.quickViewWindow .product-name {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    line-height: 20px;
    font-weight: normal;
    font-family: open sans;
    font-size: 20px;
    color: #888;
    text-shadow: 1px 1px 0 #fff;
}

.quickViewWindow .popup-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0 40px;
    background: #EEECE7;
}



/********** GALLERY *********/

/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    background-image: url('images/loader.gif');
    width: 32px;
    height: 32px;
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    float: left;
    display: block; /*Cloud Zoom css override*/
    margin-left: 10px;
    margin-bottom: 0;
    overflow: visible;
    width: 280px;
}

.quickViewWindow .gallery .picture {
    float: none;
    border: 1px solid #fff;
    width: 100%;
    background: #fff;
    line-height: 0;
}

.quickViewWindow .gallery .picture:before {
    display: none;
}

.quickViewWindow .gallery .picture a {
    border: none;
    width: 100%;
    height: auto;
    overflow: visible;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickView .cloud-zoom-gallery img {
    width: 100%;
}

.quickViewWindow .gallery .picture img {
    bottom: auto;
    max-height: none;
}

.quickViewWindow .gallery .picture a img {
    position: static;
}

.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
    background: none;
    padding: 0;
}

.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 4px 8px;
    overflow: hidden;
    background: #fff;
}
/*thumbs in the quick view when cloud zoom is disabled*/
.quickViewWindow .gallery .thumbnails > img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 85px;
}
    .quickViewWindow .gallery .thumbnails a img:hover {
        opacity: 0.7; /*cloud zoom only*/
    }

.quickViewWindow .gallery .thumbnails a {
    width: 32.33%;
    margin: 0 0 8px;
}

    .quickViewWindow .gallery .thumbnails a:nth-child(3n-1) {
        margin: 0 4px 8px;
    }

.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 10px 0;
}

.quickViewWindow .links-panel a {
    display: block;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #9CA34E;
}
    .quickViewWindow .links-panel a:hover {
        text-decoration: underline;
    }

/********** START PRODUCT OVERVIEW *********/



.quickViewWindow .overview {
    float: right;
    width: 400px;
    margin-bottom: 0;
}
.quickViewWindow #accordion > h3 {
    position: relative;
    margin-bottom: 3px;
    padding: 5px 10px;
    border-radius: 0;
    background: #f6f5f3;
    text-transform: uppercase;
    text-align: left;
    font-family: open sans;
    font-size: 16px;
    font-weight: lighter;
    color: #888;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}
    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 11px;
        left: inherit;
        width: 16px;
        height: 16px;
        margin: -8px 0 0;
        cursor: pointer;
    }

.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    padding: 10px;
}

.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/quick-view-arrow-up.png) no-repeat center;
}
.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/quick-view-arrow.png) no-repeat center;
}
.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }
.quickViewWindow .overview .left .stock {
    line-height: 24px;
}
.quickViewWindow .overview .left .download-sample {
    margin-bottom: 8px;
}
.quickViewWindow .overview .left .download-sample-button a {
    text-shadow: 1px 1px 0 #bbb;
    color: #060;
}
.quickViewWindow .overview .left .download-sample-button a:hover {
    text-decoration: underline;
}
.quickViewWindow .overview .add-to-wishlist {
    overflow: hidden;
    display: inline-block;
}
.quickViewWindow .overview .add-to-wishlist-button {
    float: right;
}
.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    padding: 10px 0 0;
    border-top: 1px dotted #EEEEEE;
    overflow: hidden;
}
.quickViewWindow .overview #accordion .purchase-area .prices{
    line-height: 30px;
}
.quickViewWindow .overview #accordion .purchase-area .add-to-cart {

}
.quickViewWindow .overview #accordion .purchase-area .add-to-cart div * {
    float: left;
}
.quickViewWindow .overview #accordion .purchase-area .add-to-cart .qty-input {
    width: 40px;
    height: 41px;
    line-height: 24px;
    font-size: 18px;
    padding: 2px;
}
.quickViewWindow .overview #accordion .purchase-area .add-to-cart .qty-label {
    line-height: 30px;
}
.quickViewWindow .overview #accordion .purchase-area .tax-shipping-info{
    font-weight:lighter;
    color:#888;
}
.quickViewWindow .overview #accordion .purchase-area .tax-shipping-info:hover a{
    color:#9CA34E;
    text-decoration:underline;
}
.quickViewWindow .overview .full-description {
    border: none;
}
.quickViewWindow #accordion .product-details .short-description{
    font-size:14px;
    color:#888;
}
.quickViewWindow .overview .compare-products,
.overview  .add-to-wishlist {
    background:#eee;
}
.quickViewWindow .overview #accordion .product-details .compare-products:hover{
    background: url(images/link_compare.png) #eee;
    background-position: 7px center;
    background-repeat: no-repeat;
}
.overview  .add-to-wishlist:hover {
    background: url(images/link_wishlist.png) #eee;
    background-position: 7px center;
    background-repeat: no-repeat;
}
.quickViewWindow .color-container {
    padding: 2px;
}
.quickViewWindow .selected-value .color-container {
    border: 1px solid transparent;
    padding: 2px;
}
.quickViewWindow .color-squares li:hover .tooltip-container {
    margin-left: -80px;
    margin-top: 33px;
}
.quickViewWindow .overview .tier-prices {
    clear: both;
}

.quickViewWindow .overview .attributes {
    clear: both;
    margin: 0;
    border: none;
    padding: 0;
}
.quickViewWindow .overview .attributes dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.quickViewWindow .overview .attributes dl > * {
    float: left;
}

.quickViewWindow .overview .attributes dl dt{
    clear: left;
    margin: 0 10px 5px 0;
    text-align: left;
    width:95px;
}
.quickViewWindow .overview .attributes dd {
    float: none;
    margin-bottom: 10px;
    overflow: hidden;
}
.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}

.product-details .compare-products input,
.add-to-wishlist input{
    font-size: 12px;
    color: #888;
    font-family: 'open sans';
    border: 1px solid transparent;
    background: transparent;
}
.product-details .compare-products input:hover,
.add-to-wishlist:hover input {
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-left: 25px;
    border: 1px solid #ddd; 
}

/********** END PRODUCT ESSENTIAL *********/    

/********** START RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {
    margin: 10px 0 0;
    overflow: hidden;
    background: #eee;
}
    .quickViewWindow .product-grid .title {
        display: block;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

.quickViewWindow .item-grid {
    height: 185px;
    overflow: hidden;
}
.quickViewWindow .product-variant-list .item-grid {
    height:170px;
}
.quickViewWindow .product-grid .item-box {
    text-align: center;
    height: 185px;
    padding: 0;
    border: none;
    margin: 0;
    margin: 0 0 20px 1.33%;
    width: 24% !important;
    background: none;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box:first-child{
    margin:0 0 0 0;
}
.quickViewWindow .item-box:nth-child(3n+1){
    clear:none;
}
.quickViewWindow .product-grid .item-box .buttons,
.quickViewWindow .product-grid .item-box .add-info{
    display:none;
}
.quickViewWindow .product-grid .item-box .product-item{
    width: auto ;
    height: 100%;
    text-align: inherit;
}
.quickViewWindow .product-grid .item-box .picture {
    border: none;
    margin-bottom: 5px;
    float: none;
    overflow: hidden;
    background: none;
    min-height:0;
    height:130px;
}
.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    line-height: 0;
    height: auto;
    width: 100%;
}
.quickViewWindow .product-grid .item-box .picture a img{
    max-width:100%;
}
.quickViewWindow .product-grid .product-item {
    border: none;
    padding:0;
}
.quickViewWindow .product-grid .item-box .product-title {
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 54px;
    font-size: 10px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    padding: 0;
    font-size: 13px;
    display: block;
    color: #555;
}
.quickViewWindow .product-grid{
    background:none;
}
.quickViewWindow .product-grid .title{
    padding:0;
    margin-bottom:10px;
    border:none;
}
.quickViewWindow .product-grid .item-box .details{
    padding: 0;
    text-align: center;
    height:55px;
}
    .quickViewWindow .product-grid .item-box:hover .details{
        height:100%;
        width:100%;
        z-index:13;
    }
    .quickViewWindow .product-grid .item-box:hover .description{
        display:none;
        font-size:12px;
        height:46px;
        min-height:0;
        max-height:none;
    }
.quickViewWindow .product-grid .item-box .product-rating-box{
    margin-bottom:10px;
}
.quickViewWindow .product-grid .item-box .product-rating-box .rating {
    margin:auto;
}




.quickViewWindow .variant-grid-info {
    border:none;
}
.quickViewWindow .overview .price-input .enter-price-label{
    line-height:35px;
    margin-right:5px;
}
.product-essential > form > div {
    overflow: hidden;
    padding: 0 0 20px;
}


/********* START VARIANTS IN GRID ********/

.product-variant-list .product-variant .product-price {
    font-size: 20px;
    color: #9ca34e;
    position:absolute;
    top:0;
    left:-100%;
    transition:all .45s ease;
    -webkit-transition:all .45s ease;
    -ms-transition:all .45s ease;
}
.product-variant-list .product-variant:hover .product-price{
    left:0;
    width:100%;
}
.quickViewWindow .overview #accordion .prices .old-product-price {
    color: #999;
    font-size:14px;
    text-decoration: line-through;
}
.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 0;
}
.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}
.product-variant-list .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
    height: 165px;
    width: 32%;
    text-align: center;
}
.quickViewWindow .product-variant:nth-child(3n+1){
    margin:0;
}
.product-variant-list .product-variant:nth-child(3n-1){
    margin:0 2%;
}
.product-variant-list .product-variant .moreInfoHover {
    display:none;
}
.product-variant-list .product-variant:hover .variant-info {
    top: 0;
    background: rgba(248,231,238,.8);
}
.quickViewWindow .variant-info {
    background:transparent;
    bottom: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 11px;
    left: 0;
    top:125px;
    padding: 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    width: 100%;
}
.product-variant .variant-picture {
    margin: 0 0 5px;
    border: none;
    overflow: hidden;
    height: 124px;
    min-height: 0;
    width: 100%;
    line-height: normal !important;
}
.product-variant .variant-picture a{
    display:block;
    height:100%;
}

.product-variant .variant-picture a img{
    width:auto;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}
.quickViewWindow .variant-info .variant-name {
    padding-top: 10px;
    max-height: 50px;
    overflow: hidden;
}
.quickViewWindow .variant-info .variant-name a {
    font-size:13px;
    color:#888;
    font-family:open sans;
}
.product-variant .variant-info .tax-shipping-info {
    color:#777;
    position:absolute;
    bottom:-10px;
    left:-100%;
    width:100%;
    transition:all 1.5s ease;
    -webkit-transition:all 1.5s ease;
    -ms-transition:all 1.5s ease;
}
.product-variant:hover .variant-info .tax-shipping-info {
    top:30px;
    left:0;
}
.quickViewWindow .variant-info .prices {
    position: relative;
    float: none;
    margin: 0 !important;
    height: 100%;
}

    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}

/********* END VARIANTS IN GRID ********/



/********* START GIFTCARD *********/


.quickView .giftcard {
    clear: both;
    color: #888888;
    font-family: open sans;
    font-size: 12px;
}
.quickView .giftcard > div {
    width: 320px;
    overflow: hidden;
    margin: 0 auto 10px;
}
    .quickView .giftcard > div > * {
        float: left;
    }
.quickViewWindow .giftcard label {
    display: block;
    width: 120px;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 5px;
}
.quickViewWindow .giftcard input[type=text],
.quickViewWindow .giftcard input[type=email],
.quickViewWindow .giftcard textarea {
    border-radius: 5px;
}

.quickView .giftcard input[type="text"],
.quickView .giftcard input[type="email"] {
    width: 100%;
}
.quickView .giftcard textarea {
    width: 320px;
    resize: none;
}

/********* END GIFTCARD *********/

/********* START ATTRIBUTES *********/

.quickViewWindow .attributes {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d5d5d5;
}
.quickViewWindow .attributes dl {
    overflow: hidden;
}
    .quickViewWindow .attributes dl > * {
        margin-bottom: 3px;
        list-style: none;
    }
.quickViewWindow .attributes dt {
    float: left;
    clear: left;
    width: 120px;
}
    .quickViewWindow .attributes dt label{
        display: block;
        float: left;
        margin-right: 5px;
    }
.quickViewWindow .attributes dd {
    float: left;
}
    .quickViewWindow .attributes dd select {
        margin-right: 5px;
        max-width: 255px;
    }
.quickViewWindow .attributes .option-list li {
    overflow: hidden;
    margin-bottom: 5px;
}
.quickViewWindow .attributes .option-list li > * {
    display:block;
    float:left;
    line-height: 13px;
}
.quickViewWindow .attributes .option-list li > *:first-child {
    margin-right: 5px;
}
.quickViewWindow .attributes textarea {
    padding: 4px;
    width: 280px;
    height: 140px;
    border-radius: 5px;
    resize: none;
}
.quickViewWindow .attributes input[type=text] {
    padding: 2px;
    width: 140px;
}
.quickViewWindow .attributes .qq-upload-button {
    border-radius: 5px;
}
    .quickViewWindow .attributes .qq-upload-list {
        margin: 0;
    }
    .quickViewWindow .attributes .required {
        margin: 0;
        color: red;
    }
    .quickViewWindow .product-specs-box .spec-value>a{
        font-size:13px;
    }

/********* END ATTRIBUTES *********/

@media all and (min-width: 769px) and (max-width: 1024px) {
    .ajax-cart-button-wrapper {
        margin-left: 10px;
    }
}

@media all and (max-width: 1024px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}