@model ClientReviewModel
@using Nop.Plugin.Widgets.ClientReviews.Models

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
<script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
</script>
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-popup">
                <div class="panel-body">
                    @(Html.LocalizedEditor<ClientReviewModel, ClientReviewLocalizedModel>("client-review-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="@Model.Locales[item].Name" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="@Model.Locales[item].Name" />
                            <span asp-validation-for="@Model.Locales[item].Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="@Model.Locales[item].Message" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="@Model.Locales[item].Message" asp-template="RichEditor" />
                            <span asp-validation-for="@Model.Locales[item].Message"></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                </div>
,
                @<div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="Message" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="Message" asp-template="RichEditor" />
                            <span asp-validation-for="Message"></span>
                        </div>
                    </div>
                </div>))

                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="PictureId" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="PictureId" />
                            <span asp-validation-for="PictureId"></span>
                        </div>
                    </div>
                    <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-sm-3">
                            <nop-label asp-for="StoreId" />
                        </div>
                        <div class="col-sm-9">
                            <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                            <span asp-validation-for="StoreId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="Published" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="Published" />
                            <span asp-validation-for="Published"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-sm-9">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>