@model Nop.Plugin.Widgets.ClientReviews.Models.ClientReviewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";

    //page title
    ViewBag.Title = T("Plugins.Widgets.ClientReviews.Edit").Text;
}

<form asp-controller="WidgetsClientReviews" asp-action="ClientReviewsEditPopup" id="clientreview-form"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.ClientReviews.Edit")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.ClientReviews/Areas/Admin/Views/WidgetsClientReviews/_CreateOrUpdateClientReviews.cshtml", Model)
</form>