﻿@model ClientReviewSearchModel

@using Microsoft.AspNetCore.Razor.TagHelpers
@using Nop.Plugin.Widgets.ClientReviews.Models;
@using Nop.Web.Framework.Models.DataTables

@{
    //Layout = "_ConfigurePlugin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Plugins.Widgets.ClientReviews").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ClientReviewsList");
}
<form id="clientreviews-form">

    <nop-antiforgery-token />
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.ClientReviews")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                           Name = "clientreviews-grid",
                           UrlRead = new DataUrl("ClientReviewsList", "WidgetsClientReviews"),
                           UrlDelete = new DataUrl("ClientReviewsDelete", "WidgetsClientReviews", null),
                           Length = Model.PageSize,
                           LengthMenu = Model.AvailablePageSizes,
                           ColumnCollection = new List<ColumnProperty>
                               {
                                   new ColumnProperty(nameof(ClientReviewModel.PictureUrl))
                                    {
                                        Title = T("Plugins.Widgets.ClientReviews.Fields.Picture").Text,
                                        Width = "100",
                                        Render = new RenderPicture()
                                    },
                                   new ColumnProperty(nameof(ClientReviewModel.Name))
                                   {
                                       Title = T("Plugins.Widgets.ClientReviews.Fields.Name").Text,
                                       Encode = false
                                   },
                                   new ColumnProperty(nameof(ClientReviewModel.Published))
                                   {
                                       Title = T("Plugins.Widgets.ClientReviews.Fields.Published").Text,
                                       Width = "150",
                                       ClassName = NopColumnClassDefaults.CenterAll,
                                       Render = new RenderBoolean(),
                                   },
                                   new ColumnProperty(nameof(ClientReviewModel.DisplayOrder))
                                   {
                                       Title = T("Plugins.Widgets.ClientReviews.Fields.DisplayOrder").Text,
                                       Width = "150",
                                       ClassName = NopColumnClassDefaults.CenterAll,
                                   },
                                   new ColumnProperty(nameof(ClientReviewModel.Id))
                                   {
                                       Title = T("Admin.Common.Edit").Text,
                                       Width = "200",
                                       ClassName =  NopColumnClassDefaults.Button,
                                       Render = new RenderCustom("renderColumnEdit")
                                   },
                                   new ColumnProperty(nameof(ClientReviewModel.Id))
                                   {
                                       Title = T("Admin.Common.Delete").Text,
                                       Width = "100",
                                       Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                       ClassName = NopColumnClassDefaults.Button
                                   }
                               }
                        })
                        <script>
                        function renderColumnEdit(data, type, row, meta) {
                            return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/WidgetsClientReviews/ClientReviewsEditPopup/")' + data + '?btnId=btnRefreshClientReviews&formId=clientreviews-form\', 800, 550, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
                        }
                        </script>
                    </div>

                    <div class="panel-footer">
                        <button type="submit" id="btnAddNewClientReview"
                                onclick="javascript:OpenWindow('@(Url.Action("ClientReviewsCreatePopup", "WidgetsClientReviews",
                                new { btnId = "btnRefreshClientReviews", formId = "clientreviews-form" }))', 800, 800, true); return false;"
                                class="btn btn-primary">
                            @T("Plugins.Widgets.ClientReviews.AddNew")
                        </button>
                        <input type="submit" id="btnRefreshClientReviews" style="display: none" />
                        <script>
                            $(document).ready(function () {
                                $('#btnRefreshClientReviews').click(function () {
                                    //refresh grid
                                    updateTable('#clientreviews-grid');

                                    //return false to don't reload a page
                                    return false;
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>