﻿@model Nop.Plugin.Widgets.ClientReviews.Models.ConfigurationModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Plugins.Widgets.ClientReviews.Configuration").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ClientReviewsConfiguration");
}

<form asp-controller="WidgetsClientReviews" asp-action="Configure" method="post">

    <nop-antiforgery-token />
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.ClientReviews.Configure")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Plugins.Widgets.ClientReviews.Configure")
                        <a href="@Url.Action("ClientReviews", "WidgetsClientReviews")" class="btn btn-primary">
                            @T("Plugins.Widgets.ClientReviews.AddClientReviews")
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="Title_OverrideForStore" asp-input="Title" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="Title" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Title" />
                                <span asp-validation-for="Title"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PageSize_OverrideForStore" asp-input="PageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="PageSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PageSize" />
                                <span asp-validation-for="PageSize"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="NumberOfVisibleItems_OverrideForStore" asp-input="NumberOfVisibleItems" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="NumberOfVisibleItems" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NumberOfVisibleItems" />
                                <span asp-validation-for="NumberOfVisibleItems"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ScrollAnimationSpeed_OverrideForStore" asp-input="ScrollAnimationSpeed" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ScrollAnimationSpeed" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ScrollAnimationSpeed" />
                                <span asp-validation-for="ScrollAnimationSpeed"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="LoopItems_OverrideForStore" asp-input="LoopItems" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="LoopItems" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="LoopItems" />
                                <span asp-validation-for="LoopItems"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="DotNavigation_OverrideForStore" asp-input="DotNavigation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="DotNavigation" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="DotNavigation" />
                                <span asp-validation-for="DotNavigation"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="ArrowsNavigation_OverrideForStore" asp-input="ArrowsNavigation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ArrowsNavigation" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ArrowsNavigation" />
                                <span asp-validation-for="ArrowsNavigation"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PositionCenter_OverrideForStore" asp-input="PositionCenter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="PositionCenter" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PositionCenter" />
                                <span asp-validation-for="PositionCenter"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="PauseAtHover_OverrideForStore" asp-input="PauseAtHover" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="PauseAtHover" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PauseAtHover" />
                                <span asp-validation-for="PauseAtHover"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-override-store-checkbox asp-for="WidgetZone_OverrideForStore" asp-input="WidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="WidgetZone" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="WidgetZone" asp-items="Model.AvailableWidgetZones" />
                                <span asp-validation-for="WidgetZone"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>