﻿

/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/ajax-loader.gif') center no-repeat;
}

/********** START BUTTON *********/


.quickView {
	border-radius: 5px;
    padding: 1px;
    overflow: hidden;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.quick-view-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 62px;
    height: 62px;
    opacity: 0;
    background: url(images/button.png) no-repeat center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .15s ease-in-out;
    z-index: 2;
}

.item-box:hover .quick-view-button:hover {
	opacity: 0.9;
}
.quick-view-button:active {
	opacity: 0.8;
}
.quick-view-button a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-align: center;
    color: inherit;
    cursor: pointer;
}
.quickViewData {
    display: none;
}
.item-box:hover .quick-view-button {
    opacity: 1;
}




/********** MAIN QUICKVIEW WINDOW *********/



.quickView {
    position: absolute;
    z-index: 1070;
    padding-top: 0 !important;
    box-shadow: 0 0 15px #000;
    background: #fff;
}

.quickViewWindow {
    width: 685px;
    z-index: 100; /*check if z-index is necessary*/
}
    .quickViewWindow input[type=button],
    .quickViewWindow a {
        cursor: pointer;
    }

.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
}
    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
.quickViewWindow .popup-header {
    border-bottom: 1px solid #999;
    margin: 0;
    padding: 0 40px 0 10px;
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #ffffff 0%, #d3d3d3 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#d3d3d3 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#d3d3d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 );
}

.quickViewWindow .product-name {
    margin: 0;
    padding: 10px 0;
    line-height: 20px;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(255,255,255,.5);
    color: #555;
}

.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}

.quickView .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 9999px;
}


    .quickView .k-window-titlebar.k-header .k-window-actions a {
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid #999;
        background: #fff url('images/button-close.png') center no-repeat;
        opacity: 0.7;
    }


    .quickView .k-window-titlebar.k-header .k-window-actions a:hover {
        opacity: 1;
    }

.quickView .product-content {
    padding: 15px 10px 10px;
    overflow: hidden;
    background: url(images/separator.png) 0 -1px repeat-x;
}

.availability .value {
    font-weight: bold;
}

/********** GALLERY & OVERVIEW *********/

/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    top: 50% !important;
    left: 50% !important;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    background-image: url('images/ajax-loader.gif');
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    display: block; /*Cloud Zoom css override*/
    float: left;
    margin-bottom: 0;
    overflow: visible;
    width: 250px;
}
.quickViewWindow .gallery .picture {
    position: relative;
    float: none;
    width: 250px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px 0 #ccc;
    background: #fff;
    line-height: 0;
}
.quickViewWindow .gallery .picture a {
    width: 250px;
    border: none;
    overflow: hidden;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .picture a img {
	position: static;
}
.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
    background: #eee;
    padding: 10px 6px 2px;
}
.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    float: left;
    width: 71px;
    height: 71px;
    margin: 0 4px 8px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px 0 #ccc;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}


.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 10px 0;
}
.quickViewWindow .gallery .links-panel a {
    display: block;
    background: url('images/bullet-right.png') left center no-repeat;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #c6c;
}
.quickViewWindow .links-panel a:hover {
    text-decoration: underline;
}


/********** OVERVIEW *********/



.quickViewWindow .overview {
    float: right;
    width: 400px;
    margin-bottom: 0;
}

.quickViewWindow #accordion > h3 {
    position: relative;
    margin: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 3px #ccc;
    background: #eee;
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}
    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 11px;
        left: inherit;
        width: 16px;
        height: 16px;
        margin: -8px 0 0;
        cursor: pointer;
    }

.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/minus.png) no-repeat center;
}
.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/plus.png) no-repeat center;
}

.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #999 transparent #eee;
    border-radius: 0;
    box-shadow: 0 1px 3px #ccc;
    padding: 10px;
}

.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    text-align: right;
}

.quickViewWindow .overview .left,
.quickViewWindow .overview .right {
    margin-bottom: 10px;
}


.quickViewWindow .left .stock {
	margin-bottom: 5px;
}
.quickViewWindow .left .stock + div {
    margin-top: 10px;
}
.quickViewWindow .overview .left > *,
.quickViewWindow .overview .right > * {
    margin-bottom: 5px;
    overflow: hidden;
}

.quickViewWindow .left .back-in-stock-subscription {
    margin-bottom: 10px;
    font-size: 12px;
}

.quickViewWindow .left .back-in-stock-subscription .subscribe-button:hover {
	text-decoration: none;
}
.quickViewWindow .left .back-in-stock-subscription .subscribe-button
.quickViewWindow .overview .email-a-friend input,
.quickViewWindow .overview .compare-products input,
.quickViewWindow .overview .add-to-wishlist-button {
	margin: 0;
	float: none;
	display: inline;
	margin-right: 0;
	padding: 7px 10px;
	font: normal normal 12px Tahoma, Geneva, sans-serif;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.quickViewWindow .overview #accordion .purchase-area {
    border-top: 1px dashed #999;
    overflow:hidden;
    padding: 14px 0 0;
    margin: 10px 0;
    width: inherit;
    float: none;
    clear: both;
}
.quickViewWindow .overview #accordion .purchase-area.prices{
	float: left;
	margin: 0;
}
.quickViewWindow .overview #accordion .purchase-area .prices .old-product-price,
.quickViewWindow .overview #accordion .purchase-area .prices .product-price{
	display: block;
}
.quickViewWindow .overview #accordion .purchase-area .prices .old-product-price,
.quickViewWindow .overview #accordion .variant-info .prices .old-product-price {
	font: normal normal 12px Tahoma, Geneva, sans-serif;
	color: #999;
	text-decoration: line-through;
}

.quickViewWindow .prices {
    margin-bottom: 15px;
    float: left;
    max-width: 140px;
}

.quickViewWindow .prices > div {
    margin-bottom: 10px;
}

.quickViewWindow .prices > div:last-of-type {
    margin-bottom: 0;
}

.quickView .product-grid .title:before {
    display: none;
}

.quickViewWindow .overview .tier-prices {
    clear: both;
}

.quickViewWindow .overview .attributes {
    clear: both;
    margin: 0;
    border: none;
    padding: 0;
}

    .quickViewWindow .overview .attributes dl:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

    .quickViewWindow .overview .attributes dl > * {
        float: none;
    }

    .quickViewWindow .overview .attributes dt {
        clear: left;
        margin: 0 10px 5px 0;
        text-align: left;
    }

    .quickViewWindow .overview .attributes dd {
        margin-bottom: 10px;
    }

.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    border-top: 1px dashed #999;
    overflow: hidden;
    padding: 10px 0 0;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}

.quickViewWindow .overview #accordion .purchase-area .prices .product-price,
.quickViewWindow .overview #accordion .variant-info .prices .product-price {
	font: normal bold 15px Tahoma, Geneva, sans-serif;
	color: #c6c;
}
.quickViewWindow .overview .purchase-area .add-to-cart .add-to-wishlist-button {
    display: none;
}

.quickViewWindow .overview .purchase-area .add-to-cart .qty-label {
	line-height: 38px;
	margin-right: 10px;
}
.quickViewWindow .overview .full-description {
    border: none;
}
.quickViewWindow .overview .product-specs-box .title {
    display: none;
}
.quickViewWindow .overview .attributes select {
    max-width: 270px;
}

.quickView .add-to-cart {
    text-align: right;
}

.quickView .prices + .add-to-cart {
    margin-left: 130px;
}

.quickView .add-to-cart:after {
    content: "";
    display: block;
    clear: both;
}

.quickView .add-to-cart > div {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.quickView .add-to-cart .add-to-cart-button {
    float: none;
}

.quickView .add-to-cart .quantity {
    margin-right: 1px;
}

.quickView .add-to-cart > div.customer-entered-price {
    display: block;
}

.quickView .additional-details > div {
    margin-bottom: 5px;
}

.quickView .additional-details > div:last-of-type {
    margin-bottom: 0;
}


.quickView  .giftcard label {
    margin: 7px 7px 0 0 !important;
}


/********** RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
    overflow: hidden;
    float: right;
    background: #f6f6f4;
    box-shadow: 0 2px 2px 0 #ccc;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align:center;
    padding-bottom: 5px;
    border: none;
}
    .quickViewWindow .product-grid .title {
        display: block;
        margin: 0;
        padding: 10px;
        text-align: center;
    }

.quickViewWindow .product-grid:last-child {
    margin-bottom: 0;
}

.quickViewWindow .product-grid .item-grid {
	padding: 0;
	height: 142px;
	overflow: hidden;
}
.quickViewWindow .product-grid .item-row {
    margin-top: 0;
    padding: 0 0 0 2px;
}
.quickViewWindow .product-grid .item-box {
    margin: 0 0 10px 17px;
    text-align: center;
    height: 140px;
    min-height: 0;
    width: 112px;
    padding: 0;
    overflow: hidden;
    box-shadow: inset 0 0 10px #eee;
}

.quickViewWindow #accordion > h3 {
    box-shadow: 0 1px 3px #eee;
}

.quickViewWindow .product-grid .item-box:first-child {
    margin-left: 0;
}

.quickViewWindow .product-grid .item-box .product-item{
    width: auto;
    height: auto;
    text-align: inherit;
}
    
.quickViewWindow .product-grid .item-box .picture {
    width:100%;
    border: none;
}
.quickViewWindow .product-grid .item-box .picture a {
	overflow: hidden;
	display: block;
	margin: 0 auto;
    border: none;
	width: 85px;
	height: 85px;   
    line-height: 0;
}
.quickViewWindow .product-grid .product-item {
    border: none;
}

.quickViewWindow .product-grid .product-item .description,
.quickViewWindow .product-grid .product-item .product-rating-box {
	display: none;
}
.quickViewWindow .product-grid .product-item .picture {
	box-shadow: none;
	height: 85px;
	float: none;
	overflow: hidden;
	background: none;
	line-height: 85px;
	margin: 10px 0 6px;
}
.quickViewWindow .product-grid .picture img {
    vertical-align: inherit;
}
.quickViewWindow .also-purchased-products-grid .item-box {
    margin-left: 6px;
}

.quickViewWindow .product-grid .item-box .product-title {
    margin: 0;
    overflow: hidden;
    padding: 0 5px;
    font-size: 10px;
    line-height: 1.4;
    height: 27px;
}

.quickViewWindow .product-grid .item-box .product-title a {
	display: inline;
	line-height: inherit;
}

.quickViewWindow .product-grid .product-item .add-info {
    display: none;
}

.quickViewWindow .product-grid .product-item .add-info .prices {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	margin: 6px 0;
}
.quickViewWindow .product-grid .product-item .add-info .buttons {
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
}
.quickViewWindow .product-grid .product-item .add-info .buttons * {
	float: none;
}
.quickViewWindow .related-products-grid .title,
.quickViewWindow .also-purchased-products-grid .title {
    text-align: center;
}
.quickViewWindow .related-products-grid .title strong,
.quickViewWindow .also-purchased-products-grid .title strong {
    padding: 0;
    background: none;
    font-size: 22px;
}
.quickViewWindow .product-grid .grid-header {
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.quickViewWindow .product-grid .title {
    background: none;
    font-size: 18px;
    padding: 10px 0;
}


/********* VARIANTS IN GRID ********/

.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(3n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
}

    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}
.quickViewWindow .overview .product-variant .prices .product-price {
    font-size: 14px !important;
}
.quickViewWindow .overview .product-variant .prices .product-price,
.quickViewWindow .overview .product-variant .prices .old-product-price {
    line-height: 24px !important;
}


/********* GIFTCARD *********/


.quickView .giftcard {
    clear: both;
    margin: 0;
    border-top: 1px dashed #999;
    padding: 10px 0 0;
}
    .quickView .giftcard > div {
        overflow: hidden;
        margin-bottom: 5px;
    }

        .quickView .giftcard > div > * {
            float: left;
        }

    .quickView .giftcard label {
        display: block;
        width: 120px;
        margin-right: 10px;
    }
.quickView .giftcard input[type=text],
.quickView .giftcard input[type=email],
.quickView .giftcard input[type=phone] {
    width: 238px;
}
.quickView .giftcard textarea {
    width: 240px;
    resize: none;
}

@media all and (max-width: 980px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}