﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.search-box form {
	position: relative;
}
span.search-box-text {
    float: left;
    width: calc(100% - 45px);
}

input.search-box-text.instant-search-busy {
    background: #fff url('../../../images/ajax-loader-small.gif') no-repeat center right 20px;
}

#small-searchterms-list {
    line-height: normal !important;
}

.search-box-select {
    position: absolute;
    left: 20px;
    top: 64px;
    width: calc(100% - 40px);
    border-radius: 0 0 3px 3px;
    border-color: #eee;
    padding: 0 25px 0 10px;
    background: #f6f6f6 url('images/select-arrow-dark.svg') no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-box-select::-ms-expand {
    display: none;
}

/* AUTOCOMPLETE */

.instantSearch {
    width: calc(100% - 40px) !important;
    height: auto !important;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
    border-radius: 0 0 3px 3px;
}

.instantSearch .k-list-container {
    width: 100% !important;
    position: static !important;
}
.instantSearch .k-item {
    cursor: pointer;
}
.instantSearch .k-list {
    height: 100%;
}
.instantSearch .k-item:first-child {
    padding-top: 7px;
	border: 0;
}
.instantSearch .k-item:last-child {
    padding-bottom: 7px;
}
.instant-search-item {
    overflow: hidden;
    padding: 7px 10px;
}
.instantSearch .k-item.k-state-hover .instant-search-item,
.instantSearch .k-item.k-state-focused .instant-search-item {
    background: #f6f6f6;
}
.instant-search-item .img-block {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}
.instant-search-item .img-block img {
	max-width: 100%;
}
.instant-search-item .detail {
    margin-left: 70px;
    text-align: left;
}
.instant-search-item .detail .title {
    margin: 0 0 7px;
    font-size: 15px;
    color: #000;
}
.instant-search-item .detail .price {
    color: #97c300;
    font-size: 16px;
    font-weight: 700;
}
.instant-search-item .detail .sku {
    margin: 0 0 10px;
    font-size: 14px;
    color: #8c8c8c;
}

@media all and (max-width: 1024px) {
    .instantSearch.resize {
        top: 109px !important;
    }
    .instantSearch > div {
        max-height: calc(100vh - 160px);
        overflow: auto;
    }

    .instantSearch.resize > div {
        max-height: calc(100vh - 190px);

    }

}

@media all and (min-width: 1025px) {
    .instantSearch {
        width: calc(100% - 47px) !important;
        left: 0 !important;
    }

    span.search-box-text {
        width: calc(100% - 47px);
    }

    .search-box-select {
        top: 0;
        left: 0;
        border-radius: 3px 0 0 3px;
        width: 100px;
        height: 47px;
        background-color: #fff;
        border-right: 0;
    }

    .store-search-box span.search-box-text.narrow {
        width: calc(100% - 147px);
        margin: 0 0 0 100px;
    }

    .header-lower input.search-box-text.narrow {
        border-radius: 0;
    }

}

@media all and (min-width: 1281px) {
    .search-box-select {
        width: 150px;
        padding: 0 35px 0 20px;
        background-position: right 20px center;
    }
    .store-search-box span.search-box-text.narrow {
        width: calc(100% - 197px);
        margin: 0 0 0 150px;
    }

    .instantSearch .k-item:first-child {
        padding-top: 15px;
    }
    .instantSearch .k-item:last-child {
        padding-bottom: 15px;
    }

    .instant-search-item {
        padding: 7px 20px;
    }
    
    .instant-search-item .img-block {
        width: 77px;
        height: 77px;
    }

    .instant-search-item .detail {
        margin-left: 90px;
    }

}

@media all and (min-width: 1601px) {
    .search-box-select {
        width: 200px;
    }

    .store-search-box span.search-box-text.narrow {
        width: calc(100% - 247px);
        margin: 0 0 0 200px;
    }
}