﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
@inject IStoreContext storeContext;

<div class="footer">
    <div class="newsletter-holder">
        <div class="container-box">
            @await Component.InvokeAsync("NewsletterBox")
        </div>
    </div>
    <div class="container-box">
        <div class="footer-upper">
            <div class="footer-block about">
                <div class="title"><strong>@T("Footer.FollowUs")</strong></div>
                <div class="footer-logo">
                    <a href="@Url.RouteUrl("Homepage")">
                        <img src="~/Themes/UniRepair/Content/images/logo.png" alt="TheDeen" />
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit.</p>
                @await Component.InvokeAsync("SocialButtons")
            </div>
            <div class="footer-block information">
                <div class="title">
                    <strong>@T("Footer.Information")</strong>
                </div>
                <ul class="list">
                    @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                    @if (Model.DisplayContactUsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block customer-service">
                <div class="title">
                    <strong>@T("Footer.CustomerService")</strong>
                </div>
                <ul class="list">
                    @if (Model.DisplayProductSearchFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                    }
                    @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                    }
                    @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                    }
                    @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                    {
                        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                    }
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                    {
                        <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                    }
                    @if (Model.AllowCustomersToCheckGiftCardBalance)
                    {
                        <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                    }
                </ul>
            </div>
            <div class="footer-block information">
                <div class="title">
                    <strong>@T("Footer.MyAccount")</strong>
                </div>
                <div class="list">
                    <p>
                        @storeContext.CurrentStore.CompanyPhoneNumber<br />
                        @storeContext.CurrentStore.CompanyAddress
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container-box">
            <div class="footer-info">
                <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                @if (Model.DisplayTaxShippingInfoFooter)
                {
                    var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                    <span class="footer-tax-shipping">
                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </span>
                }
                @if (!Model.HidePoweredByNopCommerce)
                {
                    <div class="footer-powered-by">
                        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                            Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
                        Powered by <a href="https://www.nopcommerce.com/">nopCommerce</a>
                    </div>
                }
            </div>

            @await Component.InvokeAsync("StoreThemeSelector")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<a href="#" class="buttonn-up" id="scroll-up"><i class="fas fa-chevron-up"></i></a>
<div id="loading"></div>
<script asp-location="Footer">
    /* Color Swatcher Open Close */
    $(".switch-btn").click(function () {
        $("body").toggleClass('switcher-open');
        removeClass = false;
    });
    /* Back to Top button Show Hide jquery */
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 500) {
            $(".master-wrapper-page").addClass("btn-show");
        } else {
            $(".master-wrapper-page").removeClass("btn-show");
        }
    });
    /* Back to Top button with SmoothScroll */
    $('#scroll-up').click(function () {
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
    /* Sticky Header class on scroll */
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 50) {
            $(".header").addClass("sticky");
        } else {
            $(".header").removeClass("sticky");
        }
    });
    /* Filters Open close */
    $('.filters-title').click(function () {
        $('.filters-holder').slideToggle(600);
        return false;
    });
    $('.filters-title').click(function () {
        $(this).toggleClass('closed');
        removeClass = false;
    });
    $('.filters-title').click(function () {
        $('.itemlist').slideToggle(600);
        return false;
    });
    /* All Sliders jQuery */
    $(document).ready(function () {
        /* Homepage categories Slider */
        var owl = $('.product-grid .owl-carousel');
        owl.owlCarousel({
            loop: false,
            center: false,
            nav: true,
            dots: false,
            autoplay: false,
            responsive: {
                0: {
                    items: 1,
                    margin: 0
                },
                550: {
                    items: 2,
                    margin: 15
                },
                768: {
                    items: 3,
                    margin: 20
                },
                1024: {
                    items: 3,
                    margin: 30
                }
            }
        });

        /* news Slider */
        var owl = $('.client-testimonial .owl-carousel');
        owl.owlCarousel({
            loop: true,
            center: false,
            nav: false,
            dots: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1,
                    margin: 0
                },
                480: {
                    items: 2,
                    margin: 20
                },
                768: {
                    items: 3,
                    margin: 30
                },
                1200: {
                    items: 3,
                    margin: 30
                }
            }
        });

        /* quotes Slider */
        var owl = $('.home-slider .owl-carousel');
        owl.owlCarousel({
            loop: true,
            center: false,
            nav: false,
            dots: true,
            autoplay: true,
            responsive: {
                0: {
                    items: 1,
                    margin: 0
                },
                650: {
                    items: 1,
                    margin: 0
                },
                768: {
                    items: 1,
                    margin: 0
                },
                1024: {
                    items: 1,
                    margin: 0
                }
            }
        });

        /* Customer Page Mobile open close */
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width > 1024) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
            if (result.width < 1023) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
            $(this).toggleClass('closed');
            removeClass = false;
        });

        /*footer Accordian*/
        $('.footer-block .title').toggleClass('inactive-header');
        var contentwidth = $('.footer-block .title').width();
        $('.footer-block .title').click(function () {
            if ($(this).is('.inactive-header')) {
                $('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }

            else {
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }
        });
        return false;
    });


    $(document).ready(function () {
        var bigimage = $("#big");
        var thumbs = $("#thumbs");
        //var totalslides = 10;
        var syncedSecondary = true;

        bigimage
            .owlCarousel({
                items: 1,
                slideSpeed: 2000,
                nav: true,
                autoplay: true,
                dots: false,
                loop: true,
                responsiveRefreshRate: 200,
                //navText: [
                //    '<i class="fa fa-arrow-left" aria-hidden="true"></i>',
                //    '<i class="fa fa-arrow-right" aria-hidden="true"></i>'
                //]
            })
            .on("changed.owl.carousel", syncPosition);

        thumbs
            .on("initialized.owl.carousel", function () {
                thumbs
                    .find(".owl-item")
                    .eq(0)
                    .addClass("current");
            })
            .owlCarousel({
                items: 10,
                dots: false,
                nav: true,
                //navText: [
                //    '<i class="fa fa-arrow-left" aria-hidden="true"></i>',
                //    '<i class="fa fa-arrow-right" aria-hidden="true"></i>'
                //],
                smartSpeed: 200,
                slideSpeed: 500,
                slideBy: 4,
                responsiveRefreshRate: 100,
                responsive: {
                    0: {
                        items: 3,
                        margin: 0
                    },
                    480: {
                        items: 4,
                        margin: 0
                    },
                    650: {
                        items: 6,
                        margin: 0
                    },
                    768: {
                        items: 8,
                        margin: 0
                    },
                    1024: {
                        items: 10,
                        margin: 0
                    }
                }
            })
            .on("changed.owl.carousel", syncPosition2);

        function syncPosition(el) {
            //if loop is set to false, then you have to uncomment the next line
            //var current = el.item.index;

            //to disable loop, comment this block
            var count = el.item.count - 1;
            var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

            if (current < 0) {
                current = count;
            }
            if (current > count) {
                current = 0;
            }
            //to this
            thumbs
                .find(".owl-item")
                .removeClass("current")
                .eq(current)
                .addClass("current");
            var onscreen = thumbs.find(".owl-item.active").length - 1;
            var start = thumbs
                .find(".owl-item.active")
                .first()
                .index();
            var end = thumbs
                .find(".owl-item.active")
                .last()
                .index();

            if (current > end) {
                thumbs.data("owl.carousel").to(current, 100, true);
            }
            if (current < start) {
                thumbs.data("owl.carousel").to(current - onscreen, 100, true);
            }
        }

        function syncPosition2(el) {
            if (syncedSecondary) {
                var number = el.item.index;
                bigimage.data("owl.carousel").to(number, 100, true);
            }
        }

        thumbs.on("click", ".owl-item", function (e) {
            e.preventDefault();
            var number = $(this).index();
            bigimage.data("owl.carousel").to(number, 300, true);
        });
    });
</script>
<script asp-location="Footer">
    /* Loading Giff */
    function onReady(callback) {
        var intervalId = window.setInterval(function () {
            if (document.getElementsByTagName('body')[0] !== undefined) {
                window.clearInterval(intervalId);
                callback.call(this);
            }
        }, 1000);
    }

    function setVisible(selector, visible) {
        if (document.querySelector(selector) != null)
            document.querySelector(selector).style.display = visible ? 'block' : 'none';
    }

    onReady(function () {
        setVisible('.page', true);
        setVisible('#loading', false);
    });
</script>