﻿@{
    var theme = ThemeHelper.GetPluginTheme(Plugin.FolderName);

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.css");

    bool supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;

    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.rtl.css");
    }
}

@if (ViewBag.IsMobile != null && ViewBag.IsMobile)
{
    <option value="@Url.Action("Requests", "PriceMatch")">@T("SevenSpikes.PriceMatch.Public.AccountNavigation.Requests.Link")</option>
}
else
{
    <li class="price-match-requests">
        <a asp-controller="PriceMatch" asp-action="Requests">@T("SevenSpikes.PriceMatch.Public.AccountNavigation.Requests.Link")</a>
    </li>
}