﻿



/*********************************** ELECTRONICS *********************************/


/* fix for the accordion content so that no scrolls are shown*/
.quickView {
    position: absolute;
    padding-top: 0 !important;
    left: 50% !important;
    border-radius: 5px;
    overflow: hidden;
    min-width: auto !important;
    width: 600px;
    box-shadow: 0 0 15px #000;
    background: #fff;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1070;
}
.quickViewWindow {
    width: 100%;
    max-width: 600px;
    z-index: 100; /*check if z-index is necessary*/
}
.quickViewWindow .ui-accordion-content {    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;        
}
.quickViewWindow input[type=button],
.quickViewWindow a {
    cursor: pointer;
}


/********** START BUTTON *********/


.quick-view-button {
    position: absolute;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #eee;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%), #fff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
    text-shadow: 1px 1px 0 #fff;
    font: bold 11px/normal Tahoma, Verdana, Arial, sans-serif;
    opacity: 0;
    transition: all .15s ease-in-out;
    z-index: 2;
}
.quick-view-button:hover {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%), #fff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.15) 0%,rgba(0,0,0,0) 100%), #fff;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.15) 0%,rgba(0,0,0,0) 100%), #fff;
}

.item-box:hover .quick-view-button {
    opacity: 1;
}

.product-grid .quick-view-button {
    top: 50%;
    left: 50%;
    white-space: nowrap;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.search-page .product-grid .quick-view-button {
    left: 71px;
}
.product-list .quick-view-button {
    bottom: 10px;
    left: 41px;
}
.quick-view-button a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    color: #000;
}
.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}

.quickView .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 9999px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
    display: block;
    border: 1px solid #999;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    background: #fff url('images/button-close.png') center no-repeat;
}
.quickView .k-window-titlebar.k-header .k-window-actions a:hover {
    border-color: #aaa;
}
.quickView .k-loading-image {
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background: url('images/ajax_loader_big.gif') center no-repeat;
}
.item-box .picture {
    position: relative;
}

.quickViewData {
    display: none;
}


/********* SCREEN OVERLAY & DATA LOADER *********/

.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin-top: -15px;
    width: 100%;
    height: 100%;
    background: url('images/loading-image.gif') center no-repeat;
}


/********** END BUTTON *********/


/********** START PRODUCT OVERVIEW *********/

.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
}

    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

.quickViewWindow .popup-header {
    margin-bottom: 15px;
    padding: 0;
    border-bottom: 1px solid #ddd;
    background: #eee;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%), #fff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
}
.quickViewWindow .product-name {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
}

.quickViewWindow .overview {
    float: right;
    margin-bottom: 0;
    width: 58%;
}
/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    position: absolute; 
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-image: url('images/ajax_loader_big.gif');
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    display: block; /*Cloud Zoom css override*/
    float: left;
    margin-bottom: 0;
    overflow: visible;
    width: 40%;
}
.quickViewWindow .gallery .picture {
    position: relative;
    float: none;
    border: 1px solid #fff;
    background: #fff;
    line-height: 0;
    box-shadow: 0 0px 3px 0 #ccc;
}

.quickViewWindow .gallery .picture a {
    position: relative;
    height: auto;
    width: 250px;
    border: none;
    overflow: hidden;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
}
.quickViewWindow .gallery .picture:before{
    display: none;
}
.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
    padding: 0;
    background: #fff;
}
.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    margin: 0 0 1.5% 1.5%;
    overflow: hidden;
    border: 1px solid #fff;
    height: 70px;
    width: 32.3%;
    background: #fff;
    box-shadow: 0 1px 3px 0 #ccc;
}
.quickViewWindow .gallery .thumbnails a:nth-of-type(3n+1) {
    margin-left: 0;
}
.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}
.quickViewWindow .add-to-cart-panel {
    float: right;
    margin-top: 15px;
}
.quickViewWindow .add-to-wishlist input,
.quickViewWindow .compare-products input{    
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,.15) 100%), #fff;
    background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
    background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,.15) 100%), #fff;
    text-shadow: 1px 1px 0 #fff;
    font: bold 11px/normal Tahoma, Verdana, Arial, sans-serif;
    vertical-align: middle;
}
.quickViewWindow .add-to-wishlist input:hover,
.quickViewWindow .compare-products input:hover {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 100%), #fff;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.15) 0%,rgba(0,0,0,0) 100%), #fff;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.15) 0%,rgba(0,0,0,0) 100%), #fff;
}


.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 10px 0;
}

.quickViewWindow .links-panel a {
    display: block;
    background: url('images/bullet-right.png') left center no-repeat;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

    .quickViewWindow .links-panel a:hover {
        text-decoration: underline;
    }







.quickViewWindow #accordion {
    margin-bottom: 10px;
}
.quickViewWindow #accordion > h3 {
    position: relative;
    padding: 5px 10px;
    margin-bottom: 5px;
    border: 0;
    border: 1px solid #ddd;
    border-top-color: #ddd;
    border-radius: 5px;
    background: #eee;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    font-size: 12px;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}
 .quickViewWindow #accordion > h3 span {
    position: absolute;
    top: 50%;
    right: 11px;
    left: inherit;
    width: 16px;
    height: 16px;
    margin: -8px 0 0;
    cursor: pointer;
}
.quickViewWindow #accordion .data-table td a{
    text-decoration:underline;
}
.quickViewWindow .overview .product-variant-line .attributes {
    padding-top: 10px;
    border-top: 1px dashed #999;
}

.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    padding: 10px 0 0;
    border-top: 1px dashed #e6e6e6;
    overflow: hidden;
}
.quickViewWindow .overview .purchase-area .prices{
    float: left;
}
.quickViewWindow .overview .purchase-area .add-to-cart div > * {
    display: inline-block;
    vertical-align: middle;
}
.quickViewWindow .overview .purchase-area .add-to-cart .add-to-wishlist-button {
    display: none;
}
.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    padding: 15px 10px;
    border: 0;
    overflow: hidden;
}
.quickViewWindow .overview .full-description {
    border: none;
}
.quickViewWindow .overview .product-specs-box .title {
    display: none;
}
.quickViewWindow .product-content {
    overflow:hidden;
    padding: 15px;
}
.quickViewWindow .product-grid .item-box:nth-child(3n+1){
    clear:none;
}

.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }

.quickViewWindow .overview .tier-prices {
    clear: both;
}

.quickViewWindow .overview .attributes {
    clear: both;
    margin: 0;
    border: none;
    padding: 0;
}

.quickViewWindow .overview .attributes dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.quickViewWindow .overview .attributes dl > * {
    float: left;
}

.quickViewWindow .overview .attributes dt {
    clear: left;
    width: 20%;
    margin: 0 10px 5px 0;
    text-align: left;
}

.quickViewWindow .overview .attributes dd {
    margin-bottom: 10px;
    max-width: 100%;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}

/********** START RELATED/ALSO-PURCHASED PRODUCTS *********/

.quickViewWindow .product-grid {
    padding-bottom: 15px;
    margin: 10px 0 0;
    overflow: hidden;
    background: #fff;
}
.quickViewWindow .product-grid .title {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.quickViewWindow .product-collateral .tabhead,
.quickViewWindow .product-grid .title {
    margin-bottom: 15px;
    border-bottom: 0;
}
.quickViewWindow .product-grid,
.quickViewWindow .product-grid .item-row {
    margin: 0;
    text-align: center;
}
.quickViewWindow .product-grid .item-box {
    width: 20%;
    height: 120px;
    overflow: hidden;
    margin: 0 2% 10px 2%;
}
.quickViewWindow .product-grid .item-row .item-box:first-child {
    margin-left: 11px;
}
.quickViewWindow .also-purchased-products-grid .item-box {
    height: 124px;
}
.quickViewWindow .product-grid .item-box .picture {
    margin-bottom: 5px;
    height: 85px;
}
.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 85px;
    height: 85px;
    line-height: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .product-item .details {
    height: 28px;
}
.quickViewWindow .product-grid .item-box .product-title {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 28px;
    font-weight: normal;
    font-size: 11px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: inline;
}
.quickViewWindow .availability .label,
.quickViewWindow .additional-details .label {
    min-width: 35%;
}
.quickViewWindow .variant-info {
    top: 0;
}
.quickViewWindow .variant-info .variant-name {
    font-size: 12px;
}
.quickViewWindow .tax-shipping-info,
.quickViewWindow .tax-shipping-info a {
    color: #fff;
}
/********** END RELATED/ALSO-PURCHASED PRODUCTS *********/



/********* START VARIANTS IN GRID ********/


.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(3n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
}

    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}

.quickViewWindow .overview .variants-in-grid .product-variant-list .product-variant .prices .product-price {
    color: #ed2525;
    font-size: 12px;
}
.quickViewWindow .overview #accordion .prices .old-product-price {
    color: #5C5B5B;
    text-decoration: line-through;
}

/********* END VARIANTS IN GRID ********/


.quickView .giftcard {
    clear: both;
}

.quickViewWindow .giftcard > div {
    float: none;
    margin: 0 0 5px;
    width: auto;
    overflow: hidden;
    margin-bottom: 5px;
}

.quickView .giftcard > div > * {
    float: left;
}

.quickView .giftcard label {
    display: block;
    width: 120px;
    margin-right: 10px;
}

.quickView .giftcard input[type=text] {
    width: 200px;
}

.quickView .giftcard textarea {
    width: 200px;
    resize: none;
}


@media all and (max-width: 980px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}



