﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.newsletter-subscribe-popup  {
    text-align: right;
}

.newsletter-subscribe-popup .close-popup {
    left: 10px;
    right: auto;
}
.newsletter-subscribe-popup .newsletter-email button {
    float: right;
    margin-right: -48px;
}