﻿/*
* Copyright 2014 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/*input.instant-search-busy {
	background: url('../../../images/ajax-loader-small.gif') no-repeat right center !important;
}*/
span.search-box-text {
	float: left;
	width: 250px;
}
.with-caregory-search-enabled span {
	width: 214px; /*250-36, because of select-wrap*/
}
.with-caregory-search-enabled .select-wrap {
	float: left;
	width: 36px;
	margin: 0 0 -2px;
	border-bottom-color: transparent;
	background-position: center;
	font-size: 0;
}
.with-caregory-search-enabled .select-wrap:before,
.with-caregory-search-enabled .select-wrap:after {
	background-color: rgba(0,0,0,0.15);
}

/* AUTOCOMPLETE */

.instantSearch {
	width: 100% !important;
	height: auto !important;
}
.instantSearch .k-list-container {
	position: static !important;
	width: 100% !important;
    margin-top: 2px;
	background: #fff;
	border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.instantSearch .k-list {
    height: 100%;
}
.instant-search-item {
	overflow: hidden;
	background-image: url('images/category-title-decoration.png');
	background-position: top;
	background-repeat: repeat-x;
	padding: 10px;
	cursor: pointer;
}
li:first-child .instant-search-item {
    background-image: none;
}
.instant-search-item .img-block {
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	background-color: #fff;
	text-align: center;
}
.instant-search-item .img-block img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.instant-search-item .detail {
	min-height: 42px;
	margin-left: 90px;
    text-align: left;
}
.instant-search-item .detail .title {
	margin: 0 0 5px;
	font-size: 14px;
    line-height: 18px;
}
.instant-search-item .detail .sku {
    margin: 0 0 5px;
	font-size: 14px;
}
.instant-search-item .detail .price {
	font-size: 18px;
	line-height: 18px;
    font-family: "Playfair Display",Times New Roman,serif;
    color: #c49169;
}

.k-item.k-state-hover .instant-search-item,
.k-item.k-state-focused .instant-search-item  {
    background-color: #f9f9f9;
}
.k-item.k-state-hover .instant-search-item .img-block, 
.k-item.k-state-focused .instant-search-item .img-block {
	border-color: #ddd;
}



@media all and (min-width: 481px) {

span.search-box-text {
	width: 380px;
}
.with-caregory-search-enabled span {
	width: 230px; /*380-150, because of select-wrap*/
}	
.with-caregory-search-enabled .select-wrap {
	display: inline-block !important;
	width: 150px;
	background-position: right center;
	font-size: 14px;
}	

}

@media all and (min-width: 1025px) {

span.search-box-text {
	width: 300px;
}
.with-caregory-search-enabled span {
	width: 210px;
}

}

@media all and (min-width: 1347px) {

.header.normal span.search-box-text {
    width: 209px;
}
.header.normal .with-caregory-search-enabled span {
	width: 173px; /*209-36, because of select-wrap*/
}
.header.normal .with-caregory-search-enabled .select-wrap {
	width: 36px;
	background-position: center;
	font-size: 0;
}

}

@media all and (min-width: 1501px) {

.header.normal span.search-box-text {
	width: 255px;
}
.header.normal .with-caregory-search-enabled span {
	width: 155px; /*255-100, because of select-wrap*/
}
.header.normal .with-caregory-search-enabled .select-wrap {
	width: 100px;
	background-position: right center;
	font-size: 14px;
}

}

@media all and (min-width: 1601px) {

.header.normal span.search-box-text {
	width: 285px;
}
.header.normal .with-caregory-search-enabled span {
	width: 185px; /*285-100, because of select-wrap*/
}

}

@media all and (min-width: 1901px) {

.header.mobile span.search-box-text,
.header.normal span.search-box-text {
    width: 360px;
}
.with-caregory-search-enabled span {
	width: 210px !important;
}
.with-caregory-search-enabled .select-wrap {
	width: 150px !important;
}

}