﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/* COMMON STYLES */


.spc {
    clear: both;
}

.spc-header {
	position: relative;
}
.spc-header .title {
	margin: 0 0 25px;
	font-size: 28px;
	font-weight: 700;
	color: #000;
}
.spc-header ul {
	margin: 0 0 20px;
	font-size: 0;
    text-align: center;
}

.spc-categories .navigation {
    margin: 0 0 22px;
    font-size: 0;
    text-align: center;
}

.spc-header li,
.spc-categories .navigation li {
    display: inline-block;
	padding: 5px 23px;
	font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #aeaeae;
	cursor: pointer;
    transition: color .2s ease;
}

.spc-products .spc-header li {
    letter-spacing: 2px;
}

.spc-categories .navigation li {
    font-size: 14px;
    letter-spacing: 2px;
}

.spc-products .spc-header li:hover,
.spc-categories .navigation li:hover,
.spc-header li.active,
.spc-categories .navigation li.active {
	color: #97c300;
}

.spc-body {
	position: relative;
    backface-visibility: hidden;
}

.spc-body:after {
    content: "";
    display: block;
    clear: both;
}

.spc-body .product-grid {
	display: none;
	margin: 0;
}
.spc-body .product-grid.active {
	display: block;
}
.spc-body .no-data {
	display: block;
	padding: 20px 25px;
}

.spc-products .item-box {
    width: 100% !important;
    margin: 0 !important;
}

/* LOADING OVERLAY */

.spc-categories .loading-overlay,
.spc-body .loading-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.8);
}
.spc-categories .loading-overlay {
    background-color: rgba(246, 246, 246, .6);
}

.spc-products .spc-body .loading-overlay {
    display: block;
}

.spc-categories .loading-overlay:before,
.spc-categories .loading-overlay:after,
.spc-body .loading-overlay:before,
.spc-body .loading-overlay:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 0px solid #97c300;
    border-radius: 50%;
    -webkit-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
    -moz-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
    animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
}

.spc-categories .loading-overlay:after,
.spc-body .loading-overlay:after {
    animation-delay: .8s;
}

.spc-categories .loading-overlay span,
.spc-body .loading-overlay span {
    display: none !important;
}

.spc .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    text-align: center;
}

.spc .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.spc .slick-dots li button {
    background-color: rgba(0,0,0,.2);
    border: none;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
}

.spc .slick-dots .slick-active button {
    background-color: #eebe00;
    width: 12px;
    height: 12px;
}

/* PRODUCTS */

.spc-products .slick-slide {
    padding: 0 5px;
}
.spc-products .slick-arrow {
    position: absolute;
    top: 50%;
    left: -15px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: transparent;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 50%;
    text-align: center;
    font-size: 0;
    transition: all .2s ease;
    z-index: 1;
}
.spc-products .slick-arrow:before {
    display: block;
    color: #d0d0d0;
    font-size: 12px;
    line-height: 40px;
    transition: all .2s ease;
    text-transform: none;
}

.spc-products .slick-arrow:hover {
    background-color: #97c300;
    border: 1px solid #97c300;
}
.spc-products .slick-arrow:hover:before {
    color: #fff;
}

.spc-products .slick-prev:before {
    content: "\6b";
}

.spc-products .slick-next:before {
    content: "\6a";
}

.spc-products .slick-next {
    right: -18px;
    left: auto;
}

.spc-products .navigation {
    display: none;
}

.products-mobile-navigation {
    margin-bottom: 10px;
}

.products-mobile-navigation select {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border: 0;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background: #f1f1f1 url(images/select-arrow-dark.svg) no-repeat right 15px center;
}

.spc-products {
    margin: 0 0 50px;
}


/* CATEGORIES */


.spc-categories {
	margin: 0 -10px 70px;
    min-height: 410px;
    background-color: #f6f6f6;
}

.spc-categories .slick-arrow {
    display: none !important;
}

.spc-categories .navigation,
.spc-categories .category-sublist {
    display: none;
}

.spc-categories .category-info {
	position: relative;
}
.spc-categories .category-title {
	padding: 35px 20px 22px;
	font-size: 25px;
	color: #97c300;
}

.spc-categories .category-picture {
	font-size: 0;
    margin-bottom: 20px;
}


.spc-categories .category-picture .spc-to-all-products {
    position: absolute;
    display: block;
    top: auto;
    left: 0;
    bottom: -45px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    background-color: #efbe00;
    opacity: .9;
    cursor: pointer;
    transition: all .3s ease;
}

.spc-categories .category-picture .spc-to-all-products:hover {
    opacity: 1;
}

.spc-categories .category-picture .spc-to-all-products:before {
    content: "\66";
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    font-size: 17px;
    text-transform: none;
    color: #fff;
    font-weight: normal;
}

.spc-categories .category-picture a:hover  .spc-to-all-products {
    bottom: 0;
}

.spc-categories .category-picture a {
    position: relative;
    display: block;
    padding-bottom: 73%;
    overflow: hidden;
}

.spc-categories .category-picture img {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto;
    height: 100%;
    width: auto;
    max-width: none;
    transition: all 0.3s ease;
}

.spc-categories .category-mobile-navigation {
    padding: 0 30px;
    margin-bottom: 20px;
    text-align: center;
}

.spc-categories .category-mobile-navigation select {
    width: 100%;
    max-width: 400px;
}

.spc-categories .category-sublist {
	display: none;
    margin-bottom: 25px;
    text-align: center;
}


.spc-categories .category-products {
	position: relative;
    padding: 0 10px 20px;
}
.spc-categories .product-grid {
	display: none;
    margin: 0 -5px;
}
.spc-categories .product-grid.active {
	display: block;
}

.spc-categories .product-item {
	padding: 0 !important;
}
.spc-categories .product-title {
	height: auto;
	margin: 0 0 10px;
}

.spc-categories .item-box {
    width: 100% !important;
    margin: 0 !important;    
    border-radius: 3px !important;
    overflow: hidden;
    max-height: 120px;
    clear: none !important;
    float: none !important;
    font-size: 0;
}
.spc-categories  .slick-slide {
    font-size: 0;
    padding: 0 5px;
}

.spc-categories  .slick-slide > div:nth-child(2) {
    margin-top: 10px !important;
}

.spc-categories .item-box .product-item > div {
    display: inline-block;
    vertical-align: top;
}

.spc-categories .item-box .product-item > div:first-child {
    width: 120px;
    margin: 0;
}

.spc-categories .item-box .picture {
    border-radius: 2px 0 0 2px;
}

.spc-categories .item-box .details {
    width: calc(100% - 120px);
    padding: 13px;
    text-align: left;
}

.spc-categories .item-box .product-title,
.spc-categories .item-box .title {
    padding: 0;
    height: auto;
    max-height: 39px;
}

.spc-categories .item-box .prices {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.spc-categories .item-box .buttons,
.spc-categories .item-box .btn-wrapper {
    display: none;
}

@media all and (max-width:768px) {
    .spc-categories .item-box .prices .actual-price {
        display: block;
        margin: 0;
    }
}


@media all and (min-width:461px) and (max-width: 1281px) {
    .spc-products {
        padding: 0 20px;
    }
    .spc-products .slick-list {
        margin: 0 -3px 0 -1px;
    }
}


@media all and (min-width: 768px) {
    .spc-categories .category-mobile-navigation,
    .spc-products .products-mobile-navigation {
        display: none;
    }

    .spc-categories .category-products {
        padding: 0 20px 20px;
    }

    .spc-products .navigation,
    .spc-categories .navigation {
        display: block;
    }

    .spc-categories {
        margin: 0 -20px 70px;
    }

    .spc-header,
    .spc-categories .category-title {
        text-align: center;
    }

    .spc-categories .category-picture {
        max-width: 555px;
        margin: 0 auto 22px;
    }
    .spc-header .title {
        margin-bottom: 15px;
        font-size: 30px;
    }

    .spc-categories .item-box {
        max-height: 150px;
    }

    .spc-categories .item-box .product-item > div:first-child {
        width: 150px;
    }

    .spc-categories .item-box .details {
        padding: 27px 5%;
        width: calc(100% - 150px);
    }

}


@media all and (min-width:1024px) {

    .spc-categories .item-box .btn-wrapper {
        display: inline-block;
    }

    .spc-categories .item-box:hover .ribbon-position {
        display: none;
    }
}

@media all and (min-width: 1281px) {
    
    .spc-categories {
        border-radius: 3px;
        margin: 0 0 70px;
        overflow: hidden;
    }
   
    .spc-categories .spc-header {
        border: 1px solid #eee;
        border-right: 0;
        border-radius: 3px 0 0 3px;
        width: 20%;
        height: 410px;
        float: left;
        background-color: #fff;
        z-index: 1;
    }
    .spc-categories .spc-body {
        float: right;
        width: 80%;
    }

    .spc-categories .category-title {
        padding: 45px 20px 20px;
        line-height: 35px;
    }
    .spc-categories .category-title a {
        transition: color .2s ease;
    }
    .spc-categories .category-title a:hover {
        color: #7c9a16;
    }

    .spc-categories .category-sublist {
	    display: block;
	    width: 100%;
    }
 
    .spc-categories .category-sublist li {
	    display: block;
        padding: 0;
        text-transform: none;
        font-weight: 400;
        font-size: 17px;
    }
    .spc-categories .category-sublist a {
	    position: relative;
	    display: block;
	    padding: 10px 20px;
        transition: color .2s ease;
    }
    .spc-categories .category-sublist a:hover {
        color: #97c300;
    }

    .spc-categories .category-picture {
	    margin: 0;
    }
    .spc-categories .category-picture a {
	    display: block;
	    position: relative;
        padding: 0;
	    overflow: hidden;
	    height: 410px;
    }

     .spc-categories .category-info {
	    position: static;
	    z-index: 1;
	    float: left;
	    width: 30%;
	    height: 410px; /*match category picture height with grid height*/
    }

    .spc-categories .slick-arrow {
        position: absolute;
        display: block !important;
        top: -41px;
        right: 0;
        left: auto;
        width: 20px;
        height: 20px;
        border: none;
        background: transparent;
        font-size: 0;
        z-index: 20;
    }
    .spc-categories .slick-prev {
        right: 30px;
    }
    .spc-categories .slick-prev:before {
        content: "\6b";
        font-size: 12px;
        color: #8c8c8c;
        transition: all .2s ease;
    }
    .spc-categories .slick-next:before {
        content: "\6a";
        font-size: 12px;
        color: #8c8c8c;
        transition: all .2s ease;
    }
    .spc-categories .slick-prev:hover:before,
    .spc-categories .slick-next:hover:before {
        color: #97c300;
    }

    .spc-categories .slick-dots {
        display: none !important;
    }

    .spc-categories .navigation {
        position: absolute;
        top: 0;
        left: 20px;
        margin: 0;
        padding: 20px 0 0;
        width: calc(100% - 90px);
        white-space: nowrap;
        overflow: hidden;
        z-index: 1;
    }

    .spc-products .spc-header li,
    .spc-categories .navigation li {
        padding: 5px 0;
        margin-left: 40px;
    }
    .spc-products .spc-header li:first-child,
    .spc-categories .navigation li:first-child {
        margin-left: 0;
    }

    .spc-categories .category-products {
	    float: right;
	    width: 70%;
        height: 410px;
	    padding: 65px 20px 28px;
        overflow: hidden;
    }
   
    .spc-categories .productQuantityTextBox,
    .spc-categories .productQuantityDropdown {
	    display: none !important;
    }

}

@media all and (min-width:1600px) {

    .spc-categories .spc-header {
        width: 18%;
    }

    .spc-categories .spc-body {
        width: 82%;
    }

    .spc-categories .category-products {
        width: 61%;
    }

    .spc-categories .category-info {
        width: 39%;
    }
}