﻿@model PriceMatchRequestButtonModel

@{
    var theme = ThemeHelper.GetPluginTheme(Plugin.FolderName);

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Scripts/PriceMatch.min.js");

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/lib/kendo/2019.2.619/kendo.core.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.userevents.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.draganddrop.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.window.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.fx.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/kendo/2014.1.318/kendo.numerictextbox.min.js");

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.css");

    bool supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;

    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.rtl.css");
    }

    string endpoint = Url.Action("GetPriceMatchRequestForm", "PriceMatch", new { productId = Model.ProductId });

    string title = T("SevenSpikes.PriceMatch.Public.PriceMatchForm.Title", Model.ProductName, Model.ProductPriceFormatted).Text;
}

<div class="price-match-wrapper" data-price-match-endpoint="@Html.Raw(endpoint)" data-price-match-form-title="@title">
    <button type="button" value="@T("SevenSpikes.PriceMatch.Public.PriceMatchButton")" title="@T("SevenSpikes.PriceMatch.Public.PriceMatchButton")" class="button-2 price-match-button">@T("SevenSpikes.PriceMatch.Public.PriceMatchButton")</button>
</div>