﻿@model CategoryGroupModel

<div class="spc-header">
    <h2 class="category-title">
        <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">@Model.Name</a>
    </h2>
    <div class="mobile-navigation category-mobile-navigation">
        <select class="category-mobile-navigation-select">
            @foreach (var tab in Model.Tabs)
            {
                <option class="tab" value="@tab.Id" data-tabid="@tab.Id">@tab.Title</option>
            }
        </select>
    </div>
</div>

<div class="spc-body">
    <div class="category-info">
        <div class="category-picture">
            <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">
                <img src="@Model.PictureModel.FullSizeImageUrl" alt="@Model.PictureModel.Title" />
            </a>
        </div>
        <div class="category-details">
            <div class="category-details-content">
                <h2 class="category-title">
                    <a href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">@Model.Name</a>
                </h2>

                @if (Model.SubCategories.Count > 0)
                {
                    <ul class="category-sublist">
                        @foreach (var subcategory in Model.SubCategories)
                        {
                            <li>
                                <a href="@Url.RouteUrl("Category", new {SeName = subcategory.SeName})" title="@subcategory.Name">@subcategory.Name</a>
                            </li>
                        }
                        @if (Model.DisplayViewAllSubcategoriesLink)
                        {
                            <li>
                                <a class="view-all" href="@Url.RouteUrl("Category", new {SeName = Model.SeName})" title="@Model.Name">
                                    @T("SevenSpikes.Nop.Plugins.SmartProductCollections.Categories.ViewAll")
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="category-products">
        <ul class="navigation">
            @foreach (var tab in Model.Tabs)
            {
                <li class="tab" data-tabid="@tab.Id" notloaded>
                    <span>@tab.Title</span>
                </li>
            }
        </ul>

        @foreach (var tab in Model.Tabs)
        {
            <div class="product-grid" data-tabId="@tab.Id">
                <div class="item-grid">
                    @await Html.PartialAsync("_Grid", tab.Products)
                </div>
            </div>
        }
        <div class="loading-overlay">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line"></div>
            </div>
            <span>@T("SevenSpikes.SmartProductCollections.Public.Loading")</span>
        </div>
    </div>
</div>