
.client-testimonial {
    padding-bottom: 50px;
}

.client-testimonial:before {
    position: absolute;
    content: '';
    left: -9999px;
    right: -9999px;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f5f5f5;
}

.client-testimonial .main-header {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.about-nav li strong {
    display: block;
    padding-top: 10px;
}

.client-testimonial .owl-carousel .item {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.client-testimonial .owl-carousel .owl-dots {
    padding-top: 40px;
}

.client-testimonial .owl-carousel .owl-dots  .owl-dot{
    background-color: black;
}

.client-testimonial .owl-carousel .owl-dots  .owl-dot.active, .client-testimonial .owl-carousel .owl-dots  .owl-dot:hover{
    background-color: white;
}

.client-blockquotes {
    text-align: center;
    padding: 7% 5%;
    border: 1px solid #337ab7;
    width: 100%;
    min-height: 345px;
    background-color: #fff;
    border-radius: 5px;
}

    .client-blockquotes svg {
        font-size: 50px;
        color: #337ab7;
    }

    .client-blockquotes p {
        margin: 20px 0;
    }

    .client-blockquotes cite {
        font-weight: 600;
        color: #337ab7;
    }

.quotes-img {
    overflow: hidden;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

@media all and (max-width: 1023px) {
  .client-testimonial {
    padding-bottom: 20px;
  }
    .client-blockquotes {
        font-size: 14px;
        min-height: 320px;
    }

        .client-blockquotes svg {
            font-size: 40px;
        }

    .quotes-img {
        width: 80px;
        height: 80px;
    }
}

@media all and (max-width: 767px) {
    .client-blockquotes p {
        margin: 15px 0;
    }

    .client-testimonial {
        padding-bottom: 35px;
    }
}

@media all and (max-width: 479px) {
    .client-testimonial .owl-carousel .owl-dots {
        padding-top: 25px;
    }

    .client-testimonial {
        padding-bottom: 20px;
    }
}
