﻿


.product-grid .buttonOverlay {
    display: none !important;
}
.product-list .buttonOverlay {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 230px;
    background: rgba(0,0,0,0);
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product-list .item-box:hover .buttonOverlay {
    background: rgba(0,0,0,0.2);
}

.home-page-listbox .quick-view-button {
    display: none;
}

/********* START BUTTON *********/

.item-box .quick-view-button {
    position: absolute;
    top: 50%;
    left: 0;
    margin: -19px 0 0 -42px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2;
}
.item-box .picture:hover .quick-view-button {
    left: 50%;
}
.item-box .picture .quick-view-button:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.quick-view-button a {
    display: block;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    width: 38px;
    height: 38px;
    background: url('images/button.png') center no-repeat;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: inherit;
    -webkit-transform: translateZ(0); /*fixing bug with slicing on hover*/
    text-indent: -9999px;
    cursor: pointer;
}
.quick-view-button a:before {
    display: none !important;
}
.quickViewData {
    display: none;
}
.item-box .picture .compare-products {
    left: auto;
    right: 0;
    top: 50%;
    bottom: auto;
    margin: -19px -42px 0 0 !important;
}

/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/loading-image.gif') center no-repeat;
}


/********** MAIN QUICKVIEW WINDOW **********/


.quickView {
    position: absolute;
    z-index: 1070;
    padding-top: 0 !important;
    box-shadow: 0 0 15px #000;
    background: #fff;
}

.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
    width: 700px;
}

    .quickViewWindow input[type=button],
    .quickViewWindow a {
        cursor: pointer;
    }

.quickView .popup-header {
    position: relative;
    margin: 0 0 25px;
    padding: 0 60px 0 0;
}
    .quickView .popup-header:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #ddd;
        position: absolute;
        top: 15px;
        z-index: -1;
    }
    .quickViewWindow .product-name {
        display: inline-block;
        margin: 0;
        box-shadow: 0 0 0 10px #fff;
        padding: 0;
        text-transform: uppercase;
        background: #fff;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        text-align: left;
        text-shadow: 1px 1px 0 #fff;
    }

.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}

    .quickView .k-window-titlebar.k-header .k-window-actions {
        position: absolute;
        top: 11px;
        right: 11px;
        width: auto;
        height: auto;
        background: none;
        text-indent: 0;
        overflow: visible;
        text-indent: 9999px;
        z-index: 1;
    }

    .quickView .k-window-titlebar.k-header .k-window-actions a {
        display: block;
        width: auto;
        height: auto;
        border: none;
        background: none;
        text-transform: uppercase;
        padding: 2px 5px;
        -webkit-transition: all .10s ease-in-out;
        -moz-transition: all .10s ease-in-out;
        transition: all .10s ease-in-out;
    }
    .quickView .k-window-titlebar.k-header .k-window-actions a:hover {
        color: #75bfa1;
    }


/********** GALLERY & OVERVIEW *********/

.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 15px;
}

    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    background-image: url('images/loader.gif');
    width: 32px;
    height: 32px;
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    display: block; /*Cloud Zoom css override*/
    float: left;
    width: 252px;
    margin-bottom: 0;
    overflow: visible;
}
.quickViewWindow .gallery .picture {
    float: none;
    width: 250px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px 0 #ccc;
    background: #fff;
    line-height: 0;
}

.quickView .gallery .picture:before {
    display: none;
}
.quickViewWindow .gallery .picture a {
    overflow: hidden;
    border: none;
    height: auto;
    width: 250px;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
    width: 100%;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
    background: #eee;
    padding: 10px 6px 2px;
}
.quickViewWindow .gallery .thumbnails a, 
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0 4px 8px;
    border: 1px solid #fff;
    width: 72px;
    height: 72px;
    background: #fff;
    box-shadow: 0 1px 3px 0 #ccc;
}

.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}

.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 10px 0;
}

.quickViewWindow .links-panel a {
    display: block;
    background: url('images/bullet-right.png') left center no-repeat;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

    .quickViewWindow .links-panel a:hover{
        color: #75bfa1;
        text-decoration: none;
        -webkit-transition: all .10s ease-in-out;
        -moz-transition: all .10s ease-in-out;
        transition: all .10s ease-in-out;
    }


.quickViewWindow .overview {
    float: right;
    width: 400px;
    margin: 0 0 20px;
}

.quickViewWindow #accordion {
	width: auto;
}
.quickViewWindow #accordion > h3 {
    position: relative;
    margin: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background: #eee;
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    box-shadow: none;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}

    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 11px;
        left: inherit;
        width: 16px;
        height: 16px;
        margin: -8px 0 0;
        cursor: pointer;
    }

    .quickViewWindow .product-details {
        position: relative;
        margin: 0;
        padding: 10px;
        border-width: 1px;
        border-style: solid;
        border-radius: 0;
        border-color: transparent !important;
    }

    .quickViewWindow .overview .left {
        float: left;
        max-width: 60%;
        margin-bottom: 5px;
        text-align: left;
    }

    .quickViewWindow .overview .right {
        float: right;
        margin-bottom: 5px;
        text-align: right;
    }
        .quickViewWindow .overview .left > *,
        .quickViewWindow .overview .right > * {
            margin-bottom: 5px;
            overflow: hidden;
        }

.quickViewWindow .overview .top{
    margin-bottom: 10px;
}
.quickViewWindow .overview .bottom > *{
    display: inline-block;
}
.quickViewWindow .overview .bottom .availability {
    display: block;
}
.quickViewWindow .overview .purchase-area {
    border-top: none;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
}
.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}
.quickViewWindow .overview .add-to-cart {
    margin: 0 0 25px;
    padding: 25px 0 0;
}
.quickViewWindow .overview .tier-prices {
    margin: 15px 0;
    clear: both;
}
.quickViewWindow  .overview .short-description:before{
    display: none;
}
.quickViewWindow .overview .manufacturers {
    margin: 0 0 15px;
}
.quickViewWindow .prices-row {
    width: 50%;
    float: left;
    display: block;
}
.quickViewWindow .prices-row > div {
    display: block; 
    border-top: 1px solid #ddd !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.quickViewWindow .prices-row:first-child > div{
    border-right: 1px solid #ddd !important;
}
.quickViewWindow .prices-row > div:first-child{
    border-top: none !important;
    text-transform: uppercase;
}
.quickViewWindow .overview .attributes {
    margin: 15px 0 0;
    clear: both;
    border: none;
    padding: 0;
}
.quickViewWindow .overview .attributes dl {
    width: 100%;
    float: none;
    margin: 0 0 20px;
}
    .quickViewWindow .overview .attributes dl:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
    .quickViewWindow .overview .attributes dl > *{
        float: none;
        width: auto;
    }
    .quickViewWindow .overview .attributes dt {
        clear: left;
        width: 100px;
        margin: 0 10px 5px 0;
        text-align: left;
    }

    .quickViewWindow .overview .attributes dd {
        margin-bottom: 10px;
    }

.quickViewWindow .color-container{
    border: 2px solid transparent;
    padding: 0;
}
.quickViewWindow .color-squares label{
    padding: 0 1px !important;
}
.quickViewWindow .selected-value .color-container{
    border: 2px solid #ddd;
}
.quickViewWindow .attributes .option-list li > *{
    display: inline;
}
.quickViewWindow .attributes .option-list.color-squares li > label{
    display: inline-block;
    margin: 0 5px 0 0;
}

.quickViewWindow .product-grid .item-box .picture .item-overlay,
.quickViewWindow .item-box .picture .compare-products{
    display: none;
}

/* fix for the accordion content so that no scrolls are shown*/
.quickViewWindow .ui-accordion-content {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;     
}
.quickViewWindow .overview .short-description, 
.quickViewWindow .overview .stock, 
.quickViewWindow .overview .manufacturers, 
.quickViewWindow .overview .product-reviews-overview {
    clear: both;
}
.quickViewWindow .ui-icon-circle-arrow-s {
    background: url('images/minus.png') center no-repeat;
}
.quickViewWindow .ui-icon-circle-arrow-e {
    background: url('images/plus.png') center no-repeat;
}
.quickViewWindow .back-in-stock-subscription {
	clear: left;
    margin: 0 0 10px;
}
.quickViewWindow .attributes select {
    max-width: 260px;
}
.quickViewWindow .overview .qty-label {
    margin: 0;
    display: none;
}
.quickView .cloud-zoom-gallery img{
    max-width: 100%;
}

.quickView .tier-prices .prices-header{
    font-size: 14px;
}

.miniProductDetailsView .message-error{
    float: none;
}

/********** VARIANTS *********/
.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(2n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}


.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
    background: 0;
    padding: 6px;
    height: auto;
}
    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .variant-info .prices:before {
	display: none;
}
.quickViewWindow .variant-info .product-price {
	color: #75bfa1;
    font-size: 18px;
}


.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info {
    overflow: hidden;
    padding-top: 10px;
    padding: 0;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}

.quickViewWindow .variant-name {
    text-transform: uppercase;
    max-height: 28px;
    overflow: hidden;
}
.quickViewWindow .variant-info .variant-name a {
    color: #fff;
}

/********** RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {
    padding: 0;
    width: auto;
    margin: 0;
    clear: both;
    overflow: hidden;
    background: #f5f5f5;
}
.quickViewWindow .product-grid .title {
    display: block;
    text-align: center;
    padding: 0;
    margin: 10px 0 !important;
}
.quickViewWindow .product-grid .title strong {
    display: block;
    font-size: 15px;
    color: #666;
    box-shadow: none;
    background: none;
}
.quickViewWindow .item-grid {
    padding: 2px 6px 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box {
    width: 209px;
    margin: 0 5px 18px;
    overflow: hidden;
}
.quickViewWindow .item-box:before {
    padding-top: 130%;
}
.quickViewWindow .product-grid .item-box .picture,
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
    height: auto;
}

.quickViewWindow .product-grid .item-box .picture {
    margin-bottom: 15px;
}

.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    line-height: 0;
}
.quickViewWindow .item-box .details {
    height: 29px;
    overflow: hidden;
    padding: 0;
}
.quickViewWindow .product-grid .item-box .product-title {
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 10px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    line-height: 1;
    font-size: 14px;
}
.quickViewWindow .product-grid .item-box .buttons input[type="button"]{
    display: none;
}

/********* GIFTCARD *********/

.quickViewWindow .giftcard {
    padding-top: 10px;
    margin-left: 0;
    clear: both;
}
.quickViewWindow .giftcard div {
	float: none;
	width: auto;
}

.quickView .giftcard > div {
    overflow: hidden;
    margin: 0 0 10px;
}
.quickView .giftcard label {
    display: block;
    margin-right: 10px;
    width: 100%;
    text-align: left;
}
.quickViewWindow .giftcard input[type="text"],
.quickViewWindow .giftcard input[type="email"],
.quickViewWindow .giftcard textarea{
    width: 100%;
}

.quickView .giftcard textarea {
    resize: none;
}

@media all and (max-width: 1024px) {
    .item-box .quick-view-button{
        display: none;
    }

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}
