﻿@model MegaMenuLineModel

@if (Model.MegaMenu.MenuViewId != (int)MenuViewTypes.Simple)
{
    bool? pictureExist = null;
    if (Model.Level > 0 && Model.MegaMenu.DisplayPicture)
    {
        pictureExist = !string.IsNullOrEmpty(Model.MegaMenu.PictureModel.ImageUrl);
    }

    var className = "";
    var ulclassName = "";
    if(Model.Level == 0)
    {
        ulclassName = "first-level-ul";
    }
    else if(Model.Level == 1)
    {
        className = "first-level";
        ulclassName = "second-level-ul";
    }
    else if(Model.Level == 2)
    {
        className = "second-level";
        ulclassName = "third-level-ul";
    }
    else if(Model.Level > 2)
    {
        className = "third-level";
        ulclassName = "fourth-level-ul";
    }

    <li class="@(className) @(Model.MegaMenu.ChildItems.Count > 0 ? "has-nav" : "")">
        <a href="@Model.MegaMenu.SeName" class="@(pictureExist.HasValue ? (pictureExist.Value ? "" : "pic-notexist") : "")">
            @if (Model.Level > 0 && Model.MegaMenu.DisplayPicture && !string.IsNullOrEmpty(Model.MegaMenu.PictureModel.ImageUrl))
            {
                <img alt="@Model.MegaMenu.PictureModel.AlternateText" src="@Model.MegaMenu.PictureModel.ImageUrl" title="@Model.MegaMenu.PictureModel.Title" />
            }

            <span>@Model.MegaMenu.Name</span>
            @if (Model.MegaMenu.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", Model.MegaMenu.NumberOfProducts.Value)
            }
        </a>

        @{
            if (Model.MegaMenu.ChildItems.Count > 0)
            {
                <ul class="@ulclassName">
                    @if (Model.Level == 0)
                    {
                        @:<div class="list-holder @(!Model.MegaMenu.DisplayPicture || string.IsNullOrEmpty(Model.MegaMenu.PictureModel.ImageUrl) ? "wihout-banner" : "")">
                        }

                    @foreach (var childItem in Model.MegaMenu.ChildItems)
                    {
                        var megaMenuLineModel = new MegaMenuLineModel
                        {
                            MegaMenu = childItem,
                            Level = Model.Level + 1,
                            ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                        };
                        @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Themes/Prisma/Views/_MegaMenuLine.TopMenu.cshtml", megaMenuLineModel)
                    }
                    @if (Model.Level == 0)
                    {
                    @:</div>
                }
                    @if (Model.Level == 0 && Model.MegaMenu.DisplayPicture && !string.IsNullOrEmpty(Model.MegaMenu.PictureModel.ImageUrl))
                    {
                        <div class="megamenu-image-holder">
                            <img alt="@Model.MegaMenu.PictureModel.AlternateText" src="@Model.MegaMenu.PictureModel.ImageUrl" title="@Model.MegaMenu.PictureModel.Title" />
                        </div>
                    }
                </ul>
            }

        }
    </li>
}
else
{
    <li class="@(Model.Level == 0 ? "mega-menu-dropdown-icon" : "")">
        
        <a href="@Model.MegaMenu.SeName" class="@(Model.Level == 0 ? (Model.MegaMenu.ChildItems.Count > 0 ? "with-subcategories" : "") : "lastLevelCategory")">
            <span>@Model.MegaMenu.Name</span>
            @if (Model.MegaMenu.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", Model.MegaMenu.NumberOfProducts.Value)
            }
        </a>

        @{
            var levelClass = "";
            if (Model.Level == 0)
            {
                levelClass = "first-level";
            }
            else if (Model.Level == 1)
            {
                levelClass = "second-level";
            }
            else if (Model.Level > 1)
            {
                levelClass = "third-level";
            }
            
            if (Model.MegaMenu.ChildItems.Count > 0)
            {
                <ul class="smallbox @levelClass">
                    @foreach (var childItem in Model.MegaMenu.ChildItems)
                    {
                        var megaMenuLineModel = new MegaMenuLineModel
                        {
                            MegaMenu = childItem,
                            Level = Model.Level + 1,
                            ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                        };
                        @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Themes/Prisma/Views/_MegaMenuLine.TopMenu.cshtml", megaMenuLineModel)
                    }
                </ul>
            }
        }
    </li>
}
