﻿



 /* fix for the accordion content so that no scrolls are shown*/
.quickViewWindow .ui-accordion-content {    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;        
}

.product-grid .buttonOverlay {
    display: none !important;
}
.product-list .item-box .buttonOverlay {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 230px;
    background: rgba(0,0,0,0);
    z-index: 1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.product-list .item-box:hover .buttonOverlay {
    background: rgba(0,0,0,0.2);
}

/********* START BUTTON *********/

.quickViewData {
    display: none;
}
.product-grid .quick-view-button {
    display: inline-block;
    vertical-align: middle;
}
.product-list .quick-view-button {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -190px;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.product-list .item-box:hover .quick-view-button {
    opacity: 1;
}

.quick-view-button a {
    display: block;
}

    .product-grid .quick-view-button a {
        overflow: hidden;
        margin: 0 -1px;
        padding: 6px 12px;
        border: 2px solid #fff;
        width: 36px;
        height: 36px;
        background-image: url(images/icon-qv-button.png);
        background-color: #e87772;
        background-position: -2px -2px;
        background-repeat: no-repeat;
        text-indent: -999px;
        white-space: nowrap;
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        text-align: center;
        color: inherit;
        cursor: pointer;
    }
        .product-grid .quick-view-button a:hover {
            background-position: -2px -38px;
            background-color: #e87772;
        }

    .product-list .quick-view-button a {
        position: relative;
        padding: 8px 21px 8px 46px;
        border: 2px solid #e87772;
        background: #fff;
        text-transform: uppercase;
        font-size: 14px;
        color: #e87772;
        -webkit-transition: all .15s;
        -moz-transition: all .15s;
        transition: all .15s;
    }
    .product-list .quick-view-button a:before {
        content: '.';
        position: absolute;
        top: 0;
        left: 0;
        width: 36px;
        height: 32px;        
        background: #e87772 url(images/icon-qv-button.png) 0 -38px;
        font-size: 0;
        text-indent: -9999px;
    }
    .product-list .quick-view-button a:hover:before {
        background-position: 0 -2px;
    }
    .product-list .quick-view-button a:hover {
        background-position: left -2px;
        background-color: #e87772;
        color: #fff;
    }



/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/loading-image.gif') center no-repeat;
}


/********** MAIN QUICKVIEW WINDOW **********/

.quickView {
    position: absolute;
    z-index: 1070;
    padding-top: 0 !important;
    min-width: 600px !important;
    box-shadow: 0 0 15px #000;
    background: #fff;
}
.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
    width: 640px;
}
.quickViewWindow input[type=button],
.quickViewWindow a {
    cursor: pointer;
}
.quickViewWindow .product-essential {
    padding: 0;
}
.quickViewWindow .popup-header {
    margin: 0;
    border-bottom: 5px solid #e87772;
    background: 0;
    padding: 10px 40px;
}
    .quickViewWindow .product-name {
        font-size: 20px;
        line-height: normal;
        padding: 0;
        text-align: center;
    }

.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}
.quickView .k-window-titlebar.k-header .k-window-actions {    
    position: absolute;
    top: 13px;
    right: 13px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: 9999px;
}
    .quickView .k-window-titlebar.k-header .k-window-actions a {
        display: block;
        width: 18px;
        height: 18px;
        background: url(images/icon-close.png) no-repeat center;
    }

.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
}

    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

.quickViewWindow .popup-header {
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    background: #eee;
    padding: 0 40px;
}

.quickViewWindow .product-name {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #fff;
}


/********** GALLERY & OVERVIEW *********/
/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    top: 50% !important;
    left: 50% !important;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-image: url('images/ajax_loader_big.gif');
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .gallery {
    float: left;
    overflow: visible;
    display: block; /*Cloud Zoom css override*/
    margin: 20px 0 20px 15px;
    width: 240px;
}
.quickViewWindow .gallery .picture {    
    float: none;
	width: 240px;
    background: #fff;
	text-align: center;
    line-height: 0;
}
.quickViewWindow .gallery .picture:before {
	display: none;
}
.quickViewWindow .gallery .picture a {
    width: 250px;
    border: none;
    overflow: hidden;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
    max-height: none;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .picture a img {
    position: static;
}
.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
}
.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    margin: 0 4px 8px;
    overflow: hidden;
	width: 72px;
	height: 72px;
    background: #fff;
}
.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}

.quickViewWindow .links-panel {
    margin-top: 15px;
    padding: 10px 0;
}

.quickViewWindow .links-panel a {
    display: inline-block;
    padding: 10px 15px 10px 0;
    background: url('images/icon-link.png') right 15px no-repeat;
    font-size: 16px;
    text-align: left;
    color: #555;
}
.quickViewWindow .links-panel a:hover {
    text-decoration: underline;
}

/********** OVERVIEW *********/

.quickViewWindow .overview {
    float: right;
    margin: 20px 10px 20px 0;
    width: 365px;
}
    .quickViewWindow .overview #accordion {
        width: auto;
    }
.quickViewWindow #accordion > h3 {
    position: relative;
    margin: 0;
    padding: 8px 14px;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    background: #ececec;
    text-align: left;
    text-transform: uppercase;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}
.quickViewWindow #accordion > h3 span {
    position: absolute;
    top: 50%;
    right: 11px;
    left: inherit;
    width: 16px;
    height: 16px;
    margin: -8px 0 0;
    cursor: pointer;
}
.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    padding: 10px;
    border: 1px solid transparent;
}

.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }

.quickViewWindow .overview .tier-prices {
    clear: both;
}

.quickViewWindow .overview .attributes {
    clear: both;
    margin: 0;
    border: none;
    padding: 0;
}

    .quickViewWindow .overview .attributes dl:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

    .quickViewWindow .overview .attributes dl > * {
        float: left;
    }

    .quickViewWindow .overview .attributes dt {
        clear: left;
        width: 100px;
        margin: 0 10px 5px 0;
        text-align: left;
    }

    .quickViewWindow .overview .attributes dd {
        margin-bottom: 10px;
    }

.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    border-top: 1px dashed #999;
    overflow: hidden;
    padding: 10px 0 0;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}
.quickViewWindow .overview .short-description, 
.quickViewWindow .overview .stock, 
.quickViewWindow .overview .manufacturers, 
.quickViewWindow .overview .product-reviews-overview {
    clear: both;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-s {
    background: url(images/arrow-opened.png) center no-repeat;
}
.quickViewWindow #accordion .ui-icon-circle-arrow-e {
    background: url(images/arrow-closed.png) center no-repeat;
}
.quickViewWindow .back-in-stock-subscription {
	clear: left;
}

.quickViewWindow .overview .manufacturers,
.quickViewWindow .overview .add-to-cart,
.quickViewWindow .overview .prices,
.quickViewWindow .overview .buttons, 
.quickViewWindow .download-sample {
    border-bottom: 0;
}

.quickViewWindow .attributes select {
    max-width: 220px;
}
.quickViewWindow .rental-price{
    font-size:12px;
}
.quickViewWindow .purchase-area .prices,
.quickViewWindow .overview .add-to-cart {
    text-align: center;
}
.quickViewWindow .overview .qty-label {
    margin: 0;
    display: none;
}
.quickViewWindow .overview .attributes dt{
    overflow:hidden;
    min-width:100px;
    width:auto;
}
.quickViewWindow .overview .attributes dt .attribute-description > p{
    white-space:pre-wrap;
}


/********** VARIANTS *********/


.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(2n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
    padding: 6px;
    background: 0;
    height: auto;
}
    .quickViewWindow .variant-info .prices:before {
        display: none;
    }
    
    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}
.quickViewWindow .variant-info .product-price {
	color: #46c688;
}



/********** RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {
    overflow: hidden;
    margin: 20px 0 0;
    clear: both;
}
.quickViewWindow .product-grid .title {
    display: block;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
    .quickViewWindow .product-grid .title:before, .quickViewWindow .product-grid .title:after {
        display: none;
    }
    .quickViewWindow .product-grid .title strong {
        font-size: 18px;
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 0 0 5px;
        width: 100%;
    }
.quickViewWindow .item-grid {
    padding: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box {
    width: 156px;
    margin: 0 2px;
}
.quickViewWindow .product-grid .item-box .picture,
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
    height: auto;
}
.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    line-height: 0;
}
.quickViewWindow .product-grid .item-box .hover-details {
    display: none !important;
}
.quickViewWindow .product-grid .item-box .visible-details {
    height: auto;
}
.quickViewWindow .product-grid .item-box .product-title {
    border: 0;
    height: 40px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    line-height: 1.2;
    font-size: 15px;
    padding-top: 2px;
}
.quickViewWindow .item-box .prices,
.quickViewWindow .item-box .buttons {
    display: none;
}
.quickViewWindow .item-box .product-rating-box {
    display: none;
}

/********* COLOR SQUARES ********/

.quickViewWindow .color-squares input {
	position: static;
    z-index: 0;
}


/********* GIFTCARD *********/


.quickViewWindow .giftcard {
    clear: both;
    box-shadow: none;
}
.quickView .giftcard > div {
    float: none;
    overflow: hidden;
    margin-bottom: 5px;
    width: auto;
}

.quickView .giftcard > div > * {
    float: left;
}
.quickViewWindow .giftcard label {
    float: none;
    display: block;
    width: 120px;
    text-align: center;
    margin: 0 0 5px;
}
.quickViewWindow .giftcard input[type="text"], 
.quickViewWindow .giftcard textarea {
    width: 100%;
}
.quickView .giftcard textarea {
    resize: none;
}

/********* THEME SPECIFIC *********/



.quickViewWindow .color-squares li {
    margin: 0;
}
.quickViewWindow .color-squares label {
	line-height: 1;
}
.quickViewWindow .color-squares .color-container {
    line-height: 0;
    margin: 3px 0;
}

@media all and (max-width: 1024px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}
