﻿/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* GLOBAL */

.filter-options > .filters-button {
    display: inline-block;
}
.filter-options > div {
    width: 33.3%;
}
.nopAjaxFilters7Spikes {
    background: #f6f6f6;
}
.filtersTitlePanel {
    display: none;
}
.clearFilterOptionsAll {
    float: right;
    cursor: pointer;
}
.filtersPanel:after {
    content: "";
    display: block;
    clear: both;
}
.filter-block {
    position: relative;
    float: none;
    display: block;
    border:0;
    width: auto;
}
.filter-block .title {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
    background: #f6f6f6;
}
.filter-block .title a:after {
    content: '\e923';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 28px;
    height: 28px;
    background: #fff;
    text-align: center;
    line-height: 28px;
    font-family: prisma;
    font-size: 9px;
    color: #dcdde0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.filter-block a.toggleControl {
    display: block;
    padding: 15px 45px 15px 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}
.filter-block a.toggleControl.closed:after {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 28px;
    height: 28px;
    background: #fff;
    text-transform: lowercase;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;
}
.filter-block a.clearFilterOptions:after,
.filter-block a.clearPriceRangeFilter:after {
    content: '\e901';
    position: absolute;
    right: 0;
    text-align: center;
    line-height: 28px;
    font-family: prisma;
    font-size: 10px;
    color: #bbb;
}
.filtersGroupPanel {
    border-bottom: 1px solid #eee;
    padding: 5px 10px 20px;
    color: #000;
}
.filtersGroupPanel ul:after {
    content: "";
    display: block;
    clear: both;
}

/* SEARCH CRITERIA */

.selected-options-list > li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 13px;
    color: #888;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.selected-options-list > li label{
    display: block;
    margin-bottom: 5px;
}
.selected-options-list > li:last-child {
    border-bottom: none;
}
.selected-options-list > li span {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
    padding: 5px 20px 5px 5px;
    background: #fff;
    color: #57b568;
    cursor: pointer;
}
.selected-options-list > li span:after {
    content: '\e901';
    position: absolute;
    top: 50%;
    right: 5px;
    text-align: center;
    line-height: 28px;
    font-family: prisma;
    font-size: 10px;
    color: #bbb;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.selected-options-list > li span:hover{
    text-decoration: underline;
}

/* RANGE SLIDER */

.priceRangeMinMaxPanel,
.specification-min-max-panel {
    overflow: hidden;
    margin: 0 0 12px;
    font-size: 13px;
    color: #bbb;
}
.priceRangeMinPanel,
.specification-min-panel {
    float: left;
}
.priceRangeMaxPanel,
.specification-max-panel {
    float: right;
}

.ui-slider {
    position: relative;
    margin: 0 4px 18px;
    width: auto;
    height: 8px;
    background: #e9e9e9;
}
.ui-slider:before {
    content: '.';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: #fff;
    font-size: 0;
    text-indent: -9999px;
    z-index: -1;
}
.ui-slider-range {
    position: absolute;
    height: 8px;
    background: #4ea35d;
}
.ui-slider-handle {
    position: absolute;
    top: 50%;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    background: #57b568;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ui-slider-handle:after {
    content: '\e923';
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 28px;
    font-family: prisma;
    font-size: 6px;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.priceRangeCurrentPricesPanel,
.specification-current-value-panel {
    overflow: hidden;
}
.priceRangeCurrentPricesPanel span,
.specification-current-value-panel span {
    padding: 5px;
    background: #fff;
    font-weight: bold;
    font-size: 13px;
    color: #57b568;
}
.currentMinPrice, .current-min-value {
    float: left;
}
.currentMaxPrice, .current-max-value {
    float: right;
}

.has-specification-slider .checkbox-list {
    display: none;
}

/* CHECKBOX MODE */

.filtersGroupPanel .checkbox-list input {
    position: absolute;
    opacity: 0;
}
.filtersGroupPanel .checkbox-list label {
    position: relative;
    display: block;
    padding: 12px 10px 12px 32px;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: left;
    font-size: 12px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.filtersGroupPanel .checkbox-list li.disabled label { 
    color: #999;
    opacity: 0.4;
    cursor: default;       
}

/* COLOR SQUARES */

.colorOptions li {
    position: relative;
    display: inline-block;
    margin: 2px;
    width: auto;
}
.colorOptions .checkbox-list label {
    margin: 0;
    padding: 3px;
    border: 1px solid transparent;
    width: 38px;
    height: 38px;
    background: none;
    overflow: hidden;
    font-size: 0;
    z-index: 10;
}
.colorOptions .checkbox-list .checked label:after,
.colorOptions .checkbox-list label:after,
.colorOptions .checkbox-list label:before {
    content: none;
}
.colorOptions .checkbox-list .checked {
    border: 1px solid #eee;
    background: #fff;
}
.colorOptions .color {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    border: 1px solid #c9c9c9;
    font-size: 0;
    z-index: 1;
    cursor: pointer;
}
.colorOptions li.disabled .color {
    opacity: .4;
}
.colorOptions .defaultColor {
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%);
    background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
}

/* DROPDOWN MODE */

.filtersDropDownPanel select {
    width: 100%;
    background-position: 94% center;
}

/* AJAX LOADER */

.productPanelAjaxBusy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    z-index: 2;
}
.productPanelAjaxBusy::after {
    content: '.';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #57b568;
    width: 0;
    height: 0;
    -webkit-animation: triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    animation: triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    font-size: 0;
    text-indent: -9999px;
}
.infinite-scroll-loader {
    display: none;
    position: relative;
    margin-bottom: 5px;
    height: 100px;
    background: #fff;
    font-size: 0;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
    clear: both;
}

.item-box.dummy-box {
    position: relative;
    min-height: 300px;
}

.infinite-scroll-loader:before,
.item-box.dummy-box:before {
    content: '.';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #57b568;
    width: 0;
    height: 0;
    -webkit-animation: triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    animation: triangle-skew-spin 3s 0s cubic-bezier(.09,.57,.49,.9) infinite;
    font-size: 0;
    text-indent: -9999px;
}
.item-box.dummy-box .product-item {
    opacity: 0;
}
/* NO RESULTS POPUP */

.k-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1080;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.ajaxFilters.k-window {
    position: absolute;
    padding: 0 !important;
    height: auto !important;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    z-index: 1090;
}
.ajaxFilters .k-window-titlebar {
    margin: 0 !important;
    padding: 10px;
    background: #57b568;
}
.ajaxFilters .k-window-titlebar span {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.ajaxFilters .k-window-actions a {
    display: block;
}
.ajaxFilters .k-window-actions .k-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    border: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background: none;
    font-size: 0;
    opacity: 0.7;
}
.ajaxFilters .k-window-actions .k-icon:after {
    content: '\e901';
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: prisma;
    font-size: 10px;
    color: #fff;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ajaxFilters .k-window-actions .k-icon:hover {
    opacity: 0.9;
}
.ajaxFilters .k-window-content {
    padding: 15px;
    min-height: inherit !important;
    min-width: inherit !important;
    color: #666;
}
.number-of-returned-products {
    margin: 20px 15px 10px;
    font-size: 13px;
    color: #888;
}
.close-btn {
    display: none;
}

@media all and (max-width: 1024px) {

    .filtersPanel {
        clear: both;
    }
    .filters-button {
        display: inline-block !important;
    }
    .close-btn {
        position: relative;
        display: block;
        float: right;
        margin: 15px;
        width: 28px;
        height: 28px;
        background: #fff;
        font-size: 0;
    }
    .close-btn:after {
        content: '\e901';
        position: absolute;
        top: 9px;
        left: 9px;
        font-family: prisma;
        font-size: 10px;
        color: #bbb;
    }
    .nopAjaxFilters7Spikes {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1070;
        width: 320px;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    .nopAjaxFilters7Spikes{
        -webkit-transform: translate(-320px);
        -ms-transform: translate(-320px);
        transform: translate(-320px);
    }
    .nopAjaxFilters7Spikes.opened {
        box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
    .nopAjaxFilters7Spikes.opened {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
    .nopAjaxFilters7Spikes .close-filters {
        border-bottom: 1px solid #bbb;
        background: #ccc;
        cursor: pointer;
    }
    .nopAjaxFilters7Spikes .close-filters span {
        display: block;
        padding: 15px 10px;
        font-size: 17px;
        color: #fff;
        text-transform: uppercase;
        line-height: 15px;
        text-align: right;
    }
    .nopAjaxFilters7Spikes .filter-block {
        margin: 0;
    }

}


@media all and (min-width: 1025px) {

    .filters-button,
    .close-filters {
        display: none;
    }
    .filter-block a.toggleControl {
        font-weight: bold;
        font-size: 14px;
        color: #000;
    }
    .filtersGroupPanel {
        position: relative;
        display: block;
        z-index: 2;
    }
    .filtersGroupPanel li > a {
        padding: 10px 10px 10px 38px;
    }
    .filtersGroupPanel li > a:hover {
        background-color: #f6f6f6;
    }
    .filtersGroupPanel li:last-child > a {
        border: 0;
    }

    
}