@model SevenSpikes.Nop.Plugins.HtmlWidgets.Areas.Admin.Models.HtmlWidgetListModel
@inject AdminAreaSettings adminAreaSettings
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.HtmlWidgets.Admin.Submenus.ManageHtmlWidgets");

    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget")
    </h1>
    <div class="pull-right">

        <a href="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget.AddNew")
        </a>

    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        @Html.TrialMessage(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="htmlwidgets-grid"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#htmlwidgets-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "HtmlWidgetAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    destroy:{
                        url: "@Html.Raw(Url.Action("DeleteHtmlWidget", "HtmlWidgetAdmin"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Name: { editable: false, type: "string" },
                            Visible: { editable: false, type: "bool" },
                            HtmlContent: { editable: false, type: "string" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)]
            },
            editable: {
                confirmation: true,
                mode: "inline"
            },
            filterable: true,
            sortable: true,
            scrollable: false,
            columns: [{
                field: "Name",
                title: "@T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget.Name")"
            }, {
                field: "Visible",
                title: "@T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget.Visible")",
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(Visible) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #',
                filterable: false
            }, {
                field: "HtmlContent",
                title: "@T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget.HtmlContent")"
            }, {
                template: kendo.template($("#commands-template").html()),
                filterable: false,
                sortable: false
            }, {
                command: [{
                    name: "destroy",
                    text: "@T("Admin.Common.Delete")"
                }],
                width: 200
            }]
        });
    });
</script>

<script id="commands-template" type="text/x-kendo-template">
    <a class="k-button" href="Edit/#: Id#" title="@T("Admin.Common.Edit")">
        <span class="k-icon k-edit"></span>
        @T("Admin.Common.Edit")
    </a>
</script>