﻿/*
* Copyright 2016 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/*=====================================================
    
    MAIN CSS / SMALLER MOBILE DEVICES

=====================================================*/



input.instant-search-busy {
	background: #fff url('../../../images/ajax-loader-small.gif') no-repeat right center !important;
	/*do not set background postion from the left, if necessary add space to loader gif instead*/
}

/* WITH CATEGORY */

.store-search-box input.search-box-text {
    width: 200px !important;
}
input.search-box-text.narrow {
    width: auto !important;
}
span.search-box-text,
.search-box select {
    height: 27px;
    display: inline-block;
}
.search-box select {
    color: #909090;
    padding: 0 5px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #909090;
}
/*custom selectors*/ 
.search-box .custom-select-text {
    height: 27px;
    display: inline-block;
    color: #909090;
    padding: 0 5px;
    height: 27px;
    border: none;
    border-bottom: 1px solid #909090;
}
/*input.search-box-text:focus {
	border-color: #ccc;
}*/ /*use this to "eliminate" global focus if necessary*/

/* AUTOCOMPLETE */

.instantSearch {
    left: auto !important;
	width: 300px !important;
}
.instantSearch.resize {
	
}
.instantSearch .k-list-container {
	position: relative !important;
	width: 100% !important;
	background: #fff;
    margin: -1px 0 0;
	box-shadow: 0 0 10px rgba(46,46,46,0.20);
}
.instantSearch .k-list {
    height: 100%;
}
.instantSearch .k-item {
    padding: 0 20px 20px;
	cursor: pointer;
}
.instantSearch .k-item:first-child {
    padding-top: 20px;
}
.instant-search-item a {
	overflow: hidden;
	padding: 20px 0 0;
    display: table;
    width: 100%;
    border-top: 1px solid #eee;
}
.instantSearch .k-item:first-child .instant-search-item {
	border-top: none;
    padding: 0;
}
.instant-search-item .img-block {
	position: relative;
	display: table-cell;
    vertical-align: middle;
	overflow: hidden;
	width: 80px;
	height: 100px;
	text-align: center;
}
.instant-search-item .img-block img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.instant-search-item .detail {
	display: table-cell;
    width: 170px;
    padding: 0 0 0 15px;
    vertical-align: middle;
}
.instant-search-item .detail .title {
	margin-bottom: 5px;
	font-size: 14px;
    line-height: 1.2em;
}
.instant-search-item .detail .price {
	font-size: 14px;
	color: #e56363;
    line-height: 1.2em;
}
.k-item.k-state-hover .k-item,
.k-item.k-state-focused .k-item  {

}
.k-item.k-state-hover, 
.k-item.k-state-focused {
    background: #f8f8f8;
}
.k-item.k-state-hover .instant-search-item .img-block, 
.k-item.k-state-focused .instant-search-item .img-block {
	border-color: #ddd;
}


@media all and (min-width: 1025px) {

.store-search-box input.search-box-text {
    width: 95px !important;
}
input.instant-search-busy {
    background-position: left center !important;
}

.with-caregory-search-enabled .small-search-box-form {
    position: relative;
    padding-right: 40px;
    margin: 4px 0;
}
.with-caregory-search-enabled span.search-box-text {
    height: 23px;
    float: left;
}
.with-caregory-search-enabled input.search-box-text {
    width: 102px !important;
}
.with-caregory-search-enabled input.instant-search-busy {
    background-position: right center !important;
}
.with-caregory-search-enabled input.search-box-text.narrow {
    height: 23px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 0 3px;
}
.with-caregory-search-enabled .search-box-select {
    float: left;
    width: 102px;
    height: 21px;
    border: none;
    padding: 0;
    font: 12px 'Droid Serif', serif;
    font-style: italic;
    background: url('search-arrow.png') no-repeat right center;
}
.with-caregory-search-enabled .search-box-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.instantSearch.resize {

}

}