﻿/*
* Copyright 2019 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/


/* AJAX LOADER & ERRORS */

.k-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1060;
	width: 100%;
	height: 100%;
	background-color: rgba(68,68,68,.6);
}

.nopAjaxCartPanelAjaxBusy,
.miniProductDetailsPanelAjaxBusy {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1070;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255,255,255,.7);
}

.miniProductDetailsPanelAjaxBusy {
    display: none;
}

.nopAjaxCartPanelAjaxBusy:before,
.nopAjaxCartPanelAjaxBusy:after,
.miniProductDetailsPanelAjaxBusy:before,
.miniProductDetailsPanelAjaxBusy:after {
	content:"";
	position: fixed;
	display: inline-block;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border: 0px solid #97c300;
	border-radius: 50%;
	-webkit-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	-moz-animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
	animation: loader 1.6s cubic-bezier(0, 0, 0.09, 0.99) infinite;
}

.nopAjaxCartPanelAjaxBusy:after,
.miniProductDetailsPanelAjaxBusy:after {
	animation-delay: .8s;
}

.ajaxCart .product-grid .picture > a:before {
    padding-top: 100%;
}

.addProductVariantToCartErrors {
    color: #ff4f60;
    font-weight: 700;
    text-align: center;
}
.addProductVariantToCartErrors ul {
	margin: 20px;
}
.addProductVariantToCartErrors li {
	margin: 0 0 10px 0;
}
.productQuantityTextBox {
    float: left;
    width: 20px;
    text-align: center;
    font-size: 16px;
}

/* item box styles */

select.productQuantityDropdown,
input.productQuantityTextBox {
    font-size: 14px !important;
    color: #000 !important;
}

.ajax-cart-button-wrapper .product-box-add-to-cart-button {
    width: 100%;
}

.product-grid .ajax-cart-button-wrapper .add-to-cart-qty-wrapper,
.product-grid .item-box .productQuantityDropdown {
    width: 60px;
    margin-right: 3px;
    vertical-align: top;
}

.product-grid .ajax-cart-button-wrapper .add-to-cart-qty-wrapper .plus,
.product-grid .ajax-cart-button-wrapper .add-to-cart-qty-wrapper .minus {
    height: 16px;
    line-height: 16px;
}

.product-grid .item-box .productQuantityDropdown {
    height: 40px;
    padding: 0 25px 0 10px;
    background-position: right 10px center;
}

.product-grid .item-box .productQuantityDropdown ~ .product-box-add-to-cart-button,
.product-grid .ajax-cart-button-wrapper .add-to-cart-qty-wrapper + .product-box-add-to-cart-button {
    width: calc(100% - 63px);
    vertical-align: top;
}

.add-to-cart-qty-wrapper + .ajax-cart-button-wrapper {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 90px);
    max-width: 250px;
}

.variant-overview .add-to-cart-qty-wrapper + .ajax-cart-button-wrapper {
    width: 140px;
}

.add-to-cart-qty-wrapper + .ajax-cart-button-wrapper input {
    width: 100%;
}

.qty-dropdown + .ajax-cart-button-wrapper {
    display: inline-block;
    vertical-align: top;
}

.product-prices-box .qty-dropdown + .ajax-cart-button-wrapper {
    width: calc(100% - 83px);
}
.product-prices-box .qty-dropdown + .ajax-cart-button-wrapper input {
    width: 100%;
}
.product-grid .item-box .productQuantityTextBox {
    width: 100%;
    height: 40px;
    padding-left: 2px;
}


/* general styles */


.ajaxCart {
    position: absolute;
    left: 50% !important;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 !important;
    width: 700px !important;
    max-width: 100%;
    height: auto !important;
    background: #fff;
    text-align: left;
    z-index: 1070;
}
.ajaxCart li {
	list-style: none;
}
.ajaxCart .k-window-titlebar.k-header {
	padding: 0;
    font-size: 0;
    margin: 0 !important;
    overflow: hidden;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions {
	position: absolute;
    top: 25px;
    right: 25px;
	font-size: 0;
	z-index: 1;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a,
.ajaxCart .k-window-titlebar.k-header .k-window-actions .k-icon {
	display: block;
	font-size: 0;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions .k-icon:before {
    content: "\7a";
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    opacity: .6;
    transition: opacity .1s ease;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions .k-icon:hover:before {
    color: #97c300;
}

.productAddedToCartWindow, .miniProductDetailsView {
    padding: 0;
    color: #000;
}
.productAddedToCartItem {
    padding: 0 30px 30px;
    overflow: hidden;
}
.productAddedToCartWindowImage {
    float: left;
    overflow: hidden;
    margin: 0 !important;
    width: 35%;
    height: auto;
    text-align: left;
}
.productAddedToCartWindowImage a {
    display: block;
    overflow: hidden;
    line-height: 0;
    border-radius: 3px;
}

.productAddedToCartWindowImage img {
    max-width: 100%;
}
.productAddedToCartWindowDescription {
    margin: 0 0 0 38%;
    padding: 10px 0 0;
    width: auto;
}
.productAddedToCartWindowDescription h1 {
    margin: 0 0 15px;
    font-weight: normal;
    font-size: 18px;
    color: #000;
}

.productAddedToCartWindowDescription strong {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
    color: #97c300;
    font-weight: bold;
}
.productAddedToCartWindowDescription span {
    font-size: 15px;
    color: #8c8c8c;
}
.productAddedToCartWindowSummary {
    clear: both;
    padding: 30px;
    text-align: center;
    font-size: 0;
}
.productAddedToCartWindowSummary a,
.productAddedToCartWindowSummary div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 5px);
    font-size: 14px;
}

.productAddedToCartWindowSummary div,
.productAddedToCartWindowSummary a + a {
    margin-left: 10px;
}

.productAddedToCartWindowSummary a + a + div {
    margin: 10px 0 0;
    width: 100%;
}

.productAddedToCartWindowSummary a {
    border: none;
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    border-radius: 3px;
    background-color: #f1f1f1;
    color: #8c8c8c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: all .2s ease;
}

.productAddedToCartWindowSummary a:hover {
    background-color: #e7e7e7;
}

.ajaxCart .productAddedToCartWindowCheckout {
    width: 100%;
}


/* grouped */


.miniProductDetailsView:focus,
.productAddedToCartWindow:focus {
	outline: -webkit-focus-ring-color auto 0;
}

.ajaxCart .product-name,
.ajaxCart .productAddedToCartWindowTitle,
.ajaxCart .k-window-title {
    display: block;
    padding: 25px 0;
    margin: 0 auto;
    width: calc(100% - 100px);
    font-size: 22px;
    text-transform: none;
    font-weight: 700;
    color: #000;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ajaxCart .k-window-title:empty {
    display: none;
}

.ajaxCart .product-details-page {
    padding: 0;
}
.miniProductDetailsView .product-variant-line {
    margin: 0;
}
.ajaxCart .product-overview-line {
    border-top: 1px solid #e7e7e7;
    padding-top: 30px;
}
.ajaxCart .product-overview-line:first-child {
    border-top: 0;
    padding-top: 0;
}
.miniProductDetailsView .product-essential {
    margin: 0;
    overflow: hidden;
    padding: 0 30px 30px;
    border: 0;
}
.miniProductDetailsView .product-essential .gallery {
	display: block; /*Cloud Zoom css override*/
	float: left;
	overflow: hidden;
    width: 35%;
    margin: 0;
}
.miniProductDetailsView .product-essential .picture {
    margin: 0;
    float: none;
	overflow: hidden;
	width: auto !important;
	height: auto !important;
	line-height: normal !important;
}
.miniProductDetailsView .product-essential .picture img {
	z-index: 0 !important;
}
.ajaxCart .overview {
    position: static;
    width: auto;
    float: none;
    padding: 10px 0 0 !important;
    margin: 0 0 0 38%;
}


.miniProductDetailsView .product-variant-name,
.productAddedToCartWindowDescription h1 a {
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: none;
    font-weight: 700;
    color: #000;
}

.miniProductDetailsView .product-variant-name {
    display: none;
}

.miniProductDetailsView .short-description {
    margin: 0 0 20px;
    padding-top: 0;
    font-size: 15px;
    line-height: 1.5;
    border-top: none;
}

.miniProductDetailsView .prices {
    margin: 0 0 25px;
}

.miniProductDetailsView .overview .product-price {
    font-size: 24px;
}

.miniProductDetailsView .tax-shipping-info {
    display: inline;
    text-align: left;
} 

.miniProductDetailsView .customer-entered-price {
    margin: 0 0 30px;
    padding: 0;
}

.miniProductDetailsView .enter-price-input {
    padding: 4px;
    width: 69px;
}
.miniProductDetailsView .product-overview-line .add-to-cart {
    margin: 0;
    overflow: hidden;
}


.ajaxCart .add-to-cart-qty-wrapper {
    margin-right: 6px;
}

.ajaxCart .attributeInfo {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
    color: #8c8c8c;
}

.ajaxCart .attributeInfo:empty {
    margin-bottom: 0;
}


/*.ajaxCart .qty-input,*/
.miniProductDetailsView .add-info input[type="text"] {
    margin: 0;
    width: 43px;
    height: 43px;
    font-size: 16px;
    padding: 0;
    float: left;
}
/*.nopAjaxCartProductVariantAddToCartButton {
    float: left;
}*/
.ajaxCart .product-collateral {
    margin: 0;
    padding: 20px 20px 0;
}
.miniProductDetailsView .message-error {
    display: block;
    float: left;
    clear: both;
    margin: 10px 0 0 0;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    color: #c00;
}
.miniProductDetailsView .message-error li {
    margin: 5px 0;
}


/* attributes */

.ajaxCart .attributes {
    margin: 0 0 20px;
    padding: 0;
}

.ajaxCart .attributes dt, .attributes dd {
    text-align: left;
}

.ajaxCart .attributes select {
    max-width: 100%;
}

.ajaxCart .overview .add-to-cart {
    width: 100%;
    max-width: 320px;
    font-size: 0;
}



/* giftcard */

.miniProductDetailsView .giftcard {
    margin: 0;
    padding: 0 20px 20px;
    background: #fff;
    text-align: left;
}

/* product grid */

.ajaxCart .product-grid {
    margin: 0 0 40px;
}
.ajaxCart .product-grid .title {
    padding: 0 30px 20px;
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.ajaxCart .product-grid .item-grid {
    padding: 0 25px;
}
/*.ajaxCart .product-grid .item-box {
    text-align: center;
    width: calc(25% - 10px);
    margin: 0 5px;
}

.ajaxCart .product-grid .item-box .picture {
    margin: 0;
}

.ajaxCart .product-grid .item-box .product-title {
    height: 38px;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
}
.ajaxCart .item-box .add-info,
.ajaxCart .item-box .description,
.ajaxCart .item-box .quick-view-button,
.ajaxCart .item-box .product-rating-box {
    display: none !important;
}*/


.ajaxCart .product-grid {
    font-size: 0;
}

.ajaxCart .product-grid .item-box {
    margin: 0 0 10px 0;
    width: 50%;
    max-height: 120px;
    border-left: 0;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
}

.ajaxCart .product-grid .item-box .picture > a:after {
    content: none;
    display: none;
}

.ajaxCart .product-grid .item-box:nth-child(2n+1) {
   border-left: 1px solid #eee;
   margin-right: -1px;
   border-radius: 3px 0 0 3px;
}
.ajaxCart .product-grid .item-box .product-item > div {
    display: inline-block;
    vertical-align: top;
}

.ajaxCart .product-grid .item-box .product-item > div:first-child {
    width: 120px;
}
.ajaxCart .product-grid .item-box .picture {
    border-radius: 0;
}


.ajaxCart .product-grid .item-box .details {
    padding: 12px 4%;
    width: calc(100% - 120px);
    text-align: left;
}

.ajaxCart .product-grid .item-box .title,
.ajaxCart .product-grid .item-box .product-title {
    padding: 0;
    height: auto;
    max-height: 39px;
}

.ajaxCart .product-grid .item-box .prices {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ajaxCart .product-grid .item-box .prices > *:last-child:not(:empty) {
    margin: 0;
}

.ajaxCart .product-grid .item-box .buttons,
.ajaxCart .product-grid .item-box .btn-wrapper {
    display: none;
}



/* out of stock */

.ajaxCart .addProductToCartErrors {
    padding: 0 20px 30px;
    color: #8c8c8c;
    text-align: center;
    font-size: 15px;
}

@media all and (min-width:768px) {
    .ajaxCart .product-details-page {
        text-align: left;
    }
}


@media (max-width: 1024px) {
    .category-page .item-box .add-to-cart-qty-wrapper,
    .category-page .item-box .ajax-cart-button-wrapper select {
        display: none;
    }
    .item-box .ajax-cart-button-wrapper .add-to-cart-qty-wrapper,
    .item-box .productQuantityDropdown {
        display: none;
    }

    .product-grid .item-box .productQuantityDropdown ~ .product-box-add-to-cart-button,
    .product-grid .ajax-cart-button-wrapper .add-to-cart-qty-wrapper + .product-box-add-to-cart-button {
        width: 100%;
    }
}

@media all and (min-width:1025px) {
    .product-list .ajax-cart-button-wrapper .add-to-cart-qty-wrapper,
    .product-list .item-box .productQuantityDropdown {
        width: 60px;
        margin-right: 3px;
        vertical-align: top;
    }

    .product-list .item-box .productQuantityDropdown {
        height: 40px;
        padding: 0 25px 0 13px;
        background-position: right 10px center;
    }
    .product-list .item-box .productQuantityTextBox {
        width: 100%;
        height: 40px;
        padding-left: 2px;
    }
    .product-list .item-box .ajax-cart-button-wrapper .button-2 {
        max-width: calc(100% - 65px);
    }


}
