﻿@model IList<MegaMenuViewModel>

@{
    Layout = "";
}

@{
    <div class="top-mega-menu">
        <div class="mega-menu-container">
            <div class="mega-menu">
                <ul class="clearfix">
                    @foreach (var menuItem in Model)
                    {
                        var menuLineModel = new MegaMenuLineModel
                        {
                            MegaMenu = menuItem,
                            ResponsiveMobileMenu = true
                        };
                        @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Themes/Prisma/Views/_MegaMenuLine.TopMenu.cshtml", menuLineModel)
                    }
                </ul>
            </div>
            <div class="mega-menu mobile-mega-menu">
                <ul class="clearfix mobilemenu">
                    @foreach (var menuItem in Model)
                    {
                        var menuLineModel = new MegaMenuLineModel
                        {
                            MegaMenu = menuItem,
                            ResponsiveMobileMenu = true
                        };
                        @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Themes/Prisma/Views/_MegaMenuLine.TopMenuMobile.cshtml", menuLineModel)
                    }

                </ul>
            </div>
        </div>
    </div>
}

<script asp-location="Footer">
    $(document).ready(function () {
        "use strict";

        var $topMenu = $('ul.top-menu.notmobile');
        var $topMenuMobile = $('ul.top-menu.mobile');
        var $topMegaMenu = $('div.top-mega-menu');
        var $headerMenu = $('div.header-menu');
        $topMenu.html('');
        $topMenuMobile.html('');
        $headerMenu.html($topMegaMenu.html());
        $topMegaMenu.html('');
        initMegaMenu();
    });

    function initMegaMenu() {
        //$('.mega-menu > ul > li:has( > ul)').addClass('mega-menu-dropdown-icon');
        //$('.mega-menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
        $(".mobile-mega-menu > ul").before("<a href=\"#\" class=\"mega-menu-mobile\">&nbsp;</a>");
        $(".mega-menu > ul > li").hover(function (e) {
            if ($(window).width() > 943) {
                $(this).children("ul").stop(true, false).fadeToggle(150);
                e.preventDefault();
            }
        });
        $(".mega-menu > ul > li").click(function () {
            if ($(window).width() <= 1000) {
                $(this).children("ul").fadeToggle(150);
            }
        });
        $(".mega-menu-mobile").click(function (e) {
            $("body").toggleClass('show-on-mobile');
            e.preventDefault();
        });
        $(".empaty-div").click(function (e) {
            $("body").toggleClass('show-on-mobile');
            e.preventDefault();
        });
    }
    $(window).resize(function () {
        $(".mega-menu > ul > li").children("ul").hide();
        $(".mega-menu > ul").removeClass('show-on-mobile');
    });

</script>