input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty, 
.has-error {
    border: 1px solid #ff0000 !important;
}
.section .title {
    display: block;
    margin: 0 0 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}
.section-body {
        padding: 15px 5px;
}
.billing-address-panel .form-fields,
.shipping-address-panel .form-fields {
    background: none;
    border: 0;
    padding: 0;
}
.ropc .ship-to-same-address label,
.pickup-in-store p,
.pickup-in-store .description,
.pickup-in-store .options {
    display: inline-block;
}
.ropc .panel .section {
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.panel-group-left .choose-address {
    margin: 0 0 30px;
}
.ropc select {
    max-width: 100%;
    height: 26px;
    width: 260px;
    margin: 0;
}
.ropc .inputs input {
    height: 26px;
    width: 260px;
}
.ropc .section.estimate-shipping {
    background: none;
    padding: 0;
    border: none;
}
.ropc .estimate-shipping .shipping-options {
    padding: 0;
    border: 0;
}
.ropc .estimate-shipping input {
    width: 60%;
}
.estimate-shipping .hint {
    margin: 0 0 10px;
}
.inputs span.ng-binding {
    font-size: 12px;
    display: block;
    color: #c00;
    margin: 5px 0 0;
}
.estimate-shipping .buttons {
    margin: 20px 0 0;
}
.estimate-shipping button {
    padding: 8px 12px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    font: bold 11px/normal Tahoma,Verdana,Arial,sans-serif;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.estimate-shipping button:hover {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 );
}
.estimate-shipping button[disabled] {
    opacity: 0.5;
    cursor: auto;
}
.estimate-shipping button[disabled] {
    background-position: top;  
}
.shipping-results {
    margin: 30px 0 0;
    text-align: left;
}
.ropc .pickup-points-map {
    max-width: 100%;
    margin: 15px auto 0;
}
.order-summary-content .cart td {
    border: 1px dotted #c5c5c5;
}
table .product-picture img {
    max-width: none;
}
.shipping-method .section-body,
.payment-method .section-body {
    padding: 15px;
}
.shipping-method .method-list,
.payment-method .method-list {
    margin: 0;
}
.shipping-method .method-list li,
.payment-method .method-list li {
	margin: 20px 0 0;
	display: block;
	width: auto !important;
	padding: 0 !important;
}
.shipping-method .method-list li:first-child,
.payment-method .method-list li:first-child {
	margin: 0;
}
.payment-method .payment-details {
    display: inline-block;
    width: 72%;
}
.shipping-method .method-name {
    padding: 0;
    background: none !important;
}
.payment-info {
    margin: 30px 0 0;
}
.payment-info .info {
    padding: 0;
    border: 0;
}
.payment-info .info p {
	text-align: left;
}
.remove-from-cart button {
    display: inline-block;
    padding: 10px;
    background: url(ico-delete.gif) no-repeat center;
    font-size: 0;
    vertical-align: middle;
}
.ropc .payment-info .dropdownlists {
    width: 165px;
}
#ExpireMonth,
#ExpireYear {
    width: 78px;
}
.cart td.quantity input {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 36px;
    text-align: center;
}
.ropc .cart select {
    width: auto;
    min-width: 36px;
    height: 36px;
}

.ropc .item-count {
    display: none;
}
.attribute-values .ng-scope > select {
    margin-bottom: 10px;
}
.attribute-list > li {
    border: 0;
    display: block;
    padding: 0;
    margin: 0 0 10px;
}
.attribute-list > li > div {
    margin-bottom: 5px;
}
.attribute-list .hidden {
    display: none;
}
.coupon-box-panel,
.giftcard-box-panel {
    margin: auto;
}
.coupon-box-panel .section-body,
.giftcard-box-panel .section-body {
    margin: 0 0 2%; 
}
.coupon-box-panel .hint,
.giftcard-box-panel .hint {
    margin: 0 0 10px;
}
.coupon-box-panel .coupon-code,
.giftcard-box-panel .coupon-code {
    display: inline-block;
}
.coupon-box-panel input[type="text"],
.giftcard-box-panel input[type="text"] {
    float: left;
    margin: 0 3px 3px 0;
}
.coupon-box-panel .coupon-code button,
.giftcard-box-panel .coupon-code button {
    float: left;
    padding: 8px 12px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 );
    color: #000;
    text-shadow: 1px 1px 0 #fff;
    font: bold 11px/normal Tahoma,Verdana,Arial,sans-serif;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.coupon-box-panel .coupon-code button:hover,
.giftcard-box-panel .coupon-code button:hover {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 );
}
.coupon-box-panel .message,
.giftcard-box-panel .message {
    margin: 5px 0 0;
    color: #c00;
    font-size: 12px;
}
.coupon-box-panel .current-code {
    margin: 5px 0 0;
}
.checkout-page .total-info {
    color: #000;
}
.coupon-box-panel .current-code button,
.coupon-box-panel .current-code span,
.total-info button {
    display: inline-block;
    vertical-align: middle;
}
.coupon-box-panel .current-code button,
.total-info button {
    width: 16px;
    height: 16px;
    background: #f9f9f9 url(delete.png) no-repeat center;
    border: 0;
    font-size: 0;
}
.error-list {
    color: #c00;
    margin: 0 0 20px;
}
.terms-of-service {
    margin: 0 0 20px;
}
.complete-button button {
    padding: 11px 18px;
    border: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(top,  rgba(204,219,32,1) 0%,rgba(153,182,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(204,219,32,1) 0%,rgba(153,182,80,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccdb20', endColorstr='#99b650',GradientType=0 ); /* IE6-9 */
    font-weight: bold;
    font-size: 14px;
    text-shadow: 1px 1px 0 #7a9b06;
    color: white;
}
.complete-button button:hover {
    background: -webkit-linear-gradient(top, rgba(153,182,80,1) 100%, rgba(204,219,32,1) 0%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(153,182,80,1) 100%, rgba(204,219,32,1) 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99b650', endColorstr='#ccdb20',GradientType=0 ); /* IE6-9 */
}
.use-reward-points {
    margin-bottom: 10px;
}

.ropc .addon-buttons {
    margin-top: 20px;
    text-align: right;
}

.ropc .addon-buttons > * {
    display: inline-block;
    margin: 0 0 5px 5px;
}

@media all and (max-width: 768px) {

    .fieldset .title, .section .title {
        display: block;
        background-image: url(filterGroupToggle1.png), url(filterGroupToggle1.png);
        background-position: 5% center, 95% center;
        background-repeat: no-repeat, no-repeat;
        padding: 10px 5px;
    }
    .section-body {
        display: none;
    }
	.pickup-in-store p {
		text-align: center;
	}


}
@media all and (max-width: 1024px) {
    .cart td.quantity {
        padding: 10px;
    }
     .cart tr {
        display: block;
    }
    .cart td {
        display: block;
        width: 100%;
        border-bottom: none !important;
        text-align: center !important;
    }
    .order-summary-content .cart .cart-item-row td.product {
        text-align: center !important;
    }
    .cart tr {
        border-bottom: 1px dotted #d6d6d6;
        margin-bottom: 2px;
    }
    .cart colgroup,
    .cart thead,
    .cart .sku {
        display: none;
    }
    .cart .quantity > div{
        display: inline-block;
    }
    .cart .subtotal,
    .cart .quantity,
    .cart .unit-price {
        border-top: none !important;
    }

    .ropc .addon-buttons {
        text-align: left;
    }

    .ropc .addon-buttons > * {
        margin: 0 5px 5px 0;
    }

}
@media all and (min-width: 600px) and (max-width: 1024px) {
    .cart tr {
        float: left;
        width: 49%;
        margin: 0 0.5% 1%;
    }
    .cart tr:nth-child(2n+1) {
        clear: both;
    }
}

@media all and (min-width: 769px) {

    .fieldset .title, .section .title {
        text-align: left;
    }
    .section.shipping-method .method-list, 
    .section.payment-method .method-list {
        padding: 0;
        margin: 0;
        border: 0;
        text-align: left;
    }
	.checkout-page .selected-checkout-attributes {
		float: none;
		text-align: center;
	}
    .ropc .giftcard-box-panel,
    .ropc .coupon-box-panel {
        width: 100%;
    }
    .section-body {
        padding: 20px 5px 5px;
        margin: 0 0 20px;
        display: block !important;
    }
    .checkout-page .total-info {
        border-top: 1px solid #ddd;
        padding: 10px;
    }
	.ropc .panel-group-left {
		width: 33%;
	} /*override common css for 981~1000 width*/
	.ropc .panel-group-right-top,
	.ropc .panel-group-right-middle,
	.ropc .panel-group-right-bottom {
		float: right;
		width: 65%;
	} /*override common css for 981~1000 width*/

}



@media all and (min-width: 1025px) {
	

    .inputs label {
        display: block;
        text-align: left;
        width: auto;
    }
	.cart {
        margin: 0 0 30px;
    }
	.cart .sku {
		display: none;
	}
	.td-title {
        display: none !important;
    }
    .remove-product {
        cursor: pointer;
        border: none;
        background: none;
    }
    .cart .product {
        min-width: 0;
    }
	.checkout-page .selected-checkout-attributes {
		text-align: right !important;
	}
	.order-totals-panel {
        text-align: right;
        float: right;
        width: 48%;
    }
	.payment-info .info tr {
        text-align: left;
    }
	.payment-info .info td:first-child {
        text-align: left;
        margin: 0 0 10px;
        padding: 0;
    }
    .terms-of-service {
        padding: 0 !important;
    }
    .order-confirm,
    .terms-of-service,
    .complete-button {
        clear: both;
        text-align: right !important;
    }
    .ropc .giftcard-box-panel,
    .ropc .coupon-box-panel {
        width: 48%;
    }
    .ropc input[type="text"] {
        padding: 7px;
    }

}


@media all and (min-width: 1281px) {

    .ropc .panel-group-left {
        width: 28%;
    }
    .ropc .panel-group-right-top,
    .ropc .panel-group-right-middle,
    .ropc .panel-group-right-bottom {
        float: right;
        width: 70%;
    }
}