﻿@model OnePageCheckoutModel
@using Nop.Web.Models.Checkout;
@using Nop.Core.Infrastructure;
@{
    Layout = "_ColumnsThree";
    Html.AppendCssFileParts("~/Themes/zulushack/Content/css/checkout-styles.css");
    Html.AppendCssFileParts("~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css");
    Html.AppendCssFileParts("~/lib/jquery.auto-complete/jquery.auto-complete.css");

    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery.auto-complete/jquery.auto-complete.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="loading_form_div">
</div>
<div class="page new_checkout">
    <div class="validation-error"></div>
    <div class="customer_info_wrap">

        <div class="box1">
            <form id="co-billing-address-form" method="post" action="@Url.RouteUrl("SingleStepSaveBillingAddress")">
                <div class="billinginfo" id="billinginfo">
                </div>
                <script asp-location="Footer">
                    onestepbilling.init('#co-billing-address-form', '@Url.RouteUrl("SingleStepSaveBillingAddress")', '@Url.RouteUrl("SingleStepBillingAddress")');
                </script>
            </form>
            <form id="co-shipping-address-form" action="@Url.RouteUrl("SingleStepSaveShippingAddress")">
                <div class="shippinginfo" id="shippinginfo" style="display:none">
                </div>
                <script asp-location="Footer">
                    onestepshipping.init('#co-shipping-address-form', '@Url.RouteUrl("singlestepsaveshippingaddress")', '@Url.RouteUrl("singlestepshippingaddress")');
                </script>
            </form>
            <div class="clear"></div>
        </div>
    </div>

    @using (Html.BeginRouteForm("SingleStepConfirmOrder", FormMethod.Post, new { id = "confirm-order-form" }))
    {
        <div class="payment_shioing_wrap">
            <div class="box1" id="paymentmethods">
            </div>
            <div class="clear"></div>
            <div class="box1" id="shipppingmethods">
            </div>
        </div>
        <div class="confirm_order_wrap">
            <div class="box1">
                <div class="page-title">
                    <h1>Order Confirmation</h1>
                </div>
                <div id="cartsummary">
                </div>
                <div class="buttons btn">
                    <input type="button" class="button-1" id="CheckoutConfirm" value="@T("Checkout.ConfirmButton")" />
                </div>
                <div class="clear"></div>
            </div>
        </div>

    }
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('#CheckoutConfirm').click(function (e) {
            if ($('#billing-address-select').length == 0 || $('#billing-address-select').val() == '') {
                $('#co-billing-address-form').valid();
            }

            if (!$('#ShipToSameAddress').prop('checked')) {
                if ($('#shipping-address-select').length == 0 || $('#shipping-address-select').val() == '')
                    $('#co-shipping-address-form').valid();
            }

            if ($('.field-validation-error').length == 0) {
                confirmRequest('@Url.RouteUrl("SingleStepSaveBillingAddress")', '@Url.RouteUrl("SingleStepSaveShippingAddress")', '@Url.RouteUrl("SingleStepConfirmOrder")');
            }
            return false;
        });
    });

    function reloalform() {
        onesteppaymentmethods.init('#confirm-order-form', '@Url.RouteUrl("SingleStepSavePaymentMethod")', '@Url.RouteUrl("SingleStepPaymentMethods")');
        @*onestepshippingmethods.init('#co-shipping-methods-form', '@Url.RouteUrl("SingleStepShippingMethods")', '@Url.RouteUrl("SingleStepShippingMethods")');*@
        onestepshippingmethods.init('#confirm-order-form', '@Url.RouteUrl("SingleStepSaveShippingMethod")', '@Url.RouteUrl("SingleStepShippingMethods")');
        onestepshoppincartSummary.init('@Url.RouteUrl("SingleStepOrderSummary", new { prepareAndDisplayOrderReviewData = false })');
    }

    function reloalCartSummary() {
        onestepshoppincartSummary.init('@Url.RouteUrl("SingleStepOrderSummary", new { prepareAndDisplayOrderReviewData = false })');
    }
</script>

