﻿

/**************************** FASHION ***************************/



/********** START BUTTON *********/

.quick-view-button {
    position: absolute;
    background: #000;
    color: #fff;
    opacity: 0;
    transition: all .15s ease-in-out;
    z-index: 2;
}

.quick-view-button a {
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}

.item-box:hover .quick-view-button {
    opacity: 1;
}

.quick-view-button:hover {
    background: #585858;
}

.product-grid .quick-view-button {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.product-list .quick-view-button {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quickViewData {
    display: none;
}

/********** END BUTTON *********/


/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    /*filter: alpha(opacity=50);*/
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/loading-image.gif') center no-repeat;
}


/********** MAIN QUICKVIEW WINDOW *********/


.quickView {
    position: absolute;
    left: 50% !important;
    padding-top: 0 !important;
    background: #fff;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 0 15px #000;
    z-index: 1070;
}

.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
    width: 700px;
}

    .quickViewWindow input[type=button],
    .quickViewWindow a {
        cursor: pointer;
    }
    .quickView .k-window-titlebar.k-header {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0 !important;
        background: none !important;
    }

    .quickView .k-window-titlebar.k-header .k-window-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        text-indent: 9999px;
    }

    .quickView .k-window-titlebar.k-header .k-window-actions a {
        display: block;
        width: 18px;
        height: 18px;
        border: 1px solid #999;
        background: #ccc url('images/button-close.png') center no-repeat;
    }
    .quickView .k-window-titlebar.k-header .k-window-actions a:hover {
        border-color: #aaa;
        background-color: #fff;
    }

.quickViewWindow .product-essential {
    float: none;
    width: auto;
    border: 0;
    margin: 0;
    overflow: visible;
}
    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }

.quickViewWindow .popup-header {
    padding: 0;
    margin: 0;
    border-bottom: none;
    background: -moz-linear-gradient(top, rgba(238,238,238,0.8) 0%, rgba(238,238,238,0.01) 99%, rgba(238,238,238,0) 100%);
    background: -webkit-linear-gradient(top, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.01) 99%,rgba(238,238,238,0) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,0.8) 0%,rgba(238,238,238,0.01) 99%,rgba(238,238,238,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cceeeeee', endColorstr='#00eeeeee',GradientType=0 );
    background-color: #d4d4d4;
}

.quickViewWindow .product-name {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
}


/********** START PRODUCT OVERVIEW *********/

.quickViewWindow #accordion .product-details {
    margin-bottom: -1px;
    box-shadow: none;
    border-color: #eee;
}

.quickViewWindow #accordion > h3 {
    box-shadow: none;
    border: none;
    margin-top: 1px;
    background: #f6f6f6;
}
.quickViewWindow #accordion > h3 + h3 {
    margin-bottom: 1px;
}

.quickViewWindow .product-content {
    padding: 15px;
    overflow: hidden;
}

.quickViewWindow input {
    border-radius: 0;
}
.quickViewWindow .overview {
    float: right;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    width: 400px;
    background: none;
}
/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    width: 100% !important;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-ajax-loader {
    background-image: url('images/loader.gif');
    width: 32px;
    height: 32px;
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */

.quickViewWindow .gallery {
	display: block; /*Cloud Zoom css override*/
    float: left;
    width: 252px;
    margin-bottom: 0;
    overflow: visible;
}
.quickViewWindow .gallery .picture {
    position: relative;
    float: none;
    width: 250px;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px 0 #ccc;
    background: #fff;
    line-height: 0;
}
.quickViewWindow .gallery .picture a {
    height: auto;
    width: 250px;
    border: none;
    overflow: hidden;
}
.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}
.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
}

.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
    margin-top: 15px;
    background: transparent;
    padding: 0;
}

.quickViewWindow .gallery .thumbnails a,
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
    margin: 0 9px 9px 0;
    border: 1px solid #fff;
    overflow: hidden;
    height: 70px;
    width: calc(33% - 6px);
    background: #fff;
    box-shadow: 0 1px 3px 0 #ccc;
}

.quickViewWindow .gallery .thumbnails img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.quickViewWindow .gallery .thumbnails a img:hover {
    opacity: 0.7; /*cloud zoom only*/
}
.quickViewWindow .gallery .thumbnails a:nth-child(3n),
.quickViewWindow .gallery .thumbnails > img:nth-child(3n) {
    margin: 0 0 9px 0;
}

.quickViewWindow .links-panel {
    margin-top: 10px;
    padding: 10px 0;
}
.quickViewWindow .links-panel a {
    display: block;
    background: url('images/bullet-right.png') left center no-repeat;
    padding-left: 15px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

    .quickViewWindow .links-panel a:hover {
        text-decoration: underline;
    }

.quickViewWindow .gallery .picture #wrap {
    display: inline-block;
}
.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #999 transparent #eee;
    border-radius: 0;
    box-shadow: 0 1px 3px #ccc;
    padding: 10px;
}

.quickViewWindow #accordion > h3 {
    position: relative;
    margin: 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 3px #ccc;
    background: #eee;
    padding: 5px 10px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}

    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 11px;
        left: inherit;
        width: 16px;
        height: 16px;
        margin: -8px 0 0;
        cursor: pointer;
    }

.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/minus.png) no-repeat center;
}
.quickViewWindow  #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/plus.png) no-repeat center;
}
.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }
.quickViewWindow  .left .stock {
    line-height: 26px;
    margin: 0;
}
.quickViewWindow  .left .back-in-stock-subscription {
    margin-bottom: 5px;
}
.quickViewWindow .left .back-in-stock-subscription .subscribe-button {
    margin: 0;
    padding: 0;
    background: url(images/bullet-right.gif) no-repeat -3px center;
    border: none;
    cursor: pointer;
    font-size: 10px;
    text-transform: none;
    box-shadow: none;
    color: #333;
}
.quickViewWindow .left .back-in-stock-subscription .subscribe-button:hover{
    text-decoration: underline;
    color: #000;
}
.quickViewWindow  .left .download-sample {
    margin-bottom: 8px;
}
.quickViewWindow  .left .download-sample-button a {
    text-shadow: 1px 1px 0 #bbb;
    color: #060;
}
.quickViewWindow  .left .download-sample-button a:hover {
    text-decoration: underline;
}
.quickViewWindow .right .compare-products {
    margin-top: 0;
}
.quickViewWindow #accordion .purchase-area {
    clear: both;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    padding: 10px 0 0;
    margin-top: 10px;
}
.quickViewWindow  #accordion .purchase-area .prices {
    float: left;
}
.quickViewWindow .prices span{
    line-height: 30px;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart:first-child {
    width: 100%;
}

.quickViewWindow  #accordion .purchase-area .add-to-cart {
    margin: 0;
    float: right;
    color: #000;
}


.quickViewWindow  #accordion .purchase-area .add-to-cart .add-to-cart-button {
    padding: 6px 10px;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-input {
    padding: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
}
.quickViewWindow  #accordion .purchase-area .add-to-cart .qty-label {
    line-height: 30px;
    color: #000;
}

.quickViewWindow  #accordion .purchase-area .add-to-cart .add-to-wishlist-button {
    display: none;
}
.quickViewWindow .product-specs-box {
    margin: 0;
    border: 0;
}
.quickViewWindow  .full-description {
    border: none;
}
.quickViewWindow  .product-specs-box .title {
    display: none;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}


/********** END PRODUCT ESSENTIAL *********/    

/********** START RELATED/ALSO-PURCHASED PRODUCTS *********/


.quickViewWindow .product-grid {
    padding-bottom: 10px;
    margin: 10px 0 0;
    overflow: hidden;
    background: #eee;
}

.quickViewWindow .product-grid .title {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
}
.quickViewWindow .product-grid .item-box {
    width: 111px;
    margin: 0 11px;
}

.quickViewWindow .product-grid .item-box .picture {
    height: 85px;
}

    .quickViewWindow .product-grid .item-box .picture a {
        display: block;
        width: 85px;
        height: 85px;
        margin: 0 auto;
        border: none;
        overflow: hidden;
        line-height: 0;
    }

.quickViewWindow .product-grid .item-box .product-title {
    height: 28px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 10px;
}

    .quickViewWindow .product-grid .item-box .product-title a {
        display: inline;
    }
.quickViewWindow .product-grid .product {
    margin: 0 10px;
    text-align: center;
    height: 130px;
    width: calc(20% - 20px);
    padding: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .product a {
    display: inline-block;
    box-shadow: none;
    height: 85px;
    width: 70px;
    float: none;
    overflow: hidden;
    background: none;
}

.quickViewWindow .product-grid .product p {
    margin-top: 5px;
    font-size: 10px;
    height: 28px;
    overflow: hidden;
    text-transform: uppercase;
}

/********** END RELATED/ALSO-PURCHASED PRODUCTS *********/

/********* START VARIANTS IN GRID ********/

.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    width: 124px;
    height: 124px;
    margin: 0 0 0 5px;
    overflow: hidden;
    text-align: center;
}

    .quickViewWindow .product-variant:nth-child(3n+1) {
        margin-left: 2px;
    }

.quickViewWindow .variant-picture {
    width: 124px;
    height: 124px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: normal !important;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
}

    .quickViewWindow .variant-info .prices > * {
        float: none;
    }

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}

.quickViewWindow  .product-price {
    margin: 0 0 10px;
}

.quickViewWindow .overview .variants-in-grid .product-variant-list .product-variant .price .product-price {
    color: #0f0 !important;
    font-weight: bold;
}
.quickViewWindow .overview .attributes {
    padding: 8px 0;
    clear: both;
    margin: 0;
    border: none;
}

.quickViewWindow .overview .attributes dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.quickViewWindow .overview .attributes dl > * {
    float: left;
}
.quickViewWindow .overview .attributes dl dt {
    float: none;
    margin: 0 10px 5px 0;
    line-height: 24px;
    clear: left;
    text-align: left;
}

    .quickViewWindow .overview .attributes dl dd {
        margin-bottom: 10px;
        padding-left: 5px;
        float: none;
    }
.quickViewWindow .overview .attributes select {
    max-width: 250px;
}
.quickViewWindow .variant-grid-info .compare-products {
    margin-top: 0;
}

.quickViewWindow .variant-name {
    margin-bottom: 5px;
    font-size: 10px;
}

.quickViewWindow .variant-info .prices {
    height: 20px;
    overflow: hidden;
}

.quickViewWindow .variant-info .prices .product-price {
    margin-top: 0;
}

.quickViewWindow .variant-info .prices span {
    line-height: 18px;
    font-size: 12px;
}

/********* END VARIANTS IN GRID ********/

/********* START GIFTCARD *********/

.quickView .giftcard {
    clear: both;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none;
}

.quickView .giftcard > div {
    overflow: hidden;
    margin-bottom: 8px;
}
    .quickView .giftcard > div > * {
        float: left;
        display: block;
        width: 120px;
        margin-right: 10px;
    }

.quickView .giftcard label {
    line-height: 28px;
}

.quickView .giftcard input[type=text],
.quickView .giftcard input[type=email],
.quickView .giftcard input[type=phone],
.quickView .giftcard textarea {
    width: calc(100% - 130px);
}

.quickView .giftcard textarea {
    resize: none;
}
@media all and (max-width: 1024px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}
/********* END GIFTCARD *********/