﻿@{
    var theme = ThemeHelper.GetPluginTheme(Plugin.FolderName);

    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.css");

    bool supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;

    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.PriceMatch/Themes/" + theme + "/Content/PriceMatch.rtl.css");
    }
}

<li class="price-match-requests">
    <a asp-controller="PriceMatch" asp-action="Requests">@T("SevenSpikes.PriceMatch.Public.AccountNavigation.Requests.Link")</a>
</li>