﻿



 /* fix for the accordion content so that no scrolls are shown*/

.quickViewWindow .ui-accordion-content {    
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
        
}

.product-grid .buttonOverlay,
.product-list .buttonOverlay {
    display: none !important;
}

/********* START BUTTON *********/


.quick-view-button {
    position: absolute;
    opacity: 0;
    z-index: 3;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.item-box:hover .quick-view-button {
    opacity: 1;
}
.item-box:hover .description-wrapper {
    z-index: 2;
}
    .product-grid .quick-view-button {
        bottom: 16px;
        left: 50%;
        margin: 0 0 0 -15px;
    }
    .product-list .quick-view-button {
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
    }
        .product-list .quick-view-button a {
            width: 70px;
            height: 70px;
            border-radius: 35px;
            opacity: .9;
            background-color: #e9cbb4;
        }

.quick-view-button a {
    display: block;
    padding: 0;
    opacity: .7;
    width: 31px;
    height: 31px;
    background: url(images/icon-quick-view.png) no-repeat center;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    -webkit-transform: translateZ(0);
    color: inherit;
    cursor: pointer;
    text-indent: -9999px;
}
    .quick-view-button a:hover {
        opacity: 1;
    }

.quickViewData {
    display: none;
}


/********* SCREEN OVERLAY & DATA LOADER *********/



.k-overlay {
    position: fixed;
    z-index: 1060;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.quickView .k-loading-mask {
    position: absolute;
    top: 0;
    left: 0;
}

.quickView .k-loading-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: -15px;
    background: url('images/ajax_loader_big.gif') center no-repeat;
}


/********** MAIN QUICKVIEW WINDOW **********/

.quickView {
    position: absolute;
    padding-top: 0 !important;
    box-shadow: 0 0 15px #000;
    background: #fff;
    z-index: 1070;
}
.quickViewWindow {
    z-index: 100; /*check if z-index is necessary*/
    width: 710px;
}
    .quickViewWindow input[type=button],
    .quickViewWindow a {
        cursor: pointer;
    }

.quickViewWindow .popup-header {
    margin-bottom: 12px;
    border-bottom: 1px dashed #c3c3c3;
}
    .quickViewWindow .product-name {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        font-size: 24px;
        line-height: normal;
        color: #555;
        text-transform: uppercase;
    }

.quickView .k-window-titlebar.k-header {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0 !important;
    background: none !important;
}

.quickView .k-window-titlebar.k-header .k-window-actions {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    text-indent: 9999px;
}
.quickView .k-window-titlebar.k-header .k-window-actions a {
    display: block;
    width: 12px;
    height: 12px;
    background: transparent url(images/button-close.png) center no-repeat;
}

/********** GALLERY & OVERVIEW *********/

/*
 Cloud Zoom CSS. (c)2012-2015 Star Plugins.
*/

.quickView .cloudzoom-blank {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url('images/blank.png');
}

.quickView .cloudzoom-zoom-inside {
    z-index: 9;
    border: none;
    box-shadow: none;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
}

    .quickView .cloudzoom-zoom-inside img {
        right: auto !important;
        bottom: auto !important;
        max-width: none !important;
        max-height: none !important;
    }

.quickView .cloudzoom-zoom img,
.quickView .cloudzoom-zoom-inside img {
    -webkit-transition: none;
    transition: none;
}

.quickView .cloudzoom-ajax-loader {
    top: 50% !important;
    left: 50% !important;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-image: url('images/ajax_loader_big.gif');
}

.quickView .picture a + img {
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
/* transitional image (on thumbnail click) */
.quickViewWindow .product-essential {
    float: none;
    margin: 0;
    padding: 0 10px 15px;
    border: 0;
    width: auto;
    overflow: visible;
}
    .quickViewWindow .product-essential:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        visibility: hidden;
    }
.quickViewWindow .gallery {
    display: block; /*Cloud Zoom css override*/
    float: left;
    margin-bottom: 0;
    overflow: visible;
    width: 340px;
}
.quickViewWindow .gallery .picture {
    float: none;
    background: #fff;
    line-height: 0;
	width: 340px;
	text-align: center;
}
.quickViewWindow .gallery .picture a {
    width: 250px;
    height: 250px;
    border: none;
    overflow: hidden;
}

.quickViewWindow .gallery .picture img,
.quickViewWindow .related-products-grid .picture img,
.quickViewWindow .also-purchased-products-grid .picture img {
    z-index: 0 !important;
}

.quickViewWindow .gallery .picture img {
	bottom: auto;
	max-height: none;
}
.quickViewWindow .gallery .picture a img {
	position: static;
    width: 100%;
}
.quickView .gallery .picture:before {
	display: none;
}
.quickViewWindow .gallery .picture a {
	width: auto;
	height: auto;
}
.quickViewWindow .gallery .thumbnails {
    overflow: hidden;
}
.quickViewWindow .gallery .thumbnails a, 
.quickViewWindow .gallery .thumbnails > img {
    position: relative;
    float: left;
	margin: 0 1px 2px;
    overflow: hidden;
	width: 83px;
	height: 83px;
    background: #fff;
}
    .quickViewWindow .gallery .thumbnails img {
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .quickViewWindow .gallery .thumbnails a img:hover {
        opacity: 0.7; /*cloud zoom only*/
    }

.quickViewWindow .links-panel {
	margin: 0;
	padding: 20px 0;
}
.quickViewWindow .links-panel a {
    display: block;
	padding-left: 5px;
	text-align: left;
	font-size: 20px;
	color: #555;
}
    .quickViewWindow .links-panel a:hover {
        text-decoration: underline;
    }


/********** OVERVIEW *********/



.quickViewWindow .overview {
    float: right;
    margin: 0;
    width: 330px;
}

.quickViewWindow #accordion {
	margin: 0 0 35px;
}
.quickViewWindow #accordion > h3 {
    position: relative;
	margin: 0 0 3px;
	padding: 2px 8px;
	border: 0;
	background: #ececec;
	text-transform: uppercase;
    text-align: left;
	font-weight: normal;
	font-size: 20px;
	color: #555;
    text-shadow: 1px 1px 0 #fff;
    cursor: pointer;
}
    .quickViewWindow #accordion > h3 span {
        position: absolute;
        top: 50%;
        right: 8px;
        left: inherit;
        margin: -12px 0 0;
        width: 30px;
        height: 23px;
        cursor: pointer;
    }

.quickViewWindow #accordion .product-details {
    position: relative;
    margin: 0;
	padding: 10px 0;
}

.quickViewWindow .overview .short-description, 
.quickViewWindow .overview .stock, 
.quickViewWindow .overview .manufacturers, 
.quickViewWindow .overview .product-reviews-overview {
	clear: both;
}
.quickViewWindow .ui-icon-circle-arrow-s,
.quickViewWindow .ui-icon-circle-arrow-e {
	background: url('images/icon-accordion.png') center no-repeat;
}
.quickViewWindow .back-in-stock-subscription {
	clear: left;
}

.quickViewWindow .overview .add-to-cart,
.quickViewWindow .overview .prices {
	margin: 0;
}

.quickViewWindow .attributes select {
	max-width: 220px;
}

.quickViewWindow .purchase-area .prices {
	float: right;
}
.quickViewWindow .overview .add-to-cart {
	float: left;
}
.quickViewWindow .overview .qty-label {
	margin: 0;
	display: none;
}

.quickViewWindow .overview .left {
    float: left;
    max-width: 60%;
    margin-bottom: 5px;
    text-align: left;
}

.quickViewWindow .overview .right {
    float: right;
    margin-bottom: 5px;
    text-align: right;
}

    .quickViewWindow .overview .left > *,
    .quickViewWindow .overview .right > * {
        margin-bottom: 5px;
        overflow: hidden;
    }

.quickViewWindow .overview .tier-prices {
    clear: both;
}

/********* ATTRIBUTES ********/

.quickViewWindow .overview .attributes {
    clear: both;
    margin: 0;
    border: none;
    padding: 0;
}

.quickViewWindow .overview .attributes dl:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.quickViewWindow .overview .attributes dl > * {
    float: left;
}

.quickViewWindow .overview .attributes dt {
    clear: left;
    margin: 0 10px 5px 0;
    width: 100px;
    text-align: left;
    line-height: normal;
}
.quickViewWindow .overview .attributes dd {
    margin-bottom: 5px;
}


.quickViewWindow .overview .purchase-area {
    clear: both;
    margin-top: 10px;
    border-top: 1px dashed #999;
    overflow: hidden;
    padding: 10px 0 0;
}

.quickViewWindow .overview .title,
.quickViewWindow .overview .add-info,
.quickViewWindow .overview .description {
    display: none;
}



/********** VARIANTS *********/

.quickViewWindow #accordion .variants-in-grid {
    padding: 10px 6px;
}

.quickViewWindow .product-variant-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
}

    .quickViewWindow .product-variant-list .item-row {
        overflow: hidden;
        margin-bottom: 10px;
    }

.quickViewWindow .variant-grid-info {
    border-top: 1px dashed #999;
    overflow: hidden;
    padding-top: 10px;
}
.quickViewWindow .product-variant-list .item-grid {
    height: auto;
}

.quickViewWindow .product-variant {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 0 3px 3px;
    width: 108px;
    height: 108px;
    overflow: hidden;
    text-align: center;
}
.quickViewWindow .product-variant:nth-child(3n+1) {
    margin-left: 0;
}
.quickViewWindow .variant-picture {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 5px;
    border: 1px solid #ddd;
    line-height: normal !important;
    overflow: visible;
}
.quickViewWindow .variant-picture a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
}
.quickViewWindow .variant-info .variant-name {
    max-height: 28px;
    overflow: hidden;
}

    .quickViewWindow .variant-info .variant-name a {
        color: #fff;
    }

.quickViewWindow .variant-info .prices {
    float: none;
    margin: 0 !important;
    padding: 6px;
    height: auto;
    background: none;
}
.quickViewWindow .variant-info .prices:before {
    display: none;
}
.quickViewWindow .variant-info .prices > * {
    float: none;
}

.quickViewWindow .product-variant .prices label {
    display: none;
}

.quickViewWindow .variant-grid-info .manufacturers {
    float: left;
}

.quickViewWindow .variant-grid-info .compare-products {
    float: right;
}
.quickViewWindow .variant-info .product-price {
	color: #d6a985;
}

.quickViewWindow .moreInfoHover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 3px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.quickViewWindow .product-variant:hover .moreInfoHover {
    left: 136px;
}

.quickViewWindow .variant-info {
    position: absolute;
    left: -126px;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.quickViewWindow .product-variant:hover .variant-info {
    left: 0;
}

/********** RELATED/ALSO-PURCHASED PRODUCTS *********/



.quickViewWindow .product-grid {
    padding: 0;
    clear: both;
    overflow: hidden;
}
.quickViewWindow .product-grid .title {
    display: block;
    padding: 0;
    margin: 0 0 5px;
    text-align: center;
}
.quickViewWindow .product-grid .title strong {
    padding: 0;
    display: block;
    font-size: 22px;
}

.quickViewWindow .product-grid > .title strong:after, 
.quickViewWindow .product-grid > .title strong:before {
    display: none;
}

.quickViewWindow .item-grid {
    overflow: hidden;
    padding: 5px 0;
}
.quickViewWindow .product-grid .item-box {
    width: 162px;
    margin: 0 5px 18px;
    overflow: hidden;
}
.quickViewWindow .item-box:before {
    padding-top: 130%;
}
.quickViewWindow .product-grid .item-box .picture,
.quickViewWindow .product-grid .item-box .picture a {
	width: 100%;
    height: auto;
}
.quickViewWindow .product-grid .item-box .picture a {
    display: block;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    line-height: 0;
}
.quickViewWindow .description-wrapper {
    display: none !important;
}
.quickViewWindow .item-box .details {
    height: 40px;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box .product-title {
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-size: 10px;
    height: 40px;
}
.quickViewWindow .product-grid .item-box .product-title a {
    display: block;
    line-height: 1.2;
    font-size: 17px;
    height: 40px;
    color: #555;
}



/********* GIFTCARD *********/


.quickViewWindow .giftcard {
    padding-top: 10px;
    margin-left: 0;
    clear: both;
}
.quickViewWindow .giftcard div {
	float: none;
	width: auto;
}
.quickView .giftcard > div {
    overflow: hidden;
    margin-bottom: 5px;
}

    .quickView .giftcard > div > * {
        float: left;
    }

.quickViewWindow .giftcard label {
    display: block;
    margin-right: 10px;
    width: 100px;
    line-height: 32px;
}
    .quickViewWindow .giftcard input[type="text"],
    .quickViewWindow .giftcard input[type="email"],
    .quickViewWindow .giftcard input[type="tel"],
    .quickViewWindow .giftcard textarea {
        min-width: 0;
        width: 215px;
        float: none;
    }

.quickView .giftcard textarea {
    resize: none;
}

/****** COLOR SQUARES *****/

.quickViewWindow .color-squares li input {
    margin: -25px 0 0 !important;
}

/********* THEME SPECIFIC *********/

.product-list .item-box:hover .ribbon-position {
    opacity: 0;
}


@media all and (max-width: 1024px) {

    .quickViewWindow .color-squares .color {
        width: 30px;
        height: 30px;
    }

    .quickViewWindow .links-panel a {
        padding: 10px 0 10px 15px;
    }
}