
.coupon-code input {
	float: right;
}
.estimate-shipping-panel .shipping-results,
.payment-info .info,
.cart-total-left {
	text-align: right;
}
.coupon-code button {
	float: right;
	margin-right: -1px;
	margin-left: 0;
}
.current-code span {
	margin: 0 0 0 5px;
}
.cart-total button,
.remove-product {
	margin-left: -7px;
	margin-right: 3px;
}


@media all and (min-width: 1025px) {
	
.ropc .panel-group-right-top,
.ropc .panel-group-right-middle,
.ropc .panel-group-right-bottom {
	float: left;
}
.ropc .order-totals-panel,
.ropc .error-list,
.ropc .terms-of-service,
.ropc .complete-button {
	margin: 0 auto 20px 0 !important;
}
.ropc .addon-buttons {
    text-align: left;
}
.ropc .addon-buttons > * {
    margin: 0 5px 5px 0;
}

}