.slider-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 1200px;
    padding-left: 90px;
    padding-right: 90px;
    transform: translateY(-50%);
    z-index: 9;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #fff;
}
.slider-header h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight:700;
    text-transform: capitalize;
    color: #fff;
}
.slider-header p{margin-bottom:20px;}
.btn-slider {
    display: inline-block;
    vertical-align: top;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
    background-color: #fff;
    border: 1px solid #fff;
    color:#000;
    text-shadow:none;
    letter-spacing:2px;
}
.btn-slider:hover {
    background-color: #000;
    border-color:#000;
    text-decoration:none;
    color:#fff;
}