﻿/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

input.instant-search-busy {
    background: url('../../../images/ajax-loader-small.gif') 365px center no-repeat !important;
}
.header input.search-box-text.narrow {
    width: calc(100% - 153px) !important;
}

.search-box.store-search-box.with-caregory-search-enabled {
    width: 90%;
}


/* AUTOCOMPLETE */

.instantSearch {
    box-sizing: border-box !important;
    left: 0 !important;
    top: 33px !important;
    width: calc(100% - 33px) !important;
	height: auto !important;
	border: 1px solid #333;
	border-top: none;
	border-radius: 0 0 5px 5px;
    background: url(images/boxpad3.png) top repeat-x, url(images/boxpad6.png) bottom repeat-x;
    background-color: #f0f0f0;
	padding: 10px !important;
}
.instantSearch.resize {
	margin-top: 0;
}
.instantSearch .k-list-container {
	position: static !important;
	height: auto !important;
}
.instantSearch .k-list {
    height: 100%;
}
.instant-search-item {
    padding: 10px;
	margin-top: 5px;
	overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset 0 0 10px #ddd;
    background: #fff;
    cursor: pointer;
    text-align: left;
}
li:first-child .instant-search-item {
	margin-top: 0;
}
.instantSearch .k-state-hover .instant-search-item, 
.instantSearch .k-state-focused .instant-search-item {
	border-color: #bbb;
    background: #e0e0e0;
}
.instant-search-item .img-block {
	float: left;
    width: 70px;
    height: 70px;
	border: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}
.instant-search-item .detail {
    margin-left: 80px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
    line-height: 17px;
}
.instant-search-item .detail .title {
	margin-bottom: 5px;
	font: normal 16px "Times New Roman", Times, serif;
	color: #b68c65;
}
.instant-search-item .detail .price {
	font-size: 14px;
	color: #000;
}
.instant-search-item .detail .sku {
    margin: 0 0 5px;
}

.search-box-select {
	float: left;
	width: 120px;
    height: 33px;
	border: 1px solid #999;
	border-radius: 0;
    background: rgb(234,234,234);
    background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 68%);
    background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 68%);
    background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );
    padding: 6px;
	font: italic 15px "Times New Roman", Times, serif;
	color: #666;
}
.search-box-select:focus {
	border-color: #333;
}


/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media all and (max-width: 480px) {

	.header input.search-box-text.narrow {
	    width: calc(100% - 113px) !important;
    }
	.search-box-select {
        width: 80px;
	}
	.instantSearch .img-block {
		display: none;
	}
	.instantSearch .detail {
		margin: 0;
	}
    .instant-search-item .detail .title {
        font-size: 14px;
    }
    .instant-search-item .detail .price {
        font-size: 12px;
    }

}


@media all and (min-width:481px) {
    .search-box.store-search-box.with-caregory-search-enabled {
        width: 75%;
    }
}


@media all and (min-width:1025px) {
    .search-box.store-search-box.with-caregory-search-enabled {
        width: 380px;
    }
}