﻿@{
    Layout = "_Root";
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<link href="~/Themes/UniRepair/Content/css/policies.css" rel="stylesheet" />
<div class="center-1">
    <div class="left-side-one">
        <div class="filters-title">
            <span>Policies</span>
        </div>
        <div class="itemlist">
            <ul>
                <li><a href="@Url.RouteUrl("Topic", new {SeName = "privacy-notice"})">Privacy Notice</a></li>
                <li><a href="@Url.RouteUrl("Topic", new {SeName = "shipping-returns"})">Shipping Returns</a></li>
                <li><a href="@Url.RouteUrl("Topic", new {SeName = "conditions-of-use"})">Conditions of Use</a></li>
            </ul>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnBefore })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnAfter })
</div>
<script asp-location="Footer">
    var url = window.location;
    jQuery('.left-side-one ul li a[href="' + url + '"]').parent().addClass('active');
    jQuery('.left-side-one ul li a').filter(function () {
        return this.href == url;
    }).parent().addClass('active').parent().parent().addClass('active')

    /* policies-menus open close */
    $(document).ready(function () {
        $('.titlebox').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1023) {
                $(this).siblings('.itemlist').slideToggle('slow');
            }
        });
    });
    $(".titlebox").click(function () {
        $(".titlebox").toggleClass('close');
        removeClass = false;
    });

    $(document).ready(function () {
        //Add Inactive Class To All Accordion Headers
        $('.acc_trigger').toggleClass('inactive-header');
        $('.acc_trigger:first').addClass('active-header').next().show();
        // The Accordion Effect
        $('.acc_trigger').click(function () {
            if ($(this).next().is(':hidden')) {
                $('.active-header').toggleClass('active-header').toggleClass('inactive-header').next().slideToggle().toggleClass('open-content');
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }

            else {
                $(this).toggleClass('active-header').toggleClass('inactive-header');
                $(this).next().slideToggle().toggleClass('open-content');
            }
        });
        return false;
    });
</script>