﻿@{
    Layout = "_Root";
    Html.AppendCssFileParts("~/Themes/UniRepair/Content/css/owl-carousel.css");
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<link rel="stylesheet" href="~/Themes/UniRepair/Content/css/about.css" />
<div class="center-1">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnBefore })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MainColumnAfter })
</div>
