﻿<div class="header">
    @await Component.InvokeAsync("AdminHeaderLinks")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    @*<div class="header-upper">
            <div class="header-selectors-wrapper">
                @await Component.InvokeAsync("TaxTypeSelector")
                @await Component.InvokeAsync("CurrencySelector")
                @await Component.InvokeAsync("LanguageSelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
            </div>
        </div>*@
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div class="container-box">
        <div class="header-lower">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            <div class="empaty-div"></div>
            <div class="search-box store-search-box" id="search-div">
                @await Component.InvokeAsync("SearchBox")
            </div>
            <a href="tel:@storeContext.CurrentStore.CompanyPhoneNumber" class="head-tel"><i class="fa fa-phone"></i> @storeContext.CurrentStore.CompanyPhoneNumber</a>
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
                @await Component.InvokeAsync("FlyoutShoppingCart")
            </div>
        </div>
        <div class="header-menu">
            @await Component.InvokeAsync("TopMenu")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $(".search-btn").click(function () {
            var divcheck = document.getElementById("search-div").style.display
            $(".search-btn").toggleClass("closed");
            $("#search-div").toggle();
        });
    });

    //if ($(window).width() <= 767) {
    //    $(document).ready(function () {
    //        var news = $(".ename").html();
    //        $(".nameid").wrapInner(news);
    //        $(".ename").remove();
    //        var news = $(".eout").html();
    //        $(".logout").wrapInner(news);
    //        $(".eout").remove();
    //        var news = $("li.login").html();
    //        $(".loginli").wrapInner(news);
    //        $("li.login").remove();
    //    });
    //}

    $(document).ready(function () {
        $(".sublist-toggle").click(function () {
            $(this).toggleClass('closed');
            removeClass = false;
        });
        $(".menu-toggle").click(function () {
            $(".top-menu.mobile").toggleClass("menumobile");

        });
        $(".menu-toggle").click(function () {
            $("body").toggleClass("menumobile");
        });
        $('.menu-toggle2, .empaty-div').on('click', function () {
            $('body').removeClass('menumobile');
        });
    });
    $(document).ready(function () {
        if ($('.ico-logout').is(':visible')) {
            $('html').addClass("log-active");
        }
        if ($('.admin-header-links').is(':visible')) {
            $('body').addClass("admin-login");
        }
    });
    var url = window.location;
    jQuery('.top-menu li a[href="' + url + '"]').parent().addClass('active');
    jQuery('.top-menu li a').filter(function () {
        return this.href == url;
    }).parent().addClass('active').parent().parent().addClass('active')
</script>