@model CustomMegaMenuModel

<div class="panel-body">

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="MenuViewId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="MenuViewId" asp-items="Model.AvailableMenuViewTypes" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="MenuTypeId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="MenuTypeId" asp-items="Model.AvailableMenuTypes" id="MenuTypeId" />
        </div>
    </div>
    <div id="pnlCategory">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="CategoryId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="CategoryId" asp-items="Model.AvailableCategories" />
            </div>
        </div>
    </div>
    <div id="pnlDisplayPictureOfSubCategory">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="DisplayPictureOfSubCategory" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayPictureOfSubCategory" />
                <span asp-validation-for="DisplayPictureOfSubCategory"></span>
            </div>
        </div>
    </div>
    <div id="pnlCustomName">
        @(Html.LocalizedEditor<CustomMegaMenuModel, CustomMegaMenuLocalizedModel>("custommegamenu-name-localized",
        @<div>
             <div class="form-group">
                  <div class="col-md-3">
                      <nop-label asp-for="@Model.Locales[item].Name" />
                  </div>
                  <div class="col-md-9">
                      <nop-editor asp-for="@Model.Locales[item].Name" />
                      <span asp-validation-for="@Model.Locales[item].Name"></span>
                  </div>
             </div>
             <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
        ,
        @<div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" asp-required="true" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
        </div>))
    </div>
    <div id="pnlCustomLink">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Link" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Link" asp-required="true" />
                <span asp-validation-for="Link"></span>
            </div>
        </div>
    </div>
    <div id="pnlCustomDisplayPicture">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="DisplayPictureOfFirstLevelItem" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayPictureOfFirstLevelItem" />
                <span asp-validation-for="DisplayPictureOfFirstLevelItem"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="BannerId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BannerId" />
            <span asp-validation-for="BannerId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="CountryId" />
        </div>
        <div class="col-sm-9">
            <nop-select asp-for="CountryId" asp-items="Model.AvailableCountries" />
            <span asp-validation-for="CountryId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="TimeZoneId" />
        </div>
        <div class="col-sm-9">
            <nop-select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones" />
            <span asp-validation-for="TimeZoneId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="FromDate" />
        </div>
        <div class="col-sm-2">
            <nop-editor asp-for="FromDate" />
            <span asp-validation-for="FromDate"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            <nop-label asp-for="ToDate" />
        </div>
        <div class="col-sm-2">
            <nop-editor asp-for="ToDate" />
            <span asp-validation-for="ToDate"></span>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="SelectedCustomerRoleIds" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <nop-select asp-for="SelectedCustomerRoleIds" asp-items="Model.AvailableCustomerRoles" asp-multiple="true" />
                    <script>
						$(document).ready(function() {
							var rolesIdsInput = $('#@Html.IdFor(model => model.SelectedCustomerRoleIds)')
								.data("kendoMultiSelect");
							rolesIdsInput.setOptions({
								autoClose: false,
								filter: "contains"
							});

							@if (Model.AvailableCustomerRoles.Count == 0)
				{
					<text>
						rolesIdsInput.setOptions({
							enable: false,
							placeholder: 'No customer roles available'
						});
						rolesIdsInput._placeholder();
						rolesIdsInput._enable();
					</text>
				}
						});
                    </script>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("AclDisabledWarning")
                </div>
            </div>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="SelectedStoreIds" />
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                    <script>
						$(document).ready(function() {
							var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)')
								.data("kendoMultiSelect");
							storesIdsInput.setOptions({
								autoClose: false,
								filter: "contains"
							});

							@if (Model.AvailableStores.Count == 0)
						{
							<text>
								storesIdsInput.setOptions({
									enable: false,
									placeholder: 'No stores available'
								});
								storesIdsInput._placeholder();
								storesIdsInput._enable();
							</text>
						}
						});
                    </script>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("MultistoreDisabledWarning")
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="Active" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Active" />
            <span asp-validation-for="Active"></span>
        </div>
    </div>
</div>


<script>
    $('input[name=FromHour], input[name=ToHour]').timepicker({
        timeFormat: 'HH:mm',
        interval: 30,
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true,
    });
</script>