﻿@model CustomMegaMenuModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models
@using Nop.Core
@using Nop.Services.Common

@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext

@{

    Html.AppendCssFileParts($"~/Plugins/Widgets.HelloBar/Content/jquery-timepicker/jquery.timepicker.css");
    Html.AppendScriptParts($"~/Plugins/Widgets.HelloBar/Content/jquery-timepicker/jquery.timepicker.min.js");
    
    const string hideInfoBlockAttributeName = "CmsItemPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideDetailBlockAttributeName = "CmsItemPage.HideDetailBlock";
    var hideDetailBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideDetailBlockAttributeName);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="customMegaMenu-panels">
            <nop-panel asp-name="customMegaMenu-info" asp-icon="fa fa-info" asp-title="@T("Admin.Widgets.CustomMegaMenu.Info")"
                       asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">
                @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Areas/Admin/Views/CustomMegaMenu/_CreateOrUpdate.Info.cshtml", Model)
            </nop-panel>
        </nop-panels>
        @if (Model.Id > 0)
        {
            <nop-panels id="customMegaMenuChild-panels">
                <nop-panel asp-name="customMegaMenuChild-detail" asp-icon="fa fa-info" asp-title="@T("Admin.Widgets.CustomMegaMenuChild.Detail")"
                           asp-hide-block-attribute-name="@hideDetailBlockAttributeName" asp-hide="@hideDetailBlock">
                    @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Areas/Admin/Views/CustomMegaMenu/_CreateOrUpdate.Detail.cshtml", Model)
                </nop-panel>
            </nop-panels>
        }
    </div>
</div>



<script>

    $(document).ready(function () {

        @*$("#@Html.IdFor(x => x.CategoryId)").change(function () {
            toggleCates();
        });

        toggleCates();
        function toggleCates() {
            var categoryId = $("#@Html.IdFor(x => x.CategoryId)").val();
            if (categoryId == "0") {
                $("#pnlCustomName").show();
                $("#pnlCustomLink").show();
            }
            else {
                $("#pnlCustomName").hide();
            }
        }*@

        $("#@Html.IdFor(x => x.MenuViewId)").change(function () {
            toggleViews();
        });

        toggleViews();
        function toggleViews() {
            var menuViewId = $("#@Html.IdFor(x => x.MenuViewId)").val();
            if (menuViewId == "@((int)MenuViewTypes.Simple)") {
                $("#pnlDisplayPictureOfSubCategory").hide();
                $("#pnlCustomDisplayPicture").hide();
            }
            else {
                toggleTypes();
            }
        }

        $("#@Html.IdFor(x => x.MenuTypeId)").change(function () {
            toggleTypes();
        });

        toggleTypes();
        function toggleTypes() {
            var menuViewId = $("#@Html.IdFor(x => x.MenuViewId)").val();
            var menuTypeId = $("#@Html.IdFor(x => x.MenuTypeId)").val();
            if (menuTypeId == "@((int)MenuTypes.IsCustom)") {
                $("#pnlCategory").hide();
                $("#pnlDisplayPictureOfSubCategory").hide();
                if (menuViewId != "@((int)MenuViewTypes.Simple)")
                    $("#pnlCustomDisplayPicture").show();
                $("#customMegaMenuChild-detail").show();
                if ($('#customMegaMenu-grid').length > 0)
                    updateTable('#customMegaMenu-grid');
            }
            else if (menuTypeId == "@((int)MenuTypes.CategoryType)") {
                $("#pnlCategory").show();
                if (menuViewId != "@((int)MenuViewTypes.Simple)")
                    $("#pnlDisplayPictureOfSubCategory").show();
                $("#pnlCustomDisplayPicture").hide();
                $("#customMegaMenuChild-detail").hide();
                toggleCates();
            }
        }


    });

</script>