@model CustomMegaMenuModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models
@using Nop.Web.Framework.Models.DataTables
@using Nop.Core
@using Nop.Services.Common
@using Nop.Core.Domain.Common

@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@inject AdminAreaSettings adminAreaSettings

    <div  id="CustomMegaMenu-Detail" class="panel panel-default">
        <div class="panel-body">
            <input type="hidden" name="CustomMegaMenuId" id="CustomMegaMenuId" value="@Model.Id" />
            @await Html.PartialAsync("Table", new DataTablesModel
       {
           Name = "customMegaMenu-grid",
           UrlRead = new DataUrl("CustomMegaMenuChildList", "CustomMegaMenu", null),
           UrlDelete = new DataUrl("DeleteCustomMegaMenuChild", "CustomMegaMenu", null),
           SearchButtonId = "search-customMegaMenu",
           Length = adminAreaSettings.DefaultGridPageSize,
           LengthMenu = adminAreaSettings.GridPageSizes,
           Filters = new List<FilterParameter>
                {
                    new FilterParameter("CustomMegaMenuId"),
                },
           ColumnCollection = new List<ColumnProperty>
           {
                new ColumnProperty(nameof(CustomMegaMenuChildModel.PictureUrl))
                {
                    Title = T("Plugins.Widgets.CustomMegaMenuChild.Picture").Text,
                    Width = "100",
                    Render = new RenderPicture()
                },
                new ColumnProperty(nameof(CustomMegaMenuChildModel.Breadcrumb))
                {
                    Title = T("Plugins.Widgets.CustomMegaMenuChild.Name").Text,
                },
                new ColumnProperty(nameof(CustomMegaMenuChildModel.Link))
                {
                    Title = T("Plugins.Widgets.CustomMegaMenuChild.Link").Text,
                },
                new ColumnProperty(nameof(CustomMegaMenuModel.DisplayOrder))
                {
                    Title = T("Plugins.Widgets.CustomMegaMenuChild.DisplayOrder").Text,
                    Width = "100",
                },
                new ColumnProperty(nameof(CustomMegaMenuModel.Active))
                {
                    Title = T("Plugins.Widgets.CustomMegaMenuChild.Active").Text,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(CustomMegaMenuModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    ClassName = NopColumnClassDefaults.Button,
                    Width = "100",
                    Render = new RenderCustom("renderColumnEdit")
                },
                new ColumnProperty(nameof(CustomMegaMenuModel.Id))
                {
                    Title = T("Admin.Common.Delete").Text,
                    ClassName = NopColumnClassDefaults.Button,
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    Width = "100"
                }
            }
       })
        </div>
        <div class="panel-footer">
            <button type="button" id="btnAddNewRecord" class="btn btn-primary"
                    onclick="javascript:OpenWindow('@(Url.Action("AddCustomMegaMenuChild", "CustomMegaMenu", new { customMegaMenuId = Model.Id, btnId = "btnRefresh", formId = "custommegamenu-form"}))', 800, 800, true);return false;">
                @T("Admin.Widgets.CustomMegaMenu.AddChildRecord")
            </button>
            <input type="button" id="btnRefresh" class="btn btn-default" style="display: none" />
        </div>
        <script>
            function renderColumnEdit(data, type, row, meta) {
                return '<button onclick=\"javascript:OpenWindow(\'@Url.Action("EditCustomMegaMenuChild", "CustomMegaMenu")?customMegaMenuId=' + data + '&btnId=btnRefresh&formId=custommegamenu-form\', 800, 800, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
            }
            $("#btnRefresh").click(function () {
                //refresh grid
                updateTable('#customMegaMenu-grid');
            });
        </script>
    </div>
