﻿@model CustomMegaMenuChildModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models
@{
}
<input asp-for="CustomMegaMenuId" type="hidden" />
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<div class="panel-group">
    <div class="panel panel-default panel-popup">
        <div class="panel-body">
            @(Html.LocalizedEditor<CustomMegaMenuChildModel, CustomMegaMenuChildLocalizedModel>("custommegamenuchild-name-localized",
            @<div>
                 <div class="form-group">
                      <div class="col-sm-3">
                          <nop-label asp-for="@Model.Locales[item].Name" />
                      </div>
                      <div class="col-sm-9">
                          <nop-editor asp-for="@Model.Locales[item].Name" />
                          <span asp-validation-for="@Model.Locales[item].Name"></span>
                      </div>
                 </div>
                 <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
            </div>
            ,
            @<div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <nop-label asp-for="Name" />
                    </div>
                    <div class="col-sm-9">
                        <nop-editor asp-for="Name" asp-required="true" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>))
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Link" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Link" asp-required="true" />
                    <span asp-validation-for="Link"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="ParentMenuChildId" />
                </div>
                <div class="col-sm-9">
                    <nop-select asp-for="ParentMenuChildId" asp-items="Model.AvailableChildMenus" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">
                    <nop-label asp-for="Active" />
                </div>
                <div class="col-sm-9">
                    <nop-editor asp-for="Active" />
                    <span asp-validation-for="Active"></span>
                </div>
            </div>
        </div>
    </div>
</div>


