﻿@model CustomMegaMenuChildModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models
@{
    Layout = "_AdminPopupLayout";
}

<form asp-controller="CustomMegaMenu" asp-action="AddCustomMegaMenuChild" id="customMegaMenuChild-form"
      asp-route-btnId="@Context.Request.Query["btnId"]"
      asp-route-formId="@Context.Request.Query["formId"]">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Areas/Admin/Views/CustomMegaMenu/_CreateOrUpdateCustomMegaMenuChild.cshtml", Model)
        </div>
    </div>
</form>