﻿@model ConfigurationModel
@using Nop.Core
@using Nop.Web.Framework.Models.DataTables
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@inject Nop.Services.Stores.IStoreService storeService
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext
@{
    var stores = storeService.GetAllStores();
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Plugins.Widgets.CustomMegaMenu.ConfigureCustomMegaMenu").Text;

    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ConfigureCustomMegaMenu");

}

@{
    const string hideSearchBlockAttributeName = "CustomMegaMenuPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}


<form asp-controller="CustomMegaMenu" asp-action="Configure" method="post" id="custommegamenuconfigure-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Widgets.CustomMegaMenu.ConfigureCustomMegaMenu")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="PictureSize_OverrideForStore" asp-input="PictureSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="PictureSize" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="PictureSize" />
                            <span asp-validation-for="PictureSize"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="BannerSize_OverrideForStore" asp-input="BannerSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="BannerSize" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="BannerSize" />
                            <span asp-validation-for="BannerSize"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
