@model CustomMegaMenuModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Widgets.CustomMegaMenu.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CustomMegaMenu");
}

<form asp-controller="CustomMegaMenu" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Widgets.CustomMegaMenu.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Widgets.CustomMegaMenu.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Widgets.CustomMegaMenu/Areas/Admin/Views/CustomMegaMenu/_CreateOrUpdate.cshtml", Model)
</form>