@model CustomMegaMenuSearchModel
@using Nop.Plugin.Widgets.CustomMegaMenu.Models
@using Nop.Web.Framework.Models.DataTables
@using Nop.Core
@using Nop.Services.Common

@inject IGenericAttributeService genericAttributeService
@inject IWorkContext workContext

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Widgets.CustomMegaMenu.CustomMegaMenu").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("CustomMegaMenu");
}

@{
    const string hideSearchBlockAttributeName = "CmsContentPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Widgets.CustomMegaMenu.CustomMegaMenu")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchCountryId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchCountryId" asp-items="Model.AvailableCountries" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7" @(Model.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-customMegaMenu" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                   {
                   Name = "customMegaMenu-grid",
                   UrlRead = new DataUrl("List", "CustomMegaMenu", null),
                   SearchButtonId = "search-customMegaMenu",
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                    {
                        new FilterParameter(nameof(Model.SearchStoreId)),
                        new FilterParameter(nameof(Model.SearchCountryId))
                    },
                   ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(CustomMegaMenuModel.Category))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.CategoryId").Text,
                                Width = "200",
                            },
                            new ColumnProperty(nameof(CustomMegaMenuModel.Name))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.Name").Text,
                                Width = "200",
                            },
                            new ColumnProperty(nameof(CustomMegaMenuModel.BannerUrl))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.BannerId").Text,
                                Width = "100",
                                Render = new RenderPicture()
                            },
                            new ColumnProperty(nameof(CustomMegaMenuModel.MenuType))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.MenuTypeId").Text,
                                Width = "100",
                            },
                            new ColumnProperty(nameof(CustomMegaMenuModel.MenuView))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.MenuViewId").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(CustomMegaMenuModel.DisplayOrder))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.DisplayOrder").Text,
                                Width = "100",
                            },

                            new ColumnProperty(nameof(CustomMegaMenuModel.Active))
                            {
                                Title = T("Plugins.Widgets.CustomMegaMenu.Active").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(CustomMegaMenuModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                  })

                </div>
            </div>
        </div>
    </div>
</div>